.progress_dialog_header {
  align-items: center;

  ::ng-deep mat-spinner {
    width: 60px !important;
    height: 60px !important;
  }
 ::ng-deep .mat-progress-spinner svg {
    width: 60px !important;
    height: 60px !important;
  }
  .percentage_text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    font-weight: bold;
  }

  .store_setup {
    color: #450D77;
    font-weight: bold;
    font-size: 16px;
  }
}


.progresses_container {
  margin: 0 -15px;;
  padding: 10px 5px;

  mat-expansion-panel {
    background: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid var(--gray1) !important;
    margin: 10px 0;

    ::ng-deep .mat-expansion-panel-body {
      padding: 0 20px !important;
    }
  ;

    mat-panel-title {
      max-width: 50% !important;
      width: 50% !important;
    }

    mat-panel-description {
      align-items: center;
    }
  }

  .stage_of_progress {
    padding: 10px 5px;
    margin: 15px 0;
    border-bottom: 1px solid var(--gray1) !important;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .stage_of_progress:hover {
    background-color: var(--gray1) !important;
    border-radius: 10px;
  }

  .stage_of_progress:first-child {
    margin-top: 0;
  }

  .stage_of_progress:last-child {
    margin-bottom: 0;
    border-bottom: none !important;
  }
}

.stage_done {
  ::ng-deep .mat-expansion-indicator::after {
    height: 18px;
    width: 18px;
    background-image: url(./../../../../assets/images/icons/done.png);
    background-size: cover;
    border: none;
    border-width: 0 !important;
    transform: rotate(0) !important;

  }

  $dir: rtl;

  ::ng-deep .mat-expansion-indicator::after {
    @if $dir == rtl {
      margin-left: -10px;
    } @else {
      margin-right: -10px;
    }
  }

  ::ng-deep .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
    border-style: solid !important;
    border-width: 0 2px 2px 0 !important;
    content: "" !important;
    display: inline-block !important;
    padding: 3px !important;
    transform: rotate(45deg) !important;
    vertical-align: middle !important;
    background: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}
