<div class="footerContainer">
  <div class="container" style="width: 100%;padding: 20px">
    <div class="row" style="max-width: 100%">
      <div class="col-sm-12 col-md-4 info row">
        <img src="./assets/images/login/logo.png" width="45px" height="45px" />
        <p>5dma.vip {{ "LOGIN.LOGIN_FOOTER_DESC" | translate }}</p>


      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div  class="col-sm-12 col-md-4" style="padding: 0">
            <ul>
              <li [routerLink]="['/index/terms-conditions/',lang]">
                {{'LOGIN.OUR_TERMS_AND_CONDITIONS' | translate}}
              </li>
              <li [routerLink]="['/index/privacy-policy/',lang]">{{'LOGIN.PRIVACY_POLICY' | translate}}</li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4 links">
            <span>{{ "LOGIN.FOLLOW_US" | translate }}</span>
            <ul>
              <li>
                <a target="_blank" href="https://www.facebook.com/www.5dma.vip/">
                  <img
                    class="social"
                    style="object-fit: contain"
                    src="assets/images/login/facebook.png"
                    alt="facebook"
                  />{{ "LOGIN.FACEBOOK_LINK" | translate }}
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.youtube.com/channel/UCEtfKhbDWs9rUF3UGj6eiLw"
                >
                  <img class="social"  src="assets/images/login/youtube.png" alt="youtube" />{{
                  "LOGIN.YOUTUBE_LINK" | translate
                  }}
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://api.whatsapp.com/send?phone=+201551486651"
                >
                  <img class="social" src="assets/images/login/whatsapp.png" alt="whatsapp" />{{
                  "LOGIN.WHATSAPP_LINK" | translate
                  }}
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-4 contact">
            <span >{{ "LOGIN.CONTACTS" | translate }}</span>
            <ul>
              <li style="width: 120px">info@du-apps.com</li>
            </ul>
          </div>
        </div>

    </div>
      <div class="col-sm-6 col-md-2">
        <ul>
          <li>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=vip.khedma.khedmavip">
              <img class="store" src="assets/images/googleplay.png" alt="googleplay"
              />
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://apps.apple.com/eg/app/مزود-خدمة-service-provider/id1601191007"
            >
              <img class="store" src="assets/images/appstore.png" alt="appstore" />
            </a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://appgallery.huawei.com/app/C104814699"
            >
              <img class="store" src="assets/images/appgallery.png" alt="appgallery" />
            </a>
          </li>
        </ul>
      </div>

        </div>
    </div>
  <div class="copy-rights"><img style="width: 30px" src="./assets/images/digitalLogo.png" /><span >{{"LOGIN.COPYRIGHTS" | translate}}</span>
  </div>
  </div>

