.footerContainer {
  background-color: #300458;
  color: white;
  margin-top: 30px;

  .info {
    margin-top: 5px;
    p {
      margin: 5px !important;
    }
  }

  //p {
  //  width: 300px;
  //}

  span {
    font-weight: 600;
  }

  ul {
    padding: 0;
    //margin: 10px 20px;
  }

  li {

    .social {
      width: 20px;
      height: 20px;
      // height: 15px;
      margin: 0px 10px;
    }

    .store {
      object-fit: contain;
      width: 130px;
      height: 45px;
    }

    // justify-content: center;
    margin-bottom: 10px;
    list-style: none;
    width: max-content;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  // @media screen and (max-width: 700px) {
  //   flex-direction: column;
  // }
}

.copy-rights {
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A0944;
}
