<h2 style="text-align: center" mat-dialog-title>{{'DASHBOARD.DRAFT_ACCOUNTS' | translate}}</h2>
<mat-dialog-content [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'">
    <div class="draft_account row"  *ngFor="let draftAccount of draftAccounts">
      <div class="draft_account_info col-sm-7">
        <p>{{draftAccount.name}}</p>
        <p>{{draftAccount.code}}</p>
      </div>
      <div class="draft_account_actions col-sm-5 row" style="justify-content: space-between;align-items: center">
        <button (click)="approveDraftAccount(draftAccount.id)" mat-raised-button  class="col-sm-6" style="margin: 0 0 3px 0;background-color: #7d4bc3;color: white">{{'COMMON.ACCEPT' | translate}}</button>
        <button (click)="rejectDraftAccount(draftAccount.id)" mat-stroked-button color="accent" class="col-sm-5" >{{'COMMON.REJECT' | translate}}</button>
      </div>
    </div>
  </mat-dialog-content>
<mat-dialog-actions style="justify-content: center"><button mat-dialog-close  mat-raised-button color="primary">
  <span>{{ "COMMON.CANCEL" | translate }}</span>
</button>
</mat-dialog-actions>
