#map{
  width: 100%;
  height: 100%;
  display: block;
  border-radius:15px;
}
.innerMap{
  width: 100%;
  display: block;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.UploadCategoryContainer{
 margin: 15px auto;
  width: 150px;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .CategoryImgContainer{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }
}


button{
  background-color: #e44891;
  color: #fff;
  margin:  5px;
}

::ng-deep{
  .mat-horizontal-content-container{
    padding: 0 !important;
  }
}

mat-form-field{
  // direction: rtl;
}