<div class="login-container">
  <div  class="login">

<div style="display:flex;flex-direction: column;align-items: center">
  <img src="assets/images/newLogo.png">
  <h2 class="col-sm-12" style="margin-bottom: 24px">
    {{ "REERRAL.THANKS_FOR_REGISTER" | translate }}  5dma.vip
  </h2>
</div>

<!--    <p style="color: white">{{ "REERRAL.IN" | translate }}</p>-->
    <form style="z-index: 11" class="login-form" [formGroup]="referralForm" (ngSubmit)="onSubmit()">
      <div class="row" style="margin: 8px 0 16px 0">
        <div class="col-sm-12 start-sm" style="padding: 0;margin-top: -10px">
            <span class="ref-text">{{'REERRAL.HAVE_A_REERRAL' | translate}}</span>
        </div>
      </div>
      <mat-form-field appearance="outline" class="col-md-12">
        <mat-label>{{ "REERRAL.ACC_MANG_PHONE" | translate }}</mat-label>
        <input required matInput formControlName="accountManagerPhoneNumber" (keypress)="keyPress($event)"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-12">
        <mat-label>{{ "REERRAL.CUST_PHONE" | translate }}</mat-label>
        <input required matInput formControlName="customerPhoneNumber" (keypress)="keyPress($event)"/>
      </mat-form-field>
      <div class="register-text">
        <p>{{ "REERRAL.OR" | translate }}</p>
        <div [routerLink]="['../login']" class="col-sm-12 start-sm" style="padding: 0;">
          <button
            style="font-size: 13px;text-decoration: underline;margin-bottom: 10px"
            mat-button
            type="button"
            color="primary"
          >
            <span >{{'REERRAL.SKIP_TO_LOGIN' | translate}}</span>
          </button>
        </div>
      </div>
      <div style="width: 100%;">
        <button
          class="login-button"
          *ngIf="referralForm"
          mat-raised-button
          type="submit"
          color="primary"
          style="width: 100%;"

        >
          <span>{{ "LOGIN.FORM_BUTTON" | translate }}</span>
        </button>
      </div>
      <span class="mat-error error" *ngIf="referralForm.invalid">{{ "LOGIN.REFERRAL_MESSAGE" | translate }}</span>
    </form>

  </div>
</div>




