.login-container {
  min-height: 90vh;

  .login {
    padding: 20px;
    background: #410479;
    height: 400px;
position: relative;
    margin: 0px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 30px 0;
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
    }
    p {
      font-weight: bold;
      font-size: 18px;
    }
    img {
      width: 70px;
      object-fit: contain;
    }

    .login-form {
      min-width: 50%;
      //width: 50%;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
      padding: 30px;
      background-color: #fff;
      border-radius: 20px;
      margin: 20px 0;
      position: absolute;
      top:48%;
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: #F4F5F7;
        border-radius: 5px;
        outline: none;
      }
      .ref-text {
        color: #410479;
        font-weight: bold;
        font-size: 16px;
      }
      .register-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: #6C757D;
          font-size: 14px;
        }
      }
    }

    .login-button {
      background: linear-gradient(90deg, rgba(135, 49, 212, 1) 0%, rgba(122, 33, 202, 1) 100%);
      color: #fff;
      display: block;
      padding: 2px 0;
    }
  }
}

.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
  overflow: hidden;
}

.tp-box {
  width: 100%;
  height: 320px;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.tp-box__side {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.cdk-overlay-pane.my-dialog {
  position: relative !important;

  .close-button-left.mat-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .close-button-right.mat-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
