.article_page_body {
  min-height: 80vh;
  .article_details {
    margin-top: 20px;
  }
  .article_header {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 !important;
  }
  .other_articles {
    margin: 20px 0;
  }
  .articleCard {
    height: 280px;
    width: 260px;
    align-self: center;
    img {
      max-width: 100%;
      height: 180px;
      margin-bottom: 10px;
    }

    .break_line {
      width: 40px;
      height: 2px;
      border-bottom: 4px solid #6a1b9a;
      margin: 10px 15px;
    }

    .serviceTitle {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #300458;
      text-transform: capitalize;
      margin: 0 10px !important;
      line-height: 1.5em;
      height: 3em; /* height is 2x line-height, so two lines will display */
      overflow: hidden;
      width: 100%;
    }

    .serviceDescription {
      font-size: 13px;
      letter-spacing: 0px;
      color: #300458;
      margin-top: 5px !important;
    }
  }
 }
