<app-article-header></app-article-header>
<div class="page-container" style="background-color: #fff;">
  <div class="article_page_body row">
    <div class="col-sm-12 col-md-8 article_details">
      <img
           [src]="articleDetails?.largeImagePath? baseImageUrl+articleDetails.largeImagePath :'./assets/images/user.png'"
           onerror="this.src='./assets/images/user.png'" alt="">
      <p class="article_header">{{articleDetails?.name}}</p>
      <div [innerHTML]="articleDetails?.content"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-sm-12 col-md-3 other_articles">
      <div *ngFor="let article of articles"
           [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'"
           class="articleCard" (click)="navigateToArticle(article.id)">
        <div class="row" style="align-items: center;justify-content: flex-start">
          <img [src]="article.smallImagePath? baseImageUrl+article.smallImagePath :'./assets/images/user.png'"
               onerror="this.src='./assets/images/user.png'" alt="">
          <div class="break_line"></div>
          <p class="serviceTitle">{{article.name | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-index-footer [lang]="currLang"></app-index-footer>
