<mat-toolbar color="primary" style="padding: 0; margin: 0">
  <mat-icon *ngIf="_translate.currentLang !== 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/payable-invoice">
    arrow_back
  </mat-icon>
  <mat-icon *ngIf="_translate.currentLang === 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/payable-invoice">
    arrow_forward
  </mat-icon>
  <div style="font-weight: bold; padding: 8px;font-size: 16px;">
    {{ "PAYABLE_INVOICE.VIEW.TITLE" | translate }}
  </div>
  <div class="ToolbarSpacer"></div>
  <button mat-raised-button color="pink" style="width: 120px; margin: 0 10px" [matMenuTriggerFor]="actionsMenu">
    {{ "COMMON.ACTIONS" | translate
    }}<span class="material-icons actionMenuIcon">list</span>
  </button>
  <mat-menu #actionsMenu="matMenu" class="actionsMenu">
    <button mat-menu-item [disabled]="!invoicForm.touched && !invoicForm.valid"
            *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "
            (click)="save(invoicForm)">
      {{ "COMMON.SAVE" | translate }}
    </button>
    <mat-divider
      *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "></mat-divider>
    <button mat-menu-item [disabled]="!invoicForm.touched && !invoicForm.valid"
            (click)="save(invoicForm,'CLOSE')"
            *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "
    >{{ "COMMON.SAVE_AND_CLOSE" | translate }}</button>
    <mat-divider *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "></mat-divider>
    <button mat-menu-item [disabled]="!invoicForm.touched && !invoicForm.valid"
            *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "
            (click)="save(invoicForm,'NEW')"
    >{{ "COMMON.SAVE_AND_NEW" | translate }}</button>
    <mat-divider *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED) "></mat-divider>
    <button mat-menu-item [disabled]="!invoicForm.valid"
            *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED)"
            (click)="save(invoicForm,'POST')">
      {{ "COMMON.SAVE_AND_POST" | translate }}
    </button>
    <mat-divider
      *ngIf="( !order?.invoiceStatus['code'] || order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED)"></mat-divider>
    <button mat-menu-item
            *ngIf="paymentMethodId !== installmentId && order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"
            (click)="addPay()">
      {{ "PAYABLE_INVOICE.VIEW.PAY" | translate }}
    </button>
    <mat-divider
      *ngIf="paymentMethodId !== installmentId && order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"></mat-divider>
    <button mat-menu-item
            *ngIf="paymentMethodId === installmentId && order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"
            (click)="installmentPay()">
      {{ "PAYABLE_INVOICE.VIEW.INSTALMENT" | translate }}
    </button>
    <mat-divider
      *ngIf="paymentMethodId === installmentId && order?.invoiceStatus?.code === constant.invoiceStatus.ENTERED"></mat-divider>
    <button mat-menu-item
            *ngIf="order?.invoiceType.code === constant.PAYABLE_INVOICE_TYPES.STANDARD && order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"
            (click)="addSettlement()">
      {{'PREPAYMENT.PREPAYMENT' | translate}}
    </button>
    <mat-divider
      *ngIf="order?.invoiceType.code === constant.PAYABLE_INVOICE_TYPES.STANDARD && order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"></mat-divider>


    <button mat-menu-item
            *ngIf="order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"
            (click)="cancelInvoice()">{{"PAYABLE_INVOICE.VIEW.CANCEL_INVOICE" | translate }}</button>
    <mat-divider
      *ngIf="order?.invoiceStatus?.code === constant.invoiceStatus.POSTED"></mat-divider>

    <button mat-menu-item [routerLink]="'/finance/payable-invoice'">
      {{ "COMMON.CANCEL" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
<div style="margin: 20px 20px">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="span-cord" style="margin-top: 6px">{{'PAYABLE_INVOICE.VIEW.HEADER'|translate}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <ng-template [ngIf]="standard_invoice">
            <div *ngIf="supplierBalance > 0" class="alert alert-primary" style="display: flex;align-items: center"
                 role="alert">
              <div>
                {{'PREPAYMENT.WARRINING' | translate}}
              </div>
              <mat-icon>warning</mat-icon>
            </div>

          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-top: 7px;">
        <div class="row row-desk" style="justify-content: flex-end;margin-bottom: 8px;">
          <status-tracker
            [ngClass]="{'status-ar tracker-desk-ar':_translate.currentLang === 'ar','status-en tracker-desk-en':_translate.currentLang === 'en'}"
            *ngIf="order" [status]="payableInvoiceStatus"
            [currentStatus]="order.invoiceStatus"></status-tracker>
        </div>
        <form [formGroup]="invoicForm">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.INVOICE_DATE"  | translate }}</mat-label>
                <input matInput formControlName="invDate" required [matDatepicker]="picker1" [max]="maxDate"/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline" formGroupName="branch">
                <mat-label>{{ "PAYABLE_INVOICE.VIEW.BRANCH" | translate }}</mat-label>
                <mat-select formControlName="id" required (selectionChange)="branchChanged($event.value)">
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline" formGroupName="supplier">
                <mat-label>{{ "PAYABLE_INVOICE.VIEW.SUPPLIER" | translate }}</mat-label>
                <mat-select formControlName="id" required (selectionChange)="supplierChanged($event.value)">
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                    {{ supplier.fullName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline" formGroupName="invoiceType">
                <mat-label>{{ "PAYABLE_INVOICE.INVOICE_TYPE" | translate }}
                </mat-label>
                <mat-select formControlName="id" required (selectionChange)="invoiceTypeChanged($event.value)">
                  <mat-option *ngFor="let invoiceType of payableInvoiceTypes"
                              [value]="invoiceType?.id">
                    {{ invoiceType?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "ORDER.PAYMENT_METHOD" | translate }}
                </mat-label>
                <mat-select formControlName="paymentMethodId" required
                            (selectionChange)="paymentMethodChanged($event.value)">
                  <mat-option *ngFor="let paymentMethod of paymentMethods"
                              [value]="paymentMethod?.id">
                    {{ paymentMethod?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.PAYMENT_TERMS" | translate }}
                </mat-label>
                <mat-select formControlName="paymentTermId" required
                            (selectionChange)="paymentTermOnchange($event.value)">
                  <mat-option *ngFor="let paymentTerm of paymentTerms"
                              [value]="paymentTerm?.id">
                    {{ paymentTerm?.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- instalment -->

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.INVOICE_DUE_DATE"  | translate }}</mat-label>
                <input matInput formControlName="dueDate" required [matDatepicker]="picker2" [max]="maxDueDate"/>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <search-autocomplete
                [itemMultiCtrl]="invoicForm.controls['receivingOrderId']"
                [outlineLabel]="'FILTER.SELECT_RECEIVING' | translate"
                [data]="receivingOrders"
                (result)="orderChanged($event)">
              </search-autocomplete>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-tab-group (selectedTabChange)="ChangeTap($event)" [selectedIndex]='currentTapIndex'>
    <mat-tab>
      <ng-template mat-tab-label>
        {{'PAYABLE_INVOICE.VIEW.EXPENSES'|translate}}
      </ng-template>
      <ng-template matTabContent>
        <div style="display: flex;justify-content: flex-end;align-items: center">
          <button class="add-btn" [disabled]="order && order?.invoiceStatus?.code !== constant.invoiceStatus.ENTERED"
                  (click)="addExpense()">{{'COMMON.ADD' | translate}}</button>
        </div>
        <div class="row" style="overflow-x: auto;">
          <!-- *ngIf="itemsDataSource.filteredData" -->
          <mat-table #table [dataSource]="expansesDataSource" matSort>
            <ng-container matColumnDef="account">
              <mat-header-cell style=" max-width: 250px;text-align: center;" mat-sort-header *matHeaderCellDef
                               class="kufi">{{
                "PAYABLE_INVOICE.ACCOUNT" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <p
                  class="text-truncate">{{ expanse?.branchAccount?.account?.code + ' - ' + expanse?.branchAccount?.account?.name}}</p>
              </mat-cell>
            </ng-container>
            <!-- Item Number Column -->
            <ng-container matColumnDef="discription">
              <mat-header-cell style=" max-width: 350px;text-align: center;" mat-sort-header *matHeaderCellDef
                               class="kufi">{{
                "PAYABLE_INVOICE.VIEW.DESCRIPTION" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <p class="text-truncate">{{ expanse?.discription }}</p>
              </mat-cell>
            </ng-container>

            <!-- price Column -->
            <ng-container matColumnDef="price">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.PRICE" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <p class="text-truncate">{{ expanse?.price }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="salesTaxValue">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.TAX_RATE" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <p class="text-truncate">{{ expanse?.salesTaxValue }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.TOTAL" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <p class="text-truncate">{{ expanse?.price + expanse?.salesTaxValue }}</p>
              </mat-cell>
            </ng-container>
            <!-- request Column -->
            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let expanse">
                <div fxFlex="row" fxLayoutAlign="end center">
                  <button [disabled]="order && order?.invoiceStatus?.code !== constant.invoiceStatus.ENTERED"
                          mat-icon-button [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                  </button>
                  <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item
                            (click)="editExpense(expanse)"
                            [style.text-align]=" _translate?.currentLang === 'ar' ? 'right' : 'left'"
                            [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "COMMON.EDIT" | translate }}
                    </button>
                    <button [disabled]="!expanse.hasOwnProperty('id')" mat-menu-item (click)="deleteDialog(expanse)"
                            [style.text-align]="
                                      _translate?.currentLang === 'ar' ? 'right' : 'left'
                                    " [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "COMMON.REMOVE" | translate }}
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let expanse; columns: displayedColumns"
                     (click)="order?.invoiceStatus?.code !== constant.invoiceStatus.ENTERED ? $event.stopPropagation() : editExpense(expanse)">
            </mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{'PAYABLE_INVOICE.VIEW.LINES'|translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of order?.invoiceDetails">
            <div class="mat-card recievingItem">
              <div class="row">
                <div class="row col-md-12 col-sm-12 itemHeader" [style]="'background-image: url('+ ( item['branchItem']['item']?.imagePath ?
                 baseImageUrl +  item['branchItem']['item']?.imagePath
                : './assets/images/item.png')+');'"></div>
                <div class="row col-md-12 col-sm-12 itemRecievingInfo">
                  <div class="span-invoice-text col-md-12 col-sm-12"
                       style="cursor: pointer;  font-weight: bold !important;"
                       [matTooltip]="item['branchItem']['item']['nameAr']">
                    {{ item["branchItem"]["item"]["name"] | truncate: [50, "..."] }}
                  </div>
                  <div *ngIf="item['branchItem']['barCode']" class="col-md-6 col-sm-6">
                    <span class="span-invoice-text">{{ "RECIVING_ORDER_VIEW.ITEM_NUMBER" | translate }}</span>
                  </div>
                  <div *ngIf="item['branchItem']['barCode']" class="col-md-6 col-sm-6 itemValue">
                    <span class="span-invoice-centerd">{{ item["branchItem"]["barCode"] }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <span class="span-invoice-text">{{ "RECIVING_ORDER_VIEW.UOM" | translate }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 itemValue">
                    <span class="span-invoice-centerd">{{ item["unit"]["nameAr"] }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <span class="span-invoice-text">{{ "PAYABLE_INVOICE.VIEW.PRICE" | translate }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 itemValue">
                    <span class="span-invoice-centerd">
                    {{ item["price"] | currency:' '}}
                    </span>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <span class="span-invoice-text">  {{ "PAYABLE_INVOICE.VIEW.QTY" | translate }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 itemValue">
                    <span class="span-invoice-centerd">  {{ item["qty"] }}</span>
                  </div>
                  <div class="col-sm-6 col-md-6">
                    <span class="span-invoice-text"> {{ "PAYABLE_INVOICE.VIEW.TAX" | translate }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 itemValue">
                    <span class="span-invoice-centerd"> {{ item["salesTaxValue"] | currency:' ' }}</span>
                  </div>
                  <ng-template [ngIf]="item?.color?.id">
                    <div class="col-sm-6 col-md-6">
                      <span class="span-invoice-text">{{'ORDER.COLOR' |translate}}</span>
                    </div>
                    <div class="col-md-6 col-sm-6 itemValue">
                      <span class="span-invoice-centerd">{{ item?.color?.name }}</span>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="item?.size?.id">
                    <div class="col-sm-6 col-md-6">
                      <span class="span-invoice-text"> {{'ORDER.SIZE' |translate}}</span>
                    </div>
                    <div class="col-md-6 col-sm-6 itemValue">
                      <span class="span-invoice-centerd"> {{ item?.size?.name }}</span>
                    </div>
                  </ng-template>

                  <div class="col-sm-6 col-md-6">
                    <span class="span-invoice-text">{{ "PAYABLE_INVOICE.VIEW.SUM" | translate }}</span>
                  </div>
                  <div class="col-md-6 col-sm-6 itemValue">
                    <span
                      class="span-invoice-centerd">{{ ((item["price"] * item["qty"]) - item["salesTaxValue"])| currency:' ' }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!order || order?.invoiceDetails?.length == 0" style="height: 120px">
            <div class="col-sm-12" style="text-align: center">
              <h3>{{ 'COMMON.NO_DATA_FOUND' |translate }}</h3>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="order" [disabled]="order?.invoiceStatus?.code !== constant.invoiceStatus.INSTALL">
      <ng-template mat-tab-label>
        {{'PAYABLE_INVOICE.VIEW.INSTALMENTS'|translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="row" style="overflow-x: auto;">
          <!-- *ngIf="itemsDataSource.filteredData" -->
          <mat-table #table [dataSource]="instalmentDataSource" matSort>
            <ng-container matColumnDef="dueDate">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">{{
                "PAYABLE_INVOICE.VIEW.INSTALMENT_DATE" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let instalItem">
                <p class="text-truncate">{{ instalItem?.dueDate}}</p>
              </mat-cell>
            </ng-container>
            <!-- Item Number Column -->
            <ng-container matColumnDef="installValue">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">{{
                "PAYABLE_INVOICE.INSTALL_VALUE" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let instalItem">
                <p class="text-truncate">{{ instalItem?.installValue}}</p>
              </mat-cell>
            </ng-container>

            <!-- paid Column -->
            <ng-container matColumnDef="paid">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.IS_PAID" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let instalItem">
                <mat-icon *ngIf="instalItem?.isPaid === false" style="color: #f60404" class="secondary-text">close
                </mat-icon>
                <mat-icon *ngIf="instalItem?.isPaid === true" style="color: #00AE4D" class="secondary-text">done
                </mat-icon>
              </mat-cell>
            </ng-container>
            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let instalItem">
                <div fxFlex="row" fxLayoutAlign="end center">
                  <button mat-icon-button [disabled]="instalItem?.isPaid === true" [matMenuTriggerFor]="moreMenu"
                          (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                  </button>
                  <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item
                            (click)="addInstalmentPay(instalItem)"
                            [style.text-align]=" _translate?.currentLang === 'ar' ? 'right' : 'left'"
                            [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "PAYABLE_INVOICE.VIEW.INSTALMENT_PAYMENT" | translate }}
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="instalmentDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let instalItem; columns: instalmentDisplayedColumns">
            </mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="order" [disabled]="order?.invoiceType?.code !== constant.PAYABLE_INVOICE_TYPES.STANDARD">
      <ng-template mat-tab-label>
        {{'PAYABLE_INVOICE.VIEW.INVOICE_SETTLEMENTS'|translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="row" style="overflow-x: auto;">
          <mat-table #table [dataSource]="settlementsDataSource" matSort>
            <ng-container matColumnDef="createdDate">
              <mat-header-cell  mat-sort-header *matHeaderCellDef
                               class="kufi">{{'PAYABLE_INVOICE.SETTLEMENT_DATE' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let settlement">
                <p class="text-truncate">{{ settlement?.prepaymentInvoice?.createdDate }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.SETTLEMENT_AMOUNT" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let settlement">
                <p class="text-truncate">{{ settlement?.price }}</p>
              </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="settlementsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let settlement; columns: settlementsDisplayedColumns">
            </mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="order">
      <ng-template mat-tab-label>
        {{'PAYABLE_INVOICE.VIEW.PAID'|translate}}
      </ng-template>
      <ng-template matTabContent>
        <div class="row" style="overflow-x: auto;">
          <mat-table #table [dataSource]="paysDataSource" matSort>
            <ng-container matColumnDef="account">
              <mat-header-cell  mat-sort-header *matHeaderCellDef
                                class="kufi">{{'PAYABLE_INVOICE.ACCOUNT' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let pay">
                <p
                  class="text-truncate">{{ pay?.account?.code + ' - ' +  pay?.account?.name }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdDate">
              <mat-header-cell  mat-sort-header *matHeaderCellDef
                                class="kufi">{{'PAYABLE_INVOICE.VIEW.PAYMENT_DATE' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let pay">
                <p class="text-truncate">{{ pay?.createdDate }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="paidAmount">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.PAID_AMOUNT" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let pay">
                <p class="text-truncate">{{ pay?.paidAmount }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="payStatus">
              <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
                "PAYABLE_INVOICE.VIEW.PAY_STATUS" | translate
                }}</mat-header-cell>
              <mat-cell *matCellDef="let pay">
                <p class="text-truncate">{{ pay?.invoicePayStatus?.name }}</p>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let pay">
                <div fxFlex="row" fxLayoutAlign="end center">
                  <button
                    *ngIf="pay?.invoicePayStatus?.id"
                    [disabled]="pay?.invoicePayStatus?.id === 3"
                          mat-icon-button [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                  </button>
                  <mat-menu #moreMenu="matMenu">
                    <button *ngIf="pay?.invoicePayStatus?.id === 1" mat-menu-item
                            (click)="postPayableInvoicePay(pay)"
                            [style.text-align]=" _translate?.currentLang === 'ar' ? 'right' : 'left'"
                            [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "PAYABLE_INVOICE.VIEW.POSTING_PAY" | translate }}
                    </button>
                    <button *ngIf="pay?.invoicePayStatus?.id === 2" mat-menu-item (click)="cancelPayableInvoicePay(pay)"
                            [style.text-align]="
                                      _translate?.currentLang === 'ar' ? 'right' : 'left'
                                    " [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "PAYABLE_INVOICE.VIEW.CANCEL_POSTING" | translate }}
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="paysDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let pay; columns: paysDisplayedColumns">
            </mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="span-cord">{{'PAYABLE_INVOICE.VIEW.SUMMARY'|translate}}</span>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row summar-div">
        <div class="col-sm-6">{{ "PAYABLE_INVOICE.VIEW.INVENTORY_ITEMS_AMOUNT" | translate }}</div>
        <div class="col-sm-6 itemValue">{{ order?.invoiceDetails ? order?.invoiceDetails?.length : 0}}</div>
        <div class="col-sm-6">{{ "PAYABLE_INVOICE.VIEW.TAX_AMOUNT" | translate }}</div>
        <div class="col-sm-6 itemValue">
            {{ taxAmount ? taxAmount : 0 | currency:' '}}
        </div>
        <div class="col-sm-6">
          {{ "PAYABLE_INVOICE.VIEW.TOTAL_AMOUNT" | translate }}
        </div>
        <div class="col-sm-6 itemValue">
            {{ totalAmount ? totalAmount : 0 | currency:' ' }}
        </div>
        <div class="col-sm-6">
          {{ "PAYABLE_INVOICE.VIEW.PAID_AMOUNT" | translate }}
        </div>
        <div class="col-sm-6 itemValue">
            {{ paidAmount ? paidAmount : 0 | currency:' '}}
        </div>
        <div class="col-sm-6">{{ "ORDER_VIEW.REMAINING" | translate }}</div>
        <div class="col-sm-6 itemValue">{{ totalAmount - paidAmount | currency:' '}}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

