<div id="dashboard-analytics" class="page-layout blank" style="width: 100% !important;">
  <div class="row" style="width: 100% !important;">
    <div class="col-lg-9 col-md-12 col-sm-12 ipad">
      <ng-template [ngIf]="constant.userIsAdmin()">
        <div class="row firstRight">
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select (change)="onUserTypesChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.USER_TYPE"|translate}}</option>
                  <option [value]="userType.id" *ngFor="let userType of userTypes">{{userType.name}}</option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{usersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.USERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
              <div class="cardFooter">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12  col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <div>
                  <select (change)="customerCountServiceChange($event.target.value)">
                    <option [value]="null">{{"DASHBOARD.SERVICE"|translate}}</option>
                    <option [value]="service.id" *ngFor="let service of services">{{service.name}}</option>
                  </select>
                  <select (change)="customerCountPeriodChange($event.target.value)">
                    <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{customersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.CUSTOMERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12  col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select (change)="draftOrdersCountPeriodChange($event.target.value)">
                  <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                  </option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftOrdersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.DRAFT_ORDERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select name="period" (change)="approvedOrdersCountTypeChange($event.target.value)">
                  <option [value]="orderType.value" *ngFor="let orderType of orderTypes">{{orderType.bundleCode
                    |translate}}</option>
                </select>
                <select (change)="approvedOrdersCountPeriodChange($event.target.value)">
                  <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                  </option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{approvedOrdersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select (change)="accountManagersCountCountryChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.COUNTRY"|translate}}</option>
                  <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{accountManagersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.ACCOUNT_MANAGERS"|translate}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="draftItemsCount || draftItemRequestCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftItemsCount}}</span>
                  <span style="cursor: pointer;color: #039BE5;" (click)="navigateToDraftItems()"
                        class="cardTitle">{{"DASHBOARD.DRAFT_ITEMS"|translate}}</span>
                <ng-template [ngIf]="draftItemRequestCount">
                  <div class="horizontal-border-req"></div>
                  <div style="padding-top: 13px">
                    <span class="span-req">{{draftItemRequestCount}}</span>
                    <span style="cursor: pointer;color: #039BE5;" (click)="navigateToDraftItemsRequest()"
                          class="cardTitle">{{"DASHBOARD.DRAFT_REQUEST_ITEMS"|translate}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="draftCategoriesCount || draftCategoriesRequestCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftCategoriesCount}}</span>
                <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftCategories()"
                      class="cardTitle">{{"DASHBOARD.DRAFT_CATEGORIES"|translate}}</span>
                <ng-template [ngIf]="draftCategoriesRequestCount">
                  <div class="horizontal-border-req"></div>
                  <div style="padding-top: 13px">
                    <span class="span-req">{{draftCategoriesRequestCount}}</span>
                    <span style="cursor: pointer;color: #039BE5;" (click)="navigateToDraftCategoriesRequest()"
                          class="cardTitle">{{"DASHBOARD.DRAFT_REQUEST_CATEGORIES"|translate}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="draftSubcategoriesCount || draftSubcategoriesRequestCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftSubcategoriesCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.DRAFT_SUB_CATEGORIES"|translate}}</span>
                <ng-template [ngIf]="draftSubcategoriesRequestCount">
                  <div class="horizontal-border-req"></div>
                  <div style="padding-top: 13px">
                    <span class="span-req">{{draftSubcategoriesRequestCount}}</span>
                    <span style="color: #039BE5;"
                          class="cardTitle">{{"DASHBOARD.DRAFT_REQUEST_SUB_CATEGORIES"|translate}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="draftBrandsCount || draftBrandRequestCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftBrandsCount}}</span>
                <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftBrands()"
                      class="cardTitle">{{"DASHBOARD.DRAFT_BRANDS"|translate}}</span>
                <ng-template [ngIf]="draftBrandRequestCount">
                  <div class="horizontal-border-req"></div>
                  <div style="padding-top: 13px">
                    <span class="span-req">{{draftBrandRequestCount}}</span>
                    <span style="cursor: pointer;color: #039BE5;" (click)="navigateToDraftBrandsRequest()"
                          class="cardTitle">{{"DASHBOARD.DRAFT_REQUEST_BRANDS"|translate}}</span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="draftAccountsCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftAccountsCount}}</span>
                <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftAccounts()"
                      class="cardTitle">{{"DASHBOARD.DRAFT_ACCOUNTS"|translate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="topElementChart">
          <div class="canvasHeader">
            <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CUSTOMERS'|translate}}</h3>
            <div class="ToolbarSpacer"></div>
            <mat-button-toggle-group (change)="onTopCustomerPeriodChanged($event)" [value]="periods[0].value">
              <ng-template ngFor let-period [ngForOf]="periods">
                <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
          <mat-divider></mat-divider>
          <div class="canvasContainer">
            <canvas baseChart [datasets]="topCustomersChart.data.datasets" [labels]="topCustomersChart.data.labels"
                    [colors]="topCustomersChart.colors" [options]="topCustomersChart.options"
                    [chartType]="topCustomersChart.type">
            </canvas>
          </div>
        </div>
        <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;">
          <div class="canvasHeader">
            <h3 class="truncate" matTooltip="Info about the action">
              {{'DASHBOARD.TOP_CUSTOMER_SALES'|translate}}
            </h3>
            <div class="ToolbarSpacer"></div>
            <select (change)="topCustomerSalesCountryChange($event.target.value)">
              <option [value]="null">{{"DASHBOARD.COUNTRY"|translate}}</option>
              <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
            </select>
            <mat-button-toggle-group (change)="onTopCustomerSalesChanged($event)" [value]="periods[0].value">
              <ng-template ngFor let-period [ngForOf]="periods">
                <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
          <mat-divider></mat-divider>
          <div class="canvasContainer">
            <canvas baseChart [datasets]="topCustomerSalesChart.data.datasets"
                    [labels]="topCustomerSalesChart.data.labels" [colors]="topCustomerSalesChart.colors"
                    [options]="topCustomerSalesChart.options" [chartType]="topCustomerSalesChart.type">
            </canvas>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="constant.userIsCustomer() || constant.userIsSupervisor() ">
        <div class="row firstRight first_cards">
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select class="col-sm-6 col-md-6" (change)="approvedOrdersCountPeriodChange($event.target.value)"
                        style="flex: 0 0 50px;">
                  <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                  </option>
                </select>
                <select (change)="approvedOrdersCountTypeChange($event.target.value)">
                  <option [value]="orderType.value" *ngFor="let orderType of orderTypes">
                    {{orderType.bundleCode|translate}}</option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{approvedOrdersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{consumersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.CONSUMERS"|translate}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{employeesCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.EMPLOYEES"|translate}}</span>
              </div>
              <div class="cardFooter">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{branchsCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.BRANCHES"|translate}}</span>
              </div>
              <div class="cardFooter">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{categoriesCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.CATEGORIES"|translate}}</span>
              </div>
              <div class="cardFooter">

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{subCategoriesCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.SUB_CATEGORIES"|translate}}</span>
              </div>
              <div class="cardFooter">
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{itemsCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.ITEMS"|translate}}</span>
              </div>
              <div class="cardFooter">

              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardBody">
                <span>{{suppliersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.SUPPLIERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
              <div class="cardFooter">
              </div>
            </div>
          </div>
        </div>
        <div class="topElementChart">
          <div class="canvasHeader">
            <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CONSUMERS' |translate}}</h3>
            <div class="ToolbarSpacer"></div>
            <mat-button-toggle-group (change)="onTopConsumerPeriodChanged($event)" [value]="periods[0].value">
              <ng-template ngFor let-period [ngForOf]="periods">
                <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
          <mat-divider></mat-divider>
          <div class="canvasContainer">
            <canvas baseChart [datasets]="topConsumersChart.data.datasets" [labels]="topConsumersChart.data.labels"
                    [colors]="topConsumersChart.colors" [options]="topConsumersChart.options"
                    [chartType]="topConsumersChart.type">
            </canvas>
          </div>
        </div>
        <div class="topElementChart">
          <div class="canvasHeader">
            <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_SALES_ITEMS'|translate}}</h3>
            <div class="ToolbarSpacer"></div>
            <mat-button-toggle-group (change)="onTopSalesItemChanged($event)" [value]="periods[0].value">
              <ng-template ngFor let-period [ngForOf]="periods">
                <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
          <mat-divider></mat-divider>
          <div class="canvasContainer">
            <canvas baseChart [datasets]="topSalesItemsChart.data.datasets"
                    [labels]="topSalesItemsChart.data.labels" [colors]="topSalesItemsChart.colors"
                    [options]="topSalesItemsChart.options" [chartType]="topSalesItemsChart.type">
            </canvas>
          </div>
        </div>
      </ng-template>
      <!-- ----------------------------------------------------------------------------------------------------------------------- -->
      <!-- ----------------------------------------------------------------------------------------------------------------------- -->
      <ng-template [ngIf]="constant.userIsAccManager()">
        <div class="row firstRight">
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select (change)="customerCountServiceChangeAM($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.SERVICE"|translate}}</option>
                  <option [value]="service.id" *ngFor="let service of services">{{service.name}}</option>
                </select>
                <select (change)="customerCountPeriodChangeAM($event.target.value)">
                  <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                  </option>
                </select>
              </div>
              <div class="cardBody">
                <span>{{customersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.CUSTOMERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">
                <select name="period" (change)="approvedOrdersCountTypeChangeAM($event.target.value)">
                  <option [value]="orderType.value" *ngFor="let orderType of orderTypes">{{orderType.bundleCode
                    |translate}}</option>
                </select>
                <select (change)="approvedOrdersCountPeriodChangeAM($event.target.value)">
                  <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                  </option>
                </select>
              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{approvedOrdersCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
                <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
              </div>
            </div>
          </div>
        </div>
        <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;">
          <div class="canvasHeader">
            <h3>{{'DASHBOARD.ORDERS'|translate}}</h3>
            <div class="ToolbarSpacer"></div>
            <mat-button-toggle-group (change)="ordersPeriodChangeAM($event.value)" [value]="periods[0].value">
              <ng-template ngFor let-period [ngForOf]="periods">
                <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
          <mat-divider></mat-divider>
          <div class="canvasContainer">
            <canvas baseChart [datasets]="ordersChart.data.datasets" [labels]="ordersChart.data.labels"
                    [colors]="ordersChart.colors" [options]="ordersChart.options"
                    [chartType]="ordersChart.type">
            </canvas>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="constant.userIsBackOffice()">
        <div class="row firstRight">
          <div *ngIf="draftItemsCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftItemsCount}}</span>
                <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftItems()"
                      class="cardTitle">{{"DASHBOARD.DRAFT_ITEMS"|translate}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="draftCategoriesCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftCategoriesCount}}</span>
                <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftCategories()"
                      class="cardTitle">{{"DASHBOARD.DRAFT_CATEGORIES"|translate}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="draftSubcategoriesCount" class="col-lg-3 col-md-12 col-sm-6">
            <div class="smallCard">
              <div class="cardHeader">

              </div>
              <div class="cardBody" style="padding: 0 5px 20px;">
                <span>{{draftSubcategoriesCount}}</span>
                <span class="cardTitle">{{"DASHBOARD.DRAFT_SUB_CATEGORIES"|translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;"
           *ngIf="constant.userIsAdmin() || constant.userIsCustomer()">
        <div class="canvasHeader">
          <h3>{{'DASHBOARD.ORDERS'|translate}}</h3>
          <div class="ToolbarSpacer"></div>
          <ng-template [ngIf]="constant.userIsAdmin()">
            <select (change)="orderPaymentMethodChange($event.target.value)">
              <option [value]="null">{{"DASHBOARD.PAYMENT_METHOD"|translate}}</option>
              <option [value]="paymentMethod.id" *ngFor="let paymentMethod of paymentMethods">
                {{paymentMethod.name}}</option>
            </select>
            <select (change)="orderDeliveryMethodChange($event.target.value)">
              <option [value]="null">{{"DASHBOARD.DELIVERY_METHOD"|translate}}</option>
              <option [value]="deliveryMethod.id" *ngFor="let deliveryMethod of deliveryMethods">
                {{deliveryMethod.name}}</option>
            </select>
          </ng-template>
          <select (change)="orderTypeChange($event.target.value)">
            <option [value]="null">{{"DASHBOARD.ORDER_TYPE_TITLE"|translate}}</option>
            <option [value]="orderType.value" *ngFor="let orderType of orderTypes">
              {{orderType.bundleCode|translate}}</option>
          </select>
          <mat-button-toggle-group (change)="ordersPeriodChange($event.value)" [value]="periods[0].value">
            <ng-template ngFor let-period [ngForOf]="periods">
              <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
            </ng-template>
          </mat-button-toggle-group>
        </div>
        <mat-divider></mat-divider>
        <div class="canvasContainer">
          <canvas baseChart [datasets]="ordersChart.data.datasets" [labels]="ordersChart.data.labels"
                  [colors]="ordersChart.colors" [options]="ordersChart.options" [chartType]="ordersChart.type">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 DashboardSmallScreen MrgRight">
      <ng-template [ngIf]="constant.userIsAdmin() || constant.userIsCustomer() || constant.userIsSupervisor()">
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.REVENUE"|translate}}</span>
            <div>
              <select name="period" (change)="approvedRevenueCountTypeChange($event.target.value)">
                <option [value]="actualExpected.value"
                        *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                  |translate}}</option>
              </select>
              <select (change)="approvedRevenueCountPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="cardBody">
            <span>{{approvedRevenueSum}}</span>
          </div>
          <span class="horizontal-border"></span>
          <div class="BigCardFooter">
            <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span></button>
          </div>
        </div>
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.COST"|translate}}</span>
            <div>
              <select (change)="approvedCostOfGoodsPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="cardBody">
            <span>{{approvedCostSum}}</span>
          </div>
          <span class="horizontal-border"></span>
          <div class="BigCardFooter">
            <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span></button>
          </div>
        </div>
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.PROFIT"|translate}}</span>
            <div>
              <select name="period" (change)="approvedProfitCountTypeChange($event.target.value)">
                <option [value]="actualExpected.value"
                        *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                  |translate}}</option>
              </select>
              <select (change)="approvedProfitCountPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="cardBody">
            <span>{{ approvedProfitSum}}</span>
          </div>
          <span class="horizontal-border"></span>
          <div class="BigCardFooter">
            <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span></button>
          </div>
        </div>
      </ng-template>
      <!-- Branch Charts-->
      <ng-template [ngIf]="constant.userIsCustomer() || constant.userIsSupervisor()">
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_REVENUE"|translate}}</span>
            <div>
              <select name="period" (change)="revenueBranchChartTypeChange($event.target.value)">
                <option [value]="actualExpected.value"
                        *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                  |translate}}</option>
              </select>
              <select (change)="branchRevenueChartPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="canvasContainer">
            <canvas baseChart
                    [datasets]="branchRevenueChart.data.datasets"
                    [labels]="branchRevenueChart.data.labels"
                    [colors]="branchRevenueChart.colors"
                    [options]="[branchRevenueChart.options]"
                    [chartType]="branchRevenueChart.type">
            </canvas>
          </div>
        </div>
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_PROFIT"|translate}}</span>
            <div>
              <select name="period" (change)="profitBranchChartTypeChange($event.target.value)">
                <option [value]="actualExpected.value"
                        *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                  |translate}}</option>
              </select>
              <select (change)="branchProfitChartPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="canvasContainer">
            <canvas baseChart
                    [datasets]="branchProfitChart.data.datasets"
                    [labels]="branchProfitChart.data.labels"
                    [colors]="branchProfitChart.colors"
                    [options]="[branchProfitChart.options]"
                    [chartType]="branchProfitChart.type">
            </canvas>
          </div>
        </div>
        <div class="BigCard">
          <div class="BigCardHeader">
            <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_COST"|translate}}</span>
            <div>
              <select (change)="branchCostPeriodChange($event.target.value)">
                <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                </option>
              </select>
            </div>
          </div>
          <span class="horizontal-border"></span>
          <div class="canvasContainer">
            <canvas baseChart
                    [datasets]="branchCostChart.data.datasets"
                    [labels]="branchCostChart.data.labels"
                    [colors]="branchCostChart.colors"
                    [options]="[branchCostChart.options]"
                    [chartType]="branchCostChart.type">
            </canvas>
          </div>
        </div>
      </ng-template>
    </div>

  </div>
</div>
