.page-layout .blank {
}

.page-layout {
  padding-top: 10px;
}

canvas {
  width: 100%;
}

.first_cards {
  .col-sm-6 {
    margin: 10px 0;
    padding: 0 5px;
  }
}

.smallCard {
  width: 100%;
  height: 155px;
  background: #fff;
  border-radius: 10px;
  //margin: 10px;
  margin-bottom: 12px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cardHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 29px;
    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 11px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 34px;
      display: block;
      //padding: 20px;
      color: #468df2;
    }
  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}

.BigCard{
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .dashboardCardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 2px;
    display: block;
    margin-right: 16px;
  }

  .BigCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;

    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }

  }

  canvas {
    width: auto !important;
    display: block;
  }

  .BigCardFooter {
    width: 100%;
    display: flex;
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 10px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 34px;
      display: block;
      //padding: 20px;
      color: #468df2;
    }
  }
  .cardCartBody{

  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}
.chartHeight{
  //height: 430px;
  justify-content: flex-start;
  canvas{
    width: 250px !important;
    height: 349px !important;
  }
}
.BigChartCard{
  width: 100%;
  height: 455px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .dashboardCardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 2px;
    display: block;
    margin-right: 16px;
  }

  .BigCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;

    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }
  }
  canvas {
    width: 449px !important;
    height: 400px !important;
  }
  .BigCardFooter {
    width: 100%;
    display: flex;
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 10px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 34px;
      display: block;
      //padding: 20px;
      color: #468df2;
    }
  }
  .cardCartBody{

  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}
.topElementChart {
  width: 95%;
  margin: 25px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 20%);

  .canvasHeader {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;

    h3 {
      margin: 0 !important;
      font-weight: bold;
      padding: 5px 0px;
      text-align: end;
    }
  }

}

.canvasHeader select {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(255 255 255 / 30%);
  margin: 0 5px;
  // background: transparent;
}

mat-button-toggle-group {
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 8%);
}

mat-button-toggle-group .mat-button-toggle-checked {
  background-color: #e44891;
  color: #FFF !important;
  font-weight: bold !important;
}

.horizontal-border {
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

@media (min-width: 1281px) {
  .MrgRight{
    margin-right: -3px;
  }
  .ipad {
    margin-right: -6px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .smallCard {
    width: 135px;
    height: 136px;
  }
  .BigCard {
    // width: 377px;
    width: 290px;
  }
  .firstRight {
    //margin-right: -13px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 290px;
  }
  .firstRight {
    //margin-right: -17px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  .smallCard {
    width: 153px;
    height: 136px;
  }
  .BigCard {
    // width: 377px;
    width: 328px;
  }
  .firstRight {
    //margin-right: -13px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 325px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .smallCard {
    width: 166px;
    height: 138px;
  }
  .BigCard {
    width: 343px;
  }
  .firstRight {
    //margin-right: -17px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 341px;
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: portrait) {
  .smallCard {
    width: 182px;
    height: 136px;
  }
  .BigCard {
    width: 377px;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 373px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .BigCard {
    width: 384px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 93%;
  }
  .BigCard {
    width: 100%;
    margin-right: 25px;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .ipad {
    margin-right: -19px;
  }
  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 93%;
  }
  .BigCard {
    width: 110%;
    margin-right: 0;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

@media (min-width: 420px) and (max-width: 767px) {

  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 96%;
  }
  .BigCard {
    width: 100% ;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

.span-req{
  font-size: 34px;
  display: block;
  color: #468df2;
}
.horizontal-border-req{
  border-bottom: 1px solid #E8E8E8;
  display: block;
  width: 175px;
  min-width: 100%;
}
