@font-face {
    font-family: 'naskh';
    font-style: normal;
    font-weight: 400;
    src: url(NotoNaskhArabic-Regular.eot);
    src: url(NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'), url(NotoNaskhArabic-Regular.woff2) format('woff2'), url(NotoNaskhArabic-Regular.woff) format('woff'), url(NotoNaskhArabic-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'naskh';
    font-style: normal;
    font-weight: 700;
    src: url(NotoNaskhArabic-Bold.eot);
    src: url(NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'), url(NotoNaskhArabic-Bold.woff2) format('woff2'), url(NotoNaskhArabic-Bold.woff) format('woff'), url(NotoNaskhArabic-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'kufi';
    font-style: normal;
    font-weight: 400;
    src: url(NotoKufiArabic-Regular.eot);
    src: url(NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'), url(NotoKufiArabic-Regular.woff2) format('woff2'), url(NotoKufiArabic-Regular.woff) format('woff'), url(NotoKufiArabic-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'kufi';
    font-style: normal;
    font-weight: 700;
    src: url(NotoKufiArabic-Bold.eot);
    src: url(NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'), url(NotoKufiArabic-Bold.woff2) format('woff2'), url(NotoKufiArabic-Bold.woff) format('woff'), url(NotoKufiArabic-Bold.ttf) format('truetype')
}