.forgetPass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .close_dialog {
    position: absolute;
    top: -10px;
  }
  .right {
    right: -5px;
  }
  .left {
    left: -5px;
  }
  .text-container {
    margin: 0px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 30px;
      color: #410479;
      font-weight: bold;
      font-size: 22px;
    }
    p {
      color: #A5A5A5;
      font-size: 14px;
    }
  }
  .email-label {
    font-size: 19px;
    margin: 0 0 15px 0 !important;
    color: #24262D;
    font-weight: bold;
padding: 0 7px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #F4F5F7;
    border-radius: 5px;
    outline: none;
  }
  .btns-container {

    justify-content: space-around;
    margin-top: 20px;
    .send-button {
      background: linear-gradient(90deg, rgba(135, 49, 212, 1) 0%, rgba(122, 33, 202, 1) 100%);
      color: #fff;
    }
    .close-btn {
      background-color: #E5E7EB;
      color: #FF0000;
      border:#E5E7EB ;
    }
  }
}
::ng-deep .mat-dialog-container {
  border-radius: 10px !important;
}
