<div style="position: relative" class="forgetPass-container">

    <button [class.right]="_translate.currentLang == 'en'"
            [class.left]="_translate.currentLang == 'ar'"
      matDialogClose class="close_dialog" mat-icon-button color="warn">
      <mat-icon>close</mat-icon>
    </button>

  <div class="text-container">
    <h2 class="col-sm-12">
      {{ "FORGET.RECOVER_PASSWORD" | translate }}
    </h2>
    <p>{{'LOGIN.TYPE_TO_RESET' | translate}}</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row">
    <p class="email-label">{{ "FORGET.EMAIL" | translate }}</p>

    <mat-form-field style="margin: 10px 0;" class="col-md-12" appearance="outline">
      <mat-label>{{ "FORGET.EMAIL" | translate }}</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>

    <div mat-dialog-actions class="col-md-12 btns-container row">
      <button
        mat-dialog-close
        mat-flat-button
        class="col-md-5 close-btn"
        style="padding: 3px"
      >
        <span>{{ "COMMON.CLOSE" | translate }}</span>
      </button>
      <button
        [disabled]="!form.valid"
        mat-raised-button
        type="submit"
        class="send-button col-md-5"
        style="padding: 3px"
      >
        <span>{{ "FORGET.SEND_RESET_LINK" | translate }}</span>
      </button>
    </div>
  </form>
</div>

