.logo {
  cursor: pointer;
  margin-bottom: 20px;

  img {
    max-width: 50px;
    padding-top: 18px;
  }
}

.release_and_image_container {
  ::ng-deep .mat-chip-list-wrapper {
    justify-content: center !important;
    margin: 0;
  }
  ::ng-deep .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    font-size: 8px !important;
    min-height: 19px !important;
    padding: 2px 12px;
  }
}

.item {
  cursor: pointer;
  margin-top: 5px;
  height: 36px;
align-items: center;
  .item-text {
    //padding-top: 3px;

    span {
      font-size: 14px;
    }
  }
}


.rtl-item {
  padding-right: 16px;

  .item-icon {
    padding-right: 0;
  }

  .item-text {
    span {
      padding-right: 12px;
    }
  }
}

.screensContainer {

  padding: 5px 0;
  margin: 10px 0;

  .item {
    padding: 5px 0;


    .item-text {
      padding: 0;
    }
  }
  .rtl-sub-item {
    padding-right: 55px;
  }

  .ltr-sub-item {
    padding-left: 55px;
  }

  .item:hover {
    //color: #ff4081;
    transition: color 0.3s;
    background: #631da1;
  }

  .active-item {
    //color: #ff4081 !important;
    cursor: default;
    background: #631da1;
  }

  .rtl {
    direction: rtl;
    text-align: right;
  }

  .ltr {
    direction: ltr;
    text-align: left;
  }
}

.ltr-item {
  padding-left: 16px;

  .item-icon {
    padding-left: 0;
  }

  .item-text {
    span {
      padding-left: 3px;
    }
  }
}



.screenStyle {
  margin: 0;
  padding: 10px 25px 35px 25px;
  align-items: center;
  line-height: 0px;
}


.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 30px;
  flex-wrap: wrap;


  a {
    margin: 10px;
    background: #631da1;
    border-radius: 50%;
    padding: 4px;
    width: 35px;
    height: 35px;
  }

}

:host ::ng-deep .mat-select-value {
  color: #000 !important;
  // font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding-right: 12px;
  font-size: 14px;
}

::ng-deep .mat-select-arrow {
  background-color: transparent !important;
  color: black !important;

}

::ng-deep .mat-form-field-wrapper {
  // background-color: #A12568 !important;
}

.manage-account {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  background-color: #E44891;
  color: #fff;
  padding: 8px 20px;
}

.btn-is-active {
  cursor: default;
}

.sideNavUserData {
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    align-items: center !important;
    background-color: white !important;
    padding: 0 !important;
    height: 40px;
    border-radius: 5px;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: none !important;

  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0.5em solid transparent;
  }

  ::ng-deep mat-form-field {
    margin-bottom: -20px;
  }

  ::ng-deep .mat-select-panel {
    min-width: 100% !important
  }

  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }

}

//.cdk-overlay-container .cdk-overlay-pane .panelClass {
//  min-width:100% !important;
//  background-color: rebeccapurple !important;
//}
.active-item {
  //color: #ff4081 !important;
  cursor: default;
  background: #631da1;
}
