@media (min-width: 300px) and (max-width: 820px) {
  advanced-search-component {
    position: absolute;
    left: 10px;
    z-index: 99999;
  }
  [dir="ltr"] {
    advanced-search-component {
      right: 10px;
      left: auto;

    }
  }
}

@media (min-width: 300px) and (max-width: 820px) {
  .view_icons_container {
    position: absolute;
    left: 50px;
    top: 88px;
  }
  [dir="ltr"] {
    .view_icons_container {
      right: 50px;
      left: auto;
      top: 88px;
    }
  }
}
@media (min-width: 300px) and (max-width: 820px) {
  .barcode_icon {
    position: absolute;
    left: 50px;
    top: 15px;
  }
  [dir="ltr"] {
    .barcode_icon {
      right: 50px;
      left: auto;
      top: 15px;
    }
  }
}
