$kufi: 'IBM Plex Sans Arabic', sans-serif;
$naskh: 'IBM Plex Sans Arabic', sans-serif;
;

// @import "~ngx-sharebuttons/themes/default/default-theme";
/* MATERIAL THEME */
@import '~quill/dist/quill.snow.css';
@import "@angular/material/theming";
// @import '~material-design-icons/iconfont/material-icons.css';
@include mat-core();
$primary: mat-palette($mat-purple, 800);
$accent: mat-palette($mat-gray, 900);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

/**matrial Icons **/
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format("woff2");
}


.navbar-inverse {
  position: sticky;
  height: 60px;
  background-color: black;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

:root {
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --ff0: #ffdd57;
  --ff0-dark: #ffd633;
  --ff0-light: #ffe47a;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --raise: #ffa260;
  --slide: #8fc866;
  --nav-width: 4em;
  --font-body: "sofia-pro", sans-serif;
  --font-head: "cubano", sans-serif;
  --font-code: "attribute-mono", monospace;
  --font-size: 20px;
  --max-width-bp: 768px;
  --orange-pink: linear-gradient(
      to bottom right,
      var(--orange-light),
      var(--orange-dark) 85%
  );
  --green-grad: linear-gradient(
      to bottom right,
      var(--green-light),
      var(--green-dark) 85%
  );
  --background: var(--gray6);
  --background-opacity: rgba(18, 24, 27, 0.58);
  --text-color: var(--gray2);
  --h-color: #fff;
  --nav-shadow: 4px 0 10px -3px #010101;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
  --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
  --nav-bg: var(--gray5);
  --tag-bg: var(--gray4);
  --code-bg: #22262f;
  --card-bg: var(--gray5);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --h-border: 2px dashed var(--nav-bg);
  --nav-border: 2px dashed var(--text-color);
  --card-border: 1px solid var(--nav-bg);
  --card-radius: 0.25em;
  transition: all 0.3s ease;
}


/**matrial Icons **/

/** scroll bar style **/
* {
  box-sizing: border-box;
  scrollbar-color: #f5f5f5;
  scrollbar-shadow-color: inset 0 0 6px rgba(0, 0, 0, 0.3);
  scrollbar-width: 10px;
}

*::-webkit-scrollbar-track,
.mat-sidenav-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar,
.mat-sidenav-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb,
.mat-sidenav-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.44, #8d9097),
      color-stop(0.72, #a0a4aa),
      color-stop(0.86, #b5b6b8)
  );
}

.mat-vertical-content {
  overflow-x: scroll;
}

p {
  margin: 0 !important;
}

/**start messages */
.errorMessageContainer {
  border: 1px solid red;
  line-height: 30px;
  background: #ffc4c4;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: #666;
  box-shadow: 1px 0px 5px 2px rgb(231 132 132 / 60%);
}

/**paginator **/
mat-paginator .mat-paginator-container {
  margin-top: 10px;
  justify-content: flex-start !important;
}

/** table generics **/
.mat-column-buttons {
  position: sticky;
  left: 0;
  z-index: 9;
  background: #fff;
  padding: 0 !important;
  justify-content: flex-end;
  flex: 0 0 40px;
  box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.mat-row,
.mat-header-row,
.mat-footer-row {
  display: inline-flex;
  min-width: 100%;
  align-items: stretch;
}

[dir="ltr"] {
  .tags-search {
    left: auto !important;
    right: 0 !important;
  }
}

body[dir="ltr"] .mat-column-buttons {
  right: 0 !important;
}

body[dir="ltr"] .notificationContent {
  direction: ltr;
  left: 10% !important;
}

body[dir="rtl"] .notificationContent {
  direction: rtl;
  left: 46% !important;
}

body[dir="ltr"] .notificationContent .notificationItem span {
  right: 5px;
}

body[dir="rtl"] .notificationContent .notificationItem span {
  left: 5px;
}

mat-header-row .mat-column-buttons {
  box-shadow: none !important;
  opacity: 0;
}

mat-row:hover {
  background-color: rgb(180 180 180 / 30%) !important;
}

mat-row:hover .mat-column-buttons {
  background-color: #e8e8e8 !important;
}

.tableActions {
  position: relative;
}

/**customize buttons colors **/
.mat-button.mat-primary {
  color: #e44891;
}

.mat-raised-button.mat-primary {
  background-color: #e44891 !important;
  color: white;
}

.mat-button.mat-pink {
  color: #e44891;
}

.mat-raised-button.mat-pink {
  background-color: #e44891 !important;
  color: white;
}

.mat-fab.mat-primary {
  background-color: #e44891 !important;
  color: white;
}

.mat-fab.mat-pink {
  background-color: #e44891 !important;
  color: white;
}

.mat-raised-button[disabled],
.mat-button[disabled] {
  background: rgb(161 159 159 / 22%) !important;
}

.mat-menu-item[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26);
}

/**customize buttons colors **/

.actionsMenu {
  margin: 1px 0 0 0 !important;
  min-height: auto !important;
}

.actionMenuIcon {
  padding: 0 5px;
  font-size: 30px;
}

.actionsMenu .mat-menu-content {
  padding: 0 !important;
  background-color: #e44891 !important;
}

.actionsMenu .mat-menu-content button {
  color: #fff;
  font-weight: bold;
}

/* BASE STYLING */
html,
body {
  height: 100%;
  background-color: #F9FAFB;
  //background-color: #f5f5f5;
  margin: 0;
  font-family: $kufi !important;
  font-weight: 400;
  font-size: 16px;
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
  --navbar-scroll-btn-border: none;
  --navbar-scroll-btn-back: #8731d4
}

.mat-drawer-container {
  background-color: #f8f8fc !important;
}

.mat-drawer-content {
  min-height: 93.1vh;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $kufi !important;
}

hr {
  margin-top: 4px;
  border-width: 0;
  border-bottom: 1px solid #dedede;
}

*:focus {
  outline: none;
}

/* HELPER CLASSES */
.bold {
  font-weight: 700 !important;
}

.normal {
  font-weight: normal !important;
}

.kufi {
  font-family: $kufi !important;
}

/* ANGULAR MATERIAL */
.mat-button,
.mat-toolbar,
.mat-step-label,
.mat-menu-item,
.mat-raised-button,
.mat-flat-button,
.mat-form-field {
  font-family: $kufi !important;
}

.naskh,
.cdk-text-field-autofill-monitored:not(:-webkit-autofill),
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-card,
.mat-error,
.mat-option-text {
  font-family: $naskh !important;
}

.mat-card {
  margin: 10px;
}

.error {
  font-size: 12px;
  margin: 10px 0;
}

.mat-button,
.mat-raised-button {
  font-size: 16px;
}

.mat-card-header-text {
  margin: 0 !important;
}

.mat-card-content {
  margin-bottom: 0 !important;
}

//.mat-radio-label-content {
//  margin-left: 16px;
//}

.mat-form-field-wrapper {
  margin-bottom: 8px;
}

.mat-form-field-type-radio .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-drawer-inner-container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.toolbar-button .mat-raised-button[disabled][disabled] {
  background-color: rgba(255, 255, 255, 0.22) !important;
  color: rgba(0, 0, 0, 0.66) !important;
}

.mat-form-field {
  display: block !important;
}

body[dir="rtl"] #add-new-button {
  position: fixed;
  bottom: 30px;
  right: auto !important;
  left: 17px !important;
  padding: 0;
  z-index: 99;
  background: #e44891;
}

body[dir="ltr"] #add-new-button {
  position: fixed;
  left: auto !important;
  right: 17px !important;
  bottom: 30px;
  padding: 0;
  z-index: 99;
  background: #e44891;
}

body[dir="rtl"] .basketBtn {
  position: fixed;
  right: auto !important;
  left: 30px;
  bottom: 20px;
}

body[dir="ltr"] .basketBtn {
  position: fixed;
  left: auto !important;
  right: 30px;
  bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.tableContentCard {
  position: relative;
  top: -65px;
  margin: 0 20px;
  padding: 16px 0px !important;
}

.page-header {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 150px !important;
    padding: 16px 0 0 0 !important;

    .fw {
      width: 100%;
      align-self: flex-start !important;
      padding: 10px;
      justify-content: center;
    }

    .title {
      position: relative;

      .title-icon {
        cursor: pointer;
        position: absolute;
        top: 3px;
      }

      @media (min-width: 300px) and (max-width: 750px) {
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 170px;
        white-space: nowrap;
      }
    }

    .search {
      background-color: #fff;
      border-radius: 26px;
      position: relative;
      max-width: 400px;
      margin: 0 auto;
      width: 400px;
      padding: 5px 10px 8px 10px;

      input {
        border: 0;
        width: 90%;
        display: flex;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
      }

      .mat-icon {
        color: #989898;
        position: absolute;
        left: 8px;
        top: 12px;
      }

      .rtl-mat-icon {
        left: 8px;
        cursor: pointer;
      }

      .ltr-mat-icon {
        right: 8px;
        left: auto;
        cursor: pointer;
      }
    }
  }
  .header-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    height: 100%;
  }

  .mat-toolbar-height {
    height: 80px !important;
    //padding: 20px 10px !important;
  }
}

.inner-search {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
}

.load-more {
  margin-bottom: 16px;
}

/* General styling */
.sidenav {
  padding: 0;
  background-color: #450D77;
  color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
}

.sideNavBar {
  background-color: #450D77;
}

.sideNavUserData {
  background-color: #450D77;
}

mat-table {
  min-width: 735px;
  width: 100%;

  mat-header-cell {
    font-weight: bold !important;
    font-size: 15px !important;
  }

  .mat-row:nth-child(2) {
    border-top: 2px solid #b0adad;
  }

  .mat-row:nth-last-child(1) {
    border-bottom: 2px solid #b0adad;
  }
}

mat-paginator .mat-paginator-container {
  justify-content: center !important;
}

/* Medium Style */
@media only screen and (min-width: 39.9375em) {
}

/* Large Style */
@media only screen and (min-width: 63.9375em) {
}

/**general css**/
.button-row {
  display: table-cell;
}

.button-row button {
  display: table-cell;
  margin: 0 5px;
}

//****/////

.ToolbarSpacer {
  flex: 1 1 auto;
}

.center-text {
  text-align: center;
}

.card-border {
  border: 1px solid #ddd;
}

.icon-color {
  color: #ff4081ed;
  cursor: pointer;
}

.horizontal-line-bold {
  height: 1px;
  width: 100%;
  background-color: var(--gray2);
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: var(--gray1);
  margin: 9px 0px;
}

.link-style {
  color: blue;
  cursor: pointer;
}

.order-rows-space {
  padding: 4px 0;
}

/*######################################*/

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 70px;
  padding: 16px 0 0 0;
  margin-bottom: 16px;

  .fw {
    width: 100%;
  }

  .title {
    position: relative;

    .title-icon {
      cursor: pointer;
      position: absolute;
      top: 3px;
    }

    .rtl-title-text {
      padding-right: 32px;
    }

    .ltr-title-text {
      padding-left: 32px;
    }
  }
}

.mat-toolbar-height {
  height: 80px;
  //padding: 20px 10px !important;
}


.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slideOutUp {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.animate__slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

.animate__slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

// .mat-form-field:not(.mat-form-field-has-label) .mat-form-field-infix {
//   border-top-width: 0 !important;
// }

.mat-form-field-flex {
  align-items: center !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  // padding-bottom: 10px !important;
  // padding-top: 10px !important;
}

mat-form-field {
  font-size: 16px !important;
  font-weight: bold;
}

/** start dashboard **/
#dashboard-analytics mat-form-field {
  display: flex !important;
  align-items: center;
}

#dashboard-analytics
.mat-form-field-appearance-legacy
.mat-form-field-underline {
  display: none;
}

#dashboard-analytics .mat-form-field-infix {
  overflow: hidden;
  border: 0;
}

#dashboard-analytics .mat-form-field-flex {
  width: 130px;
  height: 30px !important;
}

#dashboard-analytics .mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}

.contactUsContainer .mat-form-field-wrapper {
  background-color: #fff !important;
  padding: 0 !important;
  margin: 10px 0 !important;
}

/* Medium Style */
@media only screen and (min-width: 1200px) {
  .contactUsContainer {
    max-width: 1000px !important;
    margin-top: 50px !important;
  }
}

@media only screen and(max-width: 992px) {
  .contactUsContainer {
    max-width: 960px;
  }
}

@media only screen and(max-width: 768px) {
  .contactUsContainer {
    max-width: 720px;
  }
}

@media only screen and(max-width: 400px) {
  mat-bottom-sheet-container {
    height: 60vh !important;
  }

  .contactUsContainer {
    max-width: 35px;
  }

  body[dir="rtl"] .createOrderActionBtn {
    position: absolute !important;
    left: 5px;
    top: 66px;
  }

  body[dir="ltr"] .createOrderActionBtn {
    position: absolute !important;
    right: 5px;
    top: 66px;
  }
  body[dir="rtl"] .btnClear {
    position: absolute !important;
    left: 5px;
    top: 106px;
    height: 25px;
    padding: 2px;
    font-size: 11px;
    margin-left: 2px;
  }

  body[dir="ltr"] .btnClear {
    position: absolute !important;
    right: 5px;
    top: 106px;
    height: 25px;
    padding: 2px;
    font-size: 11px;
    margin-left: 2px;
  }

  #item_number_barcode {
    width: 275px !important;
    margin: 29px auto 0 auto !important;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .smallElementWidth {
    width: 130px;
  }

  body[dir="ltr"] .notificationContainer .notificationContent {
    transform: translate(-30%) !important;
  }

  body[dir="rtl"] .notificationContainer .notificationContent {
    transform: translate(-50%) !important;
  }
}

@media (min-width: 411px) and (max-width: 731px) {
  mat-bottom-sheet-container {
    height: 60vh !important;
  }

  .contactUsContainer {
    max-width: 35px;
  }

  body[dir="rtl"] .createOrderActionBtn {
    position: absolute !important;
    left: 5px;
    top: 77px;
  }

  body[dir="ltr"] .createOrderActionBtn {
    position: absolute !important;
    right: 5px;
    top: 77px;
  }
  body[dir="rtl"] .btnClear {
    position: absolute !important;
    left: 5px;
    top: 106px;
    height: 25px;
    padding: 2px;
    font-size: 11px;
    margin-left: 2px;
  }

  body[dir="ltr"] .btnClear {
    position: absolute !important;
    right: 5px;
    top: 106px;
    height: 25px;
    padding: 2px;
    font-size: 11px;
    margin-left: 2px;
  }

  #item_number_barcode {
    width: 275px !important;
    margin: 29px auto 0 auto !important;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .smallElementWidth {
    width: 130px;
  }

  body[dir="ltr"] .notificationContainer .notificationContent {
    transform: translate(-30%) !important;
  }

  body[dir="rtl"] .notificationContainer .notificationContent {
    transform: translate(-50%) !important;
  }
}

/**start user profile **/
body[dir="ltr"] #profile .actions button {
  right: 10px !important;
  left: auto !important;
}

body[dir="rtl"] #profile .actions button {
  right: auto !important;
}

/** start receving creation**/
body[dir="ltr"] .itemCard .itemInfo {
  right: 2px !important;
  left: unset !important;
  transform: rotate(130deg) !important;
}

.mat-expansion-panel-body {
  padding: 0 5px 15px 5px !important;
}

.CategoryCardImg .mat-checkbox-background {
  background-color: #6a1b9a !important;
}

.card-margin {
  margin-top: 27px;
  margin-bottom: 56px;
  border-radius: 8px !important;
}

body[dir="rtl"] .delIcon {
  position: absolute;
  top: -28px;
  left: 2px;
  cursor: pointer;
  color: #e44891 !important;
}

body[dir="ltr"] .delIcon {
  position: absolute;
  top: -28px;
  right: 0px;
  cursor: pointer;
  color: #e44891 !important;
}

body[dir="rtl"] .button-draft-categories {
  position: relative;
  right: 41px;
  bottom: 80px;
  cursor: pointer;
}

body[dir="ltr"] .button-draft-categories {
  position: relative;
  right: -20px;
  bottom: 80px;
  cursor: pointer;
}

.list-draft-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

body[dir="rtl"] .list-button-draft {
  position: relative;
  right: 52px;
  bottom: 80px;
}

body[dir="ltr"] .list-button-draft {
  position: relative;
  right: -40px;
  bottom: 80px;
}

body[dir="rtl"] .list-button-draft-req {
  position: relative;
  right: 60px;
  bottom: 80px;
}

body[dir="ltr"] .list-button-draft-req {
  position: relative;
  right: -45px;
  bottom: 80px;
}

.list-btn-shared {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}

.list-badge-draft {
  position: absolute;
  top: -10px;
  left: -8px;
  border-radius: 50%;
  background: #e44891;
  width: 15px;
  color: #fff;
  height: 15px;
}

.status-container-ar {
  position: absolute !important;
  top: 6px;
  left: 15px;
  border-radius: 5px;
  color: #fff;
}

.status-container-en {
  position: absolute !important;
  top: 6px;
  right: 15px;
  border-radius: 5px;
  color: #fff;
}

.del-icon-ar {
  position: absolute !important;
  top: 13px;
  left: -12px;
  border-radius: 5px;
  color: #301158;
}

.del-icon-en {
  position: absolute !important;
  top: 13px;
  right: -11px;
  border-radius: 5px;
  color: #301158;
}

.journal-del-icon-ar {
  position: absolute !important;
  top: -2px;
  left: -12px;
  border-radius: 5px;
  color: #301158;
}

.journal-del-icon-en {
  position: absolute !important;
  top: -2px;
  right: -11px;
  border-radius: 5px;
  color: #301158;
}

.return-flag-ar {
  position: absolute !important;
  bottom: 14px;
  left: 6px;
  color: #6a259a;
  font-size: 16px;
}

.return-flag-en {
  position: absolute !important;
  bottom: 14px;
  right: 6px;
  color: #6a259a;
  font-size: 16px;
}

.transfer-cancel-ar {
  position: absolute !important;
  bottom: 14px;
  left: 3px;
  color: #6a259a;
  font-size: 16px;
}

.transfer-cancel-en {
  position: absolute !important;
  bottom: 14px;
  right: 3px;
  color: #6a259a;
  font-size: 16px;
}

.transfer-accept-ar {
  position: absolute !important;
  bottom: 14px;
  left: 60px;
  color: #6a259a;
  font-size: 16px;
}

.transfer-accept-en {
  position: absolute !important;
  bottom: 14px;
  right: 75px;
  color: #6a259a;
  font-size: 16px;
}

//.cdk-overlay-container .cdk-overlay-pane .testClass{
//  max-width: 100% !important;
//  min-width:100% !important;
//  width: 100% !important;
//}

.custom-drawer {
  width: 50%;
  max-width: fit-content;
  //height: 100vh;
  @media screen and (max-width: 1300px) {
    width: 55%;
  }
  @media screen and (max-width: 1200px) {
    width: 60%;
  }
  @media screen and (max-width: 900px) {
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }

  .drawer-save {
    //background: #e44891;
    //color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
  }

  .drawer-close {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 6px 12px;
    background: #e5e7eb;
    color: #ff0000;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
  }

}

.drawer_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.list_view {

  .list_view_card {
    margin: 15px 0;
    padding: 10px;
  }
}

.grid_view {
  .grid_view_card {
    padding: 10px 0;
    min-height: 150px;
    font-weight: 600;
    color: #300458;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;

    .key {
      font-weight: 800;
    }

    .value {
      font-size: 13px;
    }

    .head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .date {
        font-size: 12px;
        color: var(--gray3);
      }

      .status-text {
        padding: 5px 8px;
        border-radius: 7px;
        color: white;
      }
    }

    .text-margin {
      margin: 5px 0px;
      align-items: center;
    }

    .horizontal-line {
      height: 1px;
      width: 100%;
      background-color: var(--gray1);
      margin: 9px 0;
    }

    .returns {
      font-size: 12px;
      color: var(--gray3);
    }
  }
}

mat-card {
  .key {
    font-weight: 800;
    color: #300458;
  }

  .value {
    font-size: 13px;
    color: #300458;
  }
}

.transactions_cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    font-weight: 600;
    color: #300458;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;

    .key {
      font-weight: 800;
    }

    .value {
      font-size: 13px;
    }

    .card-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .card-date {
        font-size: 12px;
        color: var(--gray3);
      }

      .status-text {
        padding: 5px 8px;
        border-radius: 7px;
        color: white;
      }
    }

    .text-margin {
      margin: 5px 0px;
      align-items: center;
    }

    .horizontal-line {
      height: 1px;
      width: 100%;
      background-color: var(--gray1);
      margin: 9px 0px;
    }

    .returns {
      font-size: 12px;
      color: var(--gray3);
    }
  }
}


.static_cards {
  text-align: center;

  mat-card {
    display: inline-block;
    margin: 15px;
    text-align: center;
    min-height: 150px;
    font-weight: 600;
    color: #300458;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    width: 250px;
    display: inline-block;
    cursor: pointer;
    padding: 0 0 8px 0;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    .key {
      font-weight: bold;
      text-align: start;
    }

    .value {
      font-size: 13px;
    }

    .static_card_header {
      background-color: rgb(238 242 255 /1);
      align-items: center;
      justify-content: center;
      padding: 3px 5px;

      .title,
      .subTitle {
        color: black;
        margin: 2px 0 !important;
      }

      .title {
        font-size: 16px;
      }

      .subTitle {
        font-size: 10px;
      }

      .status {

        .status-text {
          padding: 5px 12px;
          border-radius: 7px;
          color: white;
          background-color: #6a1b9a;
        }
      }
    }

    .align {
      align-items: center;
    }

    .text-margin {
      margin: 5px 0px;
      align-items: center;
    }


    .grayed {
      font-size: 12px;
      color: var(--gray3);
    }
  }

  mat-card:hover {
    transform: scale(1.07);
  }
}

.info-style > span,
.info-style {
  font-size: 12px;
  font-weight: 700;
  color: #300458;
}

.info-style > span {
  color: gray
}

.selectedView {
  color: #e44891;
}

.mt-2 {
  margin-top: 18px;
}

.center {
  display: flex;
  justify-content: center;
}

.page_title {
  display: flex;
  align-items: center;
}

.back_icon {
  direction: inherit;
  margin: 0px 10px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .example-tree p {
    font-size: 11px;
  }
  body[dir="ltr"] {
    .example-tree ul {
      padding: 0 0 0 7px !important;
    }

    .example-tree li {
      padding: 0 0 0 5px !important;
    }
  }
  body[dir="rtl"] {
    .example-tree ul {
      padding: 0 7px 0 0 !important;
    }

    .example-tree li {
      padding: 0 5px 0 0 !important;
    }

  }
}

.custom_dialog {
  min-width: 70vw;
}

.progress_dialog {
  min-width: 45vw;
}

.confirmation_dialog {
  min-width: 30vw;
}

.mat-tree-node {
  border-bottom: 1px solid #ECECEC;

}

.mat-tree-node:last-child {
  border-bottom: none;
}

.view_icons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;

  mat-icon {
    font-size: 32px !important;
    line-height: 25px !important;
    width: 27px !important;
    height: 27px !important;
    margin: 0 3px;
  }
}

.mat-tree-node {
  transition: all 0.3s ease-in-out;
}

.mat-tree-node:hover {
  background-color: var(--gray1) !important;
  border-radius: 10px;

}
.small_card {
  height: 190px;
  width: 165px;
  display: inline-block !important;
  padding: 0 !important;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 15px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
  border-radius: 8px !important;
  .small_card_img {
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;

    mat-checkbox {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 8px;
      z-index: 9999;
    }
  }

  mat-card-header {
    background-color: #6a1b9a;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;

    .mat-card-header-text {
      margin: 0 !important;

      .mat-card-title {
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-weight: bold;
      }
    }

  }


  mat-card-content {
    height: 130px;
    width: 100%;
    display: flex;
    //cursor: pointer;
  }

  .ItemEditSection {
    margin-top: 4px;
    font-weight: bold;
    color: #4040f0;
    margin-right: 11px;
    text-align: center;
  }

  .settings-icon {
    position: absolute;
    bottom: -1px;
    z-index: 9999;
    right: 0px;
    background: #6a1b9a;
    border-radius: 5px;
    padding: 3px;
    color: #FFF;
    cursor: pointer;
  }

  mat-card-actions {
    p {
      font-weight: bold;
      color: #3f51b5;
      cursor: pointer;
    }
  }
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px !important;
  border-radius: 8px !important;
}
.page-container {
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
}
