<mat-dialog-content class="mat-typography">
  <mat-dialog-actions style="display: flex;justify-content: flex-end;margin-bottom: 15px">
<!--    <div class="">-->
<!--     -->
<!--    </div>-->
    <div style="display: flex;align-items: center">
      <mat-icon style="cursor: pointer;color: #777979" (click)="downloadPdf()">file_download</mat-icon>
      <mat-icon style="cursor: pointer;color: #777979" (click)="printPdf()">print</mat-icon>
      <mat-icon style="cursor: pointer;color: #ec0a0a" (click)="close()">close</mat-icon>
    </div>
  </mat-dialog-actions>
  <div id="pa" *ngIf="pdfUrl" style="display: flex;justify-content: center">
    <object width="1000" height="600" [attr.data]="pdfUrl" type="application/pdf"></object>
  </div>
<!--  <div id="outerContainer">-->
<!--    <div class="pdf-container">-->
<!--      <pdf-viewer-->
<!--        [src]="pdfUrl"-->
<!--        [rotation]="0"-->
<!--        [original-size]="true"-->
<!--        [show-all]="true"-->
<!--        [fit-to-page]="true"-->
<!--        [zoom]="1"-->
<!--        [zoom-scale]="'page-width'"-->
<!--        [stick-to-page]="false"-->
<!--        [render-text]="true"-->
<!--        [external-link-target]="'blank'"-->
<!--        [autoresize]="true"-->
<!--        [show-borders]="false"-->
<!--        class="pdf-viewer-style"-->
<!--      ></pdf-viewer>-->
<!--    </div>-->
<!--  </div>-->


</mat-dialog-content>

<!--style="height: 600px !important;width:650px !important;overflow-y: auto"-->
