mat-button-toggle-group {
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 8%);
}

.flex-toggle-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedClass {
  background-color: #e44891;
  color: #FFF !important;
  font-weight: bold !important;
}

.pdf-viewer-style{
  width: 100%; height: 400px;
}

@media (min-width: 1024px){
  .pdf-viewer-style{
    width: 1000px; height: 400px;
  }
}

@media (width: 375px){
  .pdf-viewer-style{
    width: 100%; height: 300px;
  }
}

@media (width: 360px){
  .pdf-viewer-style{
    width: 100%; height: 300px;
  }
}
@media (width: 412px){
  .pdf-viewer-style{
    width: 100%; height: 450px;
  }
}


