.return-another-branch{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}


.alert-primary {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}


.alert {
  position: relative;
  color: #721c24;
  background-color: #f8d7da;
  border:  1px solid #f5c6cb;
  border-radius: 0.375rem;
  margin-top: 4px;
}
