<div class="return-another-branch">
  <mat-dialog-content class="mat-typography" style="max-width: 700px;min-height: 92%">
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <h2 mat-dialog-title>{{ "POSTING.POSTING_INVS" | translate }}</h2>
      <button (click)="onCancel()" mat-icon-button color="warn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form [formGroup]="item" *ngIf="hasView === false">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "START_RECEIVING_INVENROTY.SELECT_BRANCH" | translate }}</mat-label>
            <mat-select formControlName="branch"
                        multiple
                        required>
              <mat-option *ngFor="let branch of branches" [value]="branch.id">
                {{ branch.branchName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "FILTER.SELECT_YEAR" | translate }}</mat-label>
            <mat-select formControlName="fisicalYear"
                        multiple>
              <mat-option *ngFor="let year of years" [value]="year.code">
                {{ year.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "FILTER.SELECT_MONTH" | translate }}</mat-label>
            <mat-select formControlName="month"
                        multiple>
              <mat-option *ngFor="let month of months" [value]="month.code">
                {{ month.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button class="col-md-12 col-sm-12 drawer-save" mat-flat-button [disabled]="!item.valid"
                (click)="submitInvDraftCount()"
                color="primary">{{"ORDERS_CREATION.SEARCH" |translate}}</button>
      </div>
    </form>
    <ng-template [ngIf]="hasView ===  false">
      <div class="row" *ngIf="payableDraftCount" style="display: flex;justify-content: center;align-items: center">
        <div class="col-md-6 col-sm-6">
          <span>{{ "POSTING.UNPOSTED_COUNT" | translate }}</span> : {{ payableDraftCount }}
        </div>
        <div class="col-md-6 col-sm-6">
          <button mat-button color="primary" (click)="viewDraftDetails()">{{'COMMON.VIEW' | translate}}</button>
        </div>
      </div>
      <div class="row" *ngIf="isEmpty">
        <div class="alert alert-primary col-md-12 col-sm-12" role="alert"
             style="display: flex;align-items: center;justify-content: center">
          <div>
            {{'ORDER.ORDER_NOT_EXISTS' | translate}}
          </div>
          <mat-icon>warning</mat-icon>
        </div>
      </div>
    </ng-template>
    <!---->
    <button mat-button color="warn" *ngIf="hasView === true" (click)="backToSearch()">{{'COMMON.BACK' | translate}}</button>
    <div class="row" style="overflow-x: auto;" *ngIf="unpostedArray?.length > 0 && hasView === true">
      <!-- *ngIf="itemsDataSource.filteredData" -->
      <mat-table #table [dataSource]="unpostedDataSource" matSort>
        <ng-container matColumnDef="invNumber">
          <mat-header-cell mat-sort-header *matHeaderCellDef
                           class="kufi">{{"PAYABLE_INVOICE.INVOICE_NUMBER" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let invoice">
            <p
              class="text-truncate">{{ invoice?.invNumber}}</p>
          </mat-cell>
        </ng-container>
        <!-- Item Number Column -->
        <ng-container matColumnDef="createdDate">
          <mat-header-cell mat-sort-header *matHeaderCellDef
                           class="kufi">{{"ORDER.ORDER_DATE" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let invoice">
            <p class="text-truncate">{{ invoice?.createdDate }}</p>
          </mat-cell>
        </ng-container>
        <!-- price Column -->
        <ng-container matColumnDef="paidAmount">
          <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
            "PAYABLE_INVOICE.VIEW.PAID_AMOUNT" | translate
            }}</mat-header-cell>
          <mat-cell *matCellDef="let invoice">
            <p class="text-truncate">{{ invoice?.paidAmount }}</p>
          </mat-cell>
        </ng-container>
        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let invoice">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>
              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item
                        (click)="viewInvoice(invoice)"
                        [style.text-align]=" _translate?.currentLang === 'ar' ? 'right' : 'left'"
                        [class.naskh]="_translate?.currentLang === 'ar'">
                  {{ "ORDER.VIEW_ORDER" | translate }}
                </button>
              </mat-menu>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="unpostedDisplayedColumns"></mat-header-row>
        <mat-row style="cursor: pointer" *matRowDef="let invoice; columns: unpostedDisplayedColumns"
                 (click)="viewInvoice(invoice)"></mat-row>
      </mat-table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="row" style="display: flex;justify-content: center;">
    <button class="col-md-5 drawer-save" mat-flat-button [disabled]="!item.valid || unpostedArray?.length == 0" (click)="onPost()"
            color="primary">{{ "POSTING.POST" | translate }}</button>
    <button class="col-md-5 drawer-close" mat-raised-button (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>
</div>

