<div class="add-expense-form">
  <mat-dialog-content class="mat-typography" style="max-width: 700px;min-height: 92%">
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <h2 mat-dialog-title>{{expenseData?.expense ? ('PAYABLE_INVOICE.VIEW.EDIT_LINE' | translate) : ('PAYABLE_INVOICE.VIEW.ADD_LINE' | translate)}}</h2>
      <button (click)="onCancel()" mat-icon-button color="warn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form [formGroup]="item">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.ACCOUNT_TYPE' | translate}}</mat-label>
            <mat-select formControlName="accountType" (selectionChange)="accountTypeChanged($event.value)"
                        [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let account of accountTypes" [value]="account">
                {{ account.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <search-autocomplete-branch-account
            [itemMultiCtrl]="item.controls['branchAccountId']"
            [outlineLabel]="'JOURNAL.DEATILS.BRANCH_ACCOUNT' | translate"
            [data]="branchAccounts"
            (result)="getAccount($event)">

          </search-autocomplete-branch-account>
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>{{ 'JOURNAL.DEATILS.BRANCH_ACCOUNT' | translate}}</mat-label>-->
<!--            <mat-select formControlName="branchAccount" [compareWith]="objectComparisonFunction" required>-->
<!--              <mat-option *ngFor="let branchAccount of branchAccounts" [value]="branchAccount">-->
<!--                {{ branchAccount.account?.code + ' - ' + branchAccount.account?.nameAr  }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
        </div>

        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "PAYABLE_INVOICE.VIEW.AMOUNT" | translate }}</mat-label>
            <input matInput formControlName="price" type="number" min="1" required/>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "PAYABLE_INVOICE.VIEW.TAX_AMOUNT" | translate }}</mat-label>
            <input matInput formControlName="salesTaxValue" type="number" min="0" required/>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ "PAYABLE_INVOICE.VIEW.TOTAL" | translate }}</mat-label>
            <input matInput formControlName="total"
                   [value]="( item.get('price').value + item.get('salesTaxValue').value  )| number : '1.2-2'"/>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-12" style="padding: 0">
          <mat-form-field appearance="outline">
            <mat-label>{{ "PAYABLE_INVOICE.VIEW.DESCRIPTION" | translate }}
            </mat-label>
            <textarea matInput formControlName="discription" required></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="row" style="display: flex;justify-content: center;">
    <button class="col-md-5 drawer-save" mat-flat-button [disabled]="!item.valid" (click)="onSubmit()"
            color="primary">{{"COMMON.SAVE" |
      translate}}</button>
    <button class="col-md-5 drawer-close" mat-raised-button (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>
</div>

