<div class="analysis_container" [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'">
  <div mat-dialog-title style="text-align: center">
  <p>{{ "FINANCE.ENABLE_CONFIRMATION" | translate }}</p>
  </div>
  <mat-dialog-actions class="row" style="justify-content: center">
    <button mat-raised-button (click)="enableAllAccounts()" color="primary">{{"COMMON.ENABLE/DISABLE" | translate}}</button>
    <button mat-stroked-button mat-dialog-close><span>{{ "COMMON.CANCEL" | translate }}</span></button>
  </mat-dialog-actions>
</div>
