.cardContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F8F8FC;
  height: 100%;
  padding: 30px;
  .card-title {
    display: block;
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0px 20px 0px !important;
  }
  .card-desc {
    display: block;
    font-size: 16px;
    margin-top: 10px !important;
  }
}

mat-card {
  width: 270px;
  display: inline-block;
  margin: 20px;
  padding: 20px !important;
  cursor: pointer;
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: ease all 0.5s;
  -moz-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  transition: ease all 0.5s;
}


mat-card:hover {
  transform: scale(1.09);
}

mat-card .material-icons {
  padding: 12px;
  color: white;
  border-radius: 10px;
  margin:5px 5px 20px 5px;
  font-size: 45px;
}

