.language-button {
  padding: 0 8px;
  height: 56px;

  .mat-icon-button {
    margin-top: 8px;
  }
}

.language-flag {
  position: absolute;
  top: 14px;
}

@media only screen and (min-width: 39.9375em) {
  .language-button {
    height: 64px !important;

    .mat-icon-button {
      margin-top: 12px !important;
    }
  }
}
