@media (min-width: 550px) and (max-width: 638px) {
  .app-content{
    margin-top: 65px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .app-content{
    margin-top: 65px;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  .app-content{
    margin-top: 65px;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (orientation: portrait){
  .app-content{
    margin-top: 65px;
  }
}
