<mat-sidenav-container autosize style="height: 100%;">
  <mat-sidenav
    #pSnav
    id="pagesSideNavigation"
    class="sidenav"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    [opened]="!mobileQuery.matches"
    [style.width]="'280px'"
  >
    <app-side-nav [folded]="isMenuFolded"></app-side-nav>
  </mat-sidenav>

  <div class="sidenav-content" >
    <khdma-frontend-nx-shared-progress-bar></khdma-frontend-nx-shared-progress-bar>
    <app-header
      (toggle)="toggleSideNav()"
    ></app-header>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
