<div class="page-header">
  <div [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'" class="chart-container">

    <mat-toolbar color="primary" class="row">
      <div class="header-item">

        <h2 class="title">
          <mat-icon style="direction: inherit; margin: 0px 10px;cursor: pointer;"
                    (click)="back()">{{ _translate.currentLang !== 'ar' ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
          <mat-icon class="title-icon" style="cursor: default">account_tree</mat-icon>
          <span [class.rtl-title-text]="_translate.currentLang === 'ar'"
                [class.ltr-title-text]="_translate.currentLang !== 'ar'">{{ "FINANCE.CHART_OF_ACCOUNTS.TITLE" | translate }}</span>
        </h2>
        <advanced-search-component
          (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
          [searchConfig]="searchConfiguration"
          placeholder="FINANCE.CHART_OF_ACCOUNTS.SEARCH_NAME_PLACEHOLDER">
        </advanced-search-component>
      </div>
    </mat-toolbar>
    <div style="width: 100%;padding: 0 20px">
      <mat-chip-list aria-label="Dog selection">
        <mat-chip style="cursor: pointer" (click)="openDraftAccounts()">
          <span [matBadge]="draftAccountsCount"
                matBadgeOverlap="false">{{'DASHBOARD.DRAFT_ACCOUNTS' | translate}}</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="tree-container">
      <mat-tree [dataSource]="accounts" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node
          (click)="activeNode = node"
          [ngClass]="{ 'background-highlight': activeNode === node }"
          *matTreeNodeDef="let node" matTreeNodeToggle
        >
          <button mat-icon-button
                  style="font-size: 13px"
                  [attr.aria-label]="'toggle ' + node.code">
            <mat-icon style="width: 18px;height: 18px;font-size: 17px" class="mat-icon-rtl-mirror">
              fiber_manual_record
            </mat-icon>
          </button>
          <li class="mat-tree-node">
            <div class="container" style="width: 100%">
              <div class="row"  style="align-items: center;">
                <div class="col-sm-5 code-color" ><p class="semi-bold" [ngStyle]="{'color': node.color}">{{node.code}}</p></div>
                <ng-template [ngIf]="!platform.IOS && !platform.ANDROID">
                  <div class="col-sm-5"><p >{{node.name}}</p></div>
                </ng-template>
                <ng-template [ngIf]="platform.IOS || platform.ANDROID">
                  <div class="col-sm-5"><p>{{node.name | truncate:[25,"..."] }}</p></div>
                </ng-template>
                <div style="text-align: end" class="col-sm-2">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button (click)="editAccount(node)" mat-menu-item>
                      <span>{{'COMMON.EDIT' | translate}}</span>
                    </button>
                    <button (click)="addAccount(node)" mat-menu-item>
                      <span>{{'COMMON.ADD_BUTTON' | translate}}</span>
                    </button>
                    <button (click)="deleteAccount(node.id)" mat-menu-item>
                      <span>{{'FINANCE.CHART_OF_ACCOUNTS.DELETE' | translate}}</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node
          (click)="activeNode = node"
          [ngClass]="{ 'background-highlight': activeNode === node }"
          *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node ">
              <p class="level">{{node.level}}</p>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.code">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <div class="container" style="width: 100%">
                <div class="row" style="align-items: center">
                  <div class="col-sm-5"><p class="bold" [ngStyle]="{'color': node.color}">{{node.code}}</p></div>
                  <ng-template [ngIf]="!platform.IOS && !platform.ANDROID">
                    <div class="col-sm-5"><p>{{node.name}}</p></div>
                  </ng-template>
                  <ng-template [ngIf]="platform.IOS || platform.ANDROID">
                    <div class="col-sm-5"><p>{{node.name | truncate:[25,"..."] }}</p></div>
                  </ng-template>
                  <div style="text-align: end" class="col-sm-2">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button (click)="editAccount(node)" mat-menu-item>
                        <span>{{'COMMON.EDIT' | translate}}</span>
                      </button>
                      <button (click)="addAccount(node)" mat-menu-item>
                        <span>{{'COMMON.ADD_BUTTON' | translate}}</span>
                      </button>
                      <button (click)="deleteAccount(node.id)" mat-menu-item>
                        <span>{{'FINANCE.CHART_OF_ACCOUNTS.DELETE' | translate}}</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
      <ng-template [ngIf]=" accounts && !accounts.length">
        <div style="padding: 20px;display: flex;align-items: center;justify-content: center">
          <p style="font-size: 20px">{{'COMMON.NO_RESULTS' | translate}}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
