.page-header .mat-toolbar-row, .page-header .mat-toolbar-single-row {
  height: 85px !important;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 20px;
  .header-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    height: 100%;
  }

  .manage-container {
    padding: 17px;
    display: flex;
    background-color: #6a1b9a;
    justify-content: space-between;

    margin: 20px 0 40px 0;
    color: white;
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:7px;
    .manage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .manage-types {
        padding: 10px;
        margin: 10px;
        .manage-type {
          margin: 0px 20px;
        }
      }
    }

  }
  .tree-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    width: 90%;
    padding: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 30px;
    .chart_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
    .code-color {
      padding: 5px;
      border-radius: 8px;
    }
  .level{
    font-weight: bold;
    font-size: 13px;
  }

  }
}




.example-tree-invisible {
  display: none;
}

.example-tree ul[dir='rtl'] {
  padding: 0 !important;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}



.example-tree li {
  max-width: 100%;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding:0 10px
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  //padding:0 10px;
}
.background-highlight {   background-color: whitesmoke;border-radius: 10px }

//.truncate {
//  width: 100px;
//  line-height: 1.5em;
//  height: 3em;
//  overflow: hidden;
//}
