<div [dir]="_translate.currentLang === 'ar' ? 'rtl' : 'ltr' " class="add-bank-account-container">
  <div  mat-dialog-title style="display: flex;align-items: center;justify-content: space-between;">
    <h2> {{data ? ("BANK.EDIT_BANK_ACCOUNT" | translate) :("BANK.ADD_BANK_ACCOUNT" | translate)}}</h2>
    <button mat-dialog-close mat-icon-button color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form appInputRestriction="noSpecialChars" [formGroup]="bankForm">
        <mat-form-field appearance="outline">
          <mat-label>{{'BANK.BANK_ACCOUNT_NAME' | translate }}</mat-label>
          <input required matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" formGroupName="bankAccountType">
          <mat-label>{{'BANK.BANK_ACCOUNT_TYPE' | translate }}</mat-label>
          <mat-select [disabled]="data?.account" formControlName="id"
                      (selectionChange)="onBankTypeChange($event.value)">
            <mat-option *ngFor="let accountType of bankAccountTypes"
                        [value]="accountType.id">{{accountType.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" formGroupName="bank">
          <mat-label>{{'BANK.BANK_NAME' | translate }}</mat-label>
          <mat-select formControlName="id">
            <mat-option *ngFor="let bank of banks" [value]="bank.id">{{bank.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="toggleAccountNumber" appearance="outline">
          <mat-label>{{'BANK.BANK_ACCOUNT_NUMBER' | translate }}</mat-label>
          <input onlyNumber maxlength="14" [required]="bankAccountType" matInput formControlName="accountNumber">
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{'BANK.BRANCH' | translate }}</mat-label>
        <mat-select required formControlName="branchs" multiple (selectionChange)="onBranchChange($event.value)">
          <mat-option *ngFor="let branch of branches"
                      [disabled]="!bankAccountType && bankForm.get('branchs').value?.length === 1"
                      [value]="branch.id">{{branch.branchName}}</mat-option>
        </mat-select>
      </mat-form-field>
<!--    <ng-template [ngIf]="!bankAccountType">-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>{{'BANK.BRANCH' | translate }}</mat-label>-->
<!--        <mat-select required formControlName="branchs" (selectionChange)="onBranchChange($event.value)">-->
<!--          <mat-option *ngFor="let branch of branches" [value]="branch.id">{{branch.branchName}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </ng-template>-->
        <mat-form-field *ngIf="toggleEmployee" appearance="outline" formGroupName="user">
          <mat-label>{{'BANK.EMPLOYEE' | translate }}</mat-label>
          <mat-select [required]="pettyCashType" formControlName="id">
            <mat-option *ngFor="let employee of branchEmployees"
                        [value]="employee.id">{{employee.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'BANK.BANK_BRANCH_NAME' | translate }}</mat-label>
          <input matInput formControlName="bankBranch">
        </mat-form-field>
        <mat-form-field *ngIf="toggleIBAN" appearance="outline">
          <mat-label>{{'BANK.IBAN' | translate }}</mat-label>
          <input [required]="bankAccountType" matInput formControlName="iban">
        </mat-form-field>
        <mat-form-field *ngIf="toggleBankSwift" appearance="outline">
          <mat-label>{{'BANK.SWIFT' | translate }}</mat-label>
          <input maxlength="11" [required]="bankAccountType" matInput formControlName="bankSwift">
        </mat-form-field>
        <mat-form-field *ngIf="toggleCurrency" appearance="outline" formGroupName="currency">
          <mat-label>{{'BANK.CURRENCY' | translate }}</mat-label>
          <mat-select [required]="bankAccountType" formControlName="id">
            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <div class="col-sm-12">
        <div class="checkbox-container">
          <mat-checkbox formControlName="payment">{{'BANK.PAYMENT' | translate }}</mat-checkbox>
          <mat-checkbox formControlName="collection">{{'BANK.COLLECTION' | translate }}</mat-checkbox>
          <mat-checkbox formControlName="payroll">{{'BANK.PAYROLL' | translate }}</mat-checkbox>
          <mat-checkbox
            formControlName="enableBankReconcilation">{{'BANK.ENABLE_RECONCILIATION' | translate }}</mat-checkbox>
        </div>
        <mat-dialog-actions class="row" style="display: flex;justify-content: center;">
          <button class="col-md-5 drawer-save" mat-flat-button color="primary" [disabled]="!bankForm.valid"
                  (click)="OnSaveBankAccount()">{{'COMMON.SAVE' | translate }}</button>
          <button  class="col-md-5 drawer-close" mat-raised-button mat-dialog-close
                 >{{'COMMON.CANCEL' | translate }}</button>
        </mat-dialog-actions>
      </div>
  </form>
</div>

