.add-bank-account-container {
  .checkbox-container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin:15px 0;
   ::ng-deep mat-checkbox {
      margin: 0 10px;
    }
  }
  .btns-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 15px;
    }
  }
}

.dialog-close{
  padding: 0 45px;
}
