<mat-toolbar color="primary" style="padding: 0; margin: 0">
  <mat-icon *ngIf="_translate.currentLang !== 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/cash-transfer">
    arrow_back
  </mat-icon>
  <mat-icon *ngIf="_translate.currentLang === 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/cash-transfer">
    arrow_forward
  </mat-icon>
  <div style="font-weight: bold; padding: 8px;font-size: 16px;">
    {{ "CASH_TRANSFER.TITLE" | translate }}
  </div>
  <div class="ToolbarSpacer"></div>
  <button mat-raised-button color="pink" style="width: 120px; margin: 0 10px" [matMenuTriggerFor]="actionsMenu">
    {{ "COMMON.ACTIONS" | translate
    }}<span class="material-icons actionMenuIcon">list</span>
  </button>
  <mat-menu #actionsMenu="matMenu" class="actionsMenu">
    <button mat-menu-item [disabled]="!cashTransferForm.touched && !cashTransferForm.valid"
            *ngIf="( !cashTransferObj?.transferStatus['code'] || cashTransferObj?.transferStatus?.code === 'ENTERED')"
            (click)="save(cashTransferForm,'ENTERED')">
      {{ "COMMON.SAVE" | translate }}
    </button>
    <mat-divider></mat-divider>
<!--    <button mat-menu-item [disabled]="!cashTransferForm.valid"-->
<!--            *ngIf="( !cashTransferObj?.transferStatus['code'] || cashTransferObj?.transferStatus?.code === 'ENTERED')"-->
<!--            (click)="save(cashTransferForm,'POSTED')">-->
<!--      {{ "CASH_TRANSFER.POSTED" | translate }}-->
<!--    </button>-->
    <button mat-menu-item
            *ngIf="cashTransferObj?.transferStatus['code'] && cashTransferObj?.transferStatus?.code === 'POSTED'"
            (click)="save(cashTransferForm,'CANCELED')">
      {{ "CASH_TRANSFER.CANCEL" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
<div style="margin: 20px 20px">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="span-cord" style="margin-top: 6px">{{'CASH_TRANSFER.HEADER'|translate}}</span>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-top: 7px;">
        <!--        <div class="row row-desk" style="justify-content: flex-end;margin-bottom: 8px;">-->
        <!--          <status-tracker-->
        <!--            [ngClass]="{'status-ar tracker-desk-ar':_translate.currentLang === 'ar','status-en tracker-desk-en':_translate.currentLang === 'en'}"-->
        <!--            *ngIf="order" [status]="payableInvoiceStatus"-->
        <!--            [currentStatus]="order.invoiceStatus"></status-tracker>-->
        <!--        </div>-->
        <form [formGroup]="cashTransferForm">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "CASH_TRANSFER.FROM_ACCOUNT" | translate }}</mat-label>
                <mat-select formControlName="fromAccount" required
                            [compareWith]="objectComparisonFunction"
                            (selectionChange)="fromAccountChanged($event.value)">
                  <mat-option *ngFor="let fromAccount of fromAccounts" [value]="fromAccount">
                    {{ fromAccount.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "CASH_TRANSFER.FROM_ACCOUNT_BALANCE" | translate }}</mat-label>
                <input matInput formControlName="fromAccountBalance"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "CASH_TRANSFER.TO_ACCOUNT" | translate }}</mat-label>
                <mat-select formControlName="toAccount" required
                            [compareWith]="objectComparisonFunction"
                            (selectionChange)="toAccountChanged($event.value)">
                  <mat-option *ngFor="let toAccount of toAccounts" [value]="toAccount">
                    {{ toAccount.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "CASH_TRANSFER.TO_ACCOUNT_BALANCE" | translate }}</mat-label>
                <input matInput formControlName="toAccountBalance"/>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "CASH_TRANSFER.AMOUNT" | translate }}</mat-label>
                <input matInput formControlName="amount" type="number" min="0" required/>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-12" style="padding: 0">
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.VIEW.DESCRIPTION" | translate }}
                </mat-label>
                <textarea matInput formControlName="description" required></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

