<div  [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'" class="chart-dialog-container">
  <div>


  <div class="drawer_header">
    <h2 *ngIf="data.id" mat-dialog-title class="title" aria-label="">
      {{'FINANCE.CHART_OF_ACCOUNTS.EDIT_ACCOUNT' | translate}}
    </h2>
    <h2 *ngIf="!data.id" mat-dialog-title class="title" aria-label="">
      {{'FINANCE.CHART_OF_ACCOUNTS.ADD_ACCOUNT' | translate}}
    </h2>
    <button (click)="close()" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h1 class="code">{{AccountDetailsForm.get('code').value}}</h1>

    <form  [formGroup]="AccountDetailsForm">
    <div class="row">
      <mat-form-field class="col-md-12 col-sm-12" appearance="outline">
        <mat-label >{{'ITEMS.NAME_AR' | translate}}</mat-label>
        <input (change)="changeNameAr()" required  matInput formControlName="nameAr">
      </mat-form-field>
      <mat-form-field class="col-md-12 col-sm-12" appearance="outline">
        <mat-label>{{'ITEMS.NAME_EN' | translate}}</mat-label>
        <input matInput formControlName="nameEn" required >
      </mat-form-field>
      <mat-form-field class="col-md-12 col-sm-12" appearance="outline">
        <mat-label >{{'ITEMS.NAME_FR' | translate}}</mat-label>
        <input matInput required  formControlName="nameFr">
      </mat-form-field>
      <mat-form-field class="col-md-12 col-sm-12" appearance="outline">
        <mat-label>{{'FINANCE.CHART_OF_ACCOUNTS.ACCOUNT_CODE' | translate}}</mat-label>
        <input matInput formControlName="code" required >
      </mat-form-field>


      <mat-form-field  class="col-md-12 col-sm-12" appearance="outline">
        <mat-label>{{"FINANCE.CHART_OF_ACCOUNTS.SERVICES" | translate}}</mat-label>
        <mat-select formControlName="services" (selectionChange)="getServiceCategory($event.value)" multiple>
          <mat-option *ngFor="let service of services" [value]="service.id">
            {{service.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="col-md-12 col-sm-12" appearance="outline">
        <mat-label>{{"FINANCE.CHART_OF_ACCOUNTS.SERVICES_CAT" | translate}}</mat-label>
        <mat-select formControlName="serviceCategories" multiple
                    [disabled]="!Validation.services?.value">
          <mat-option *ngFor="let serviceCategory of branchData?.servicesCategories" [value]="serviceCategory.id">
            {{serviceCategory.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="data.id" class="col-md-12 col-sm-12" appearance="outline" formGroupName="accountType">
        <mat-label>{{"FINANCE.CHART_OF_ACCOUNTS.ACCOUNT_TYPE" | translate}}</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.id">
          {{accountType.name}}
        </mat-option>
      </mat-select>
      </mat-form-field>
    </div>
    </form>
  </div>
  <div class="row" style="justify-content: space-evenly;margin-top: 40px">
    <button class="col-md-5 drawer-save" *ngIf="AccountDetailsForm"
            [disabled]="!AccountDetailsForm.valid || !AccountDetailsForm.dirty" mat-flat-button
            (click)="OnSaveAccount()" color="primary">
      <span>{{ "COMMON.SAVE" | translate }}</span>
    </button>
    <button class="col-md-5 drawer-close" mat-raised-button (click)="close()" mat-flat-button  type="button">
      <span>{{ "COMMON.CANCEL" | translate }}</span>
    </button>
  </div>
<!--  <div mat-dialog-actions style="display: flex; justify-content: center ; align-items: center" >-->
<!--    <button mat-button class="save-btn" [disabled]="AccountDetailsForm.invalid" (click)="OnSaveAccount()">{{'COMMON.SAVE' | translate}}</button>-->
<!--  </div>-->

</div>
