.container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.row {
  width: 100% !important;
  //justify-content: center !important;
}

.col {
  margin: 0;
}

.services {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 0px;
    color: #300458;
    text-transform: uppercase;
  }

  h2 {
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000;
    margin: 40px 0px !important;
  }

  .restaurant-text {
    @media screen and (max-width: 500px) {
      font-size: 18px;
    }
  }


}

.articlesSection {
  ::ng-deep .owl-item {
    display: flex !important;
    align-content: flex-start !important;
    justify-content: center !important;

  }
  .articleCard {
    height: 250px;
    width: 260px;
    img {
      max-width: 100%;
      height: 180px;
      margin-bottom: 10px;
    }

    .break_line {
      width: 40px;
      height: 2px;
      border-bottom: 4px solid #6a1b9a;
      margin: 10px 15px;
    }

    .serviceTitle {
      font-size: 17px;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: #300458;
      text-transform: capitalize;
      margin: 0 10px !important;
      line-height: 1.5em;
      height: 3em; /* height is 2x line-height, so two lines will display */
      overflow: hidden;
      width: 100%;
    }

    .serviceDescription {
      font-size: 13px;
      letter-spacing: 0px;
      color: #300458;
      margin-top: 5px !important;
    }
  }
}



.horizontal-border {
  border-bottom: 5px solid #e44891;
  width: 70px;
}

.last {
  max-width: 1185px;

  @media screen and (max-width: 638px) {
    max-width: 400px;
  }
}

.header2 {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0px;
  text-align: center;
  color: #000;
  margin: 40px 0px !important;
}

