<mat-form-field appearance="outline">
  <mat-select (selectionChange)="onChange($event)" [formControl]="itemMultiCtrl" [placeholder]="outlineLabel"
              [multiple]="true"
              #multiSelect>
    <mat-option *ngIf="isPageable;else not_pageable">
      <ngx-mat-select-search [alwaysRestoreSelectedOptionsMulti]="true" [disableScrollToActiveOnOptionsChanged]="true"
                             disableInitialFocus="true" [formControl]="MultiFilterCtrl"
                             [placeholderLabel]="'COMMON.SEARCH' | translate"
                             [noEntriesFoundLabel]="'COMMON.NO_DATA_FOUND' | translate">
        <mat-icon (click)="reset()" ngxMatSelectSearchClear>close</mat-icon>
      </ngx-mat-select-search>
    </mat-option>
    <ng-template #not_pageable>
      <ngx-mat-select-search [formControl]="MultiFilterCtrl" [placeholderLabel]="'COMMON.SEARCH' | translate"
                             [noEntriesFoundLabel]="'COMMON.NO_DATA_FOUND' | translate"></ngx-mat-select-search>
    </ng-template>
    <mat-option *ngFor="let item of filteredItemsMulti | async" [value]="item.id">
      {{item.fullName}}
    </mat-option>
    <ng-template [ngIf]="isPageable">
      <div class="flex-load">
        <button class="load-more-btn" *ngIf="lastPage==false"
                (click)="loadMoreItems()">{{"FILTER.LOAD_MORE_ITEMS" | translate}}</button>
      </div>
    </ng-template>
  </mat-select>
</mat-form-field>
