.flex-load{
  display: flex;
  align-items: center;
  justify-content: center;
}
.load-more-btn{
  width: 44%;
  height: 19px;
  background-color: transparent;
  color: #222121;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
}
