.snack-ltr {
  .snack-icon {
    position: absolute;
    top: 18px;
    left: 18px;
  }

  .snack-message {
    padding-left: 38px;
    font-size: 14px;
    line-height: 34px;
  }

  .action-button {
    float: right;
    height: 30px;
    width: 30px;
    line-height: 30px;

    .action-button-icon {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.snack-rtl {
  .snack-icon {
    position: absolute;
    top: 18px;
    right: 18px;
  }

  .snack-message {
    padding-right: 38px;
    font-size: 14px;
    line-height: 34px;
    float: right;
  }

  .action-button {
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;

    .action-button-icon {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
