<div class="add-settlement-form">
  <mat-dialog-content class="mat-typography" style="max-width: 700px;min-height: 92%">
    <div style="display: flex;align-items: center;justify-content: space-between;padding: 0 5px">
      <h2 mat-dialog-title>{{'PREPAYMENT.TITLE' | translate}}</h2>
      <button (click)="onCancel()" mat-icon-button color="warn">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form #prepaymentForm="ngForm">
      <div class="row font" style="flex-direction: column;overflow: auto">
        <div class="row fixed-dev col-sm-12">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">{{'PAYABLE_INVOICE.INVOICE_NUMBER' | translate}}</div>
          <div class="col-sm-2">{{'PREPAYMENT.EXPENSES'|translate}}</div>
          <div class="col-sm-2">{{'PREPAYMENT.SETTLEMENT'|translate}}</div>
          <div class="col-sm-2">{{'PREPAYMENT.REMAINING' | translate}}</div>
          <div class="col-sm-2">{{'PAYABLE_INVOICE.INVOICE_DATE' | translate}}</div>
        </div>
        <div class="col-sm-12" style="flex-wrap: wrap;" *ngFor="let supplierPrepayment of supplierPrepaymentsArray">
          <div class="row fixed-dev">
            <mat-checkbox class="col-sm-1" [disabled]="supplierPrepayment.expensesTotalAmount === supplierPrepayment.preSettlementTotalAmount" (change)="onSupplierPrepaymentChecked($event,supplierPrepayment)"></mat-checkbox>
            <div class="col-sm-3">{{supplierPrepayment.invNumber}}</div>
            <div class="col-sm-2">{{supplierPrepayment.expensesTotalAmount}}</div>
            <div class="col-sm-2">{{supplierPrepayment.preSettlementTotalAmount}}</div>
            <div class="col-sm-2">{{supplierPrepayment.expensesTotalAmount - supplierPrepayment.preSettlementTotalAmount}}</div>
            <div class="col-sm-2">{{supplierPrepayment.invDate}}</div>
          </div>
          <div *ngIf="supplierPrepayment.isChecked"
               style="display: flex;justify-content: space-evenly;align-items: center">
            <div></div>
            <div>{{'PREPAYMENT.ENTER_AMOUNT' | translate}}</div>
            <div></div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.VIEW.AMOUNT" | translate }}</mat-label>
                <input matInput (keyup)="AmountToApply()" [value]="supplierPrepayment.price"
                       [(ngModel)]="supplierPrepayment.price" type="number"
                       [name]="'name'+supplierPrepayment.id"
                       min="1" [max]="supplierPrepayment.expensesTotalAmount - supplierPrepayment.preSettlementTotalAmount" required/>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="fixed-amount-dev col-sm-12">
          <div>{{'PREPAYMENT.AMOUNT_TO_APPLY' | translate}}</div>
          <div>{{totalAmountToApply}}</div>
        </div>
      </div>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions class="row" style="display: flex;justify-content: center;">
    <button class="col-md-5 drawer-save" mat-flat-button [disabled]="prepaymentForm.invalid" (click)="onSubmit(prepaymentForm)"
            color="primary">{{"COMMON.SAVE" |
      translate}}</button>
    <button class="col-md-5 drawer-close" mat-raised-button
            (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>
</div>

