.add-settlement-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.fixed-dev {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 1rem 0;
  text-align: center;
}

.fixed-amount-dev {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 1rem 0;
}

@media screen and (max-width: 400px) {
  .font {
    font-size: 10px;
  }
  .add-settlement-form {
    .mat-dialog-content{
      padding: 0 !important;
    }
  }

}
