  .notificationIcon {
    font-size: 45px;
    width: 27px;
    height: 27px;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

.no_notifications {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  .notification_icon_container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right:1rem ;
    background-color: #e0e7ff;
    width: 3.5rem;
    height: 3.5rem;
    mat-icon {
      color: #64748b
    }
  }
  .no_notification_title {
    margin-top: 1.25rem;
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }
  .no_notification_desc {
    text-align: center;
    width: 100%;
    max-width: 15rem; /* 240px */
    margin-top: 0.25rem;
    color: #64748b;
  }
}


.count_badge {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75rem;

  .count_badge_count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #00897B;
    border-radius: 50%;
    padding: 0 0.25rem;
    height: 1rem;
    margin-left: 1rem;
    margin-top: 0.625rem;
  }
}

.notifications_card {
  //position: static;
  position: static !important;
  display: flex;
  top: auto ;
  right: auto ;
  bottom: auto ;
  left: auto ;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.75rem;
  height: 600px;
  width: 22.5rem !important;
  .notifications_card_header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
  background-color: #6a1b9a;
  color: #ffffff;
    .header_title {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 2.5rem;
    }
}
.notifications_card_content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-top-width: 0px;
  border-bottom-width: 1px;
  overflow-y: auto;
  background-color: #FFFFFF;
  .single_notification {
    display: flex;
    border-top-width: 0px;
    border-bottom: 1px solid var(--gray1);
justify-content: space-between;
    .notification_icon_info {
      padding-top: 1.25rem !important;
      padding-bottom: 1rem !important;
      padding-left: 1.5rem !important;
      display: flex;
      .notification_icon_container {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right:1rem ;
        background-color: rgb(243 244 246);
        width: 2rem;
        height: 2rem;
      }
      .notification_info {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        .notification_name {
          font-weight: 600;
        }
        .notification_message {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* number of lines to show */
          line-height: 1rem;        /* fallback */
          max-height: 3rem;       /* fallback */
        }
        .notification_date {
          margin-top: 0.5rem;
          font-size: 0.75rem;
          line-height: 1rem;
          color: #64748b;
        }
      }
    }
.notification_actions {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 1.25rem  0.5rem 1.25rem 0.5rem;
  .approving_actions, .reading_actions,.notif-actions {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;

    ::ng-deep .mat-button-wrapper {
      position: relative;
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      height: 100%;
      z-index: 2;
    }
    img {
      max-width: 30px;
      cursor: pointer;
    }
  }
}
  }
  .single_notification:hover {
    background-color: rgb(249 250 251);
  }
}
  @media screen and (max-width: 450px) {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
  }

}
.read_button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
.isRead {
  background-color:  rgb(148 163 184) !important;
}
.isNotRead {
 background-color:  #4f46e5 !important;
}
