<div [style.width.px]="width" style="display: contents" class="toolBar" #fixedHeader>
  <mat-toolbar [ngStyle]="production ? prodHeaderStyle : headerStyle">
    <mat-toolbar-row style="margin: 0 !important;">
      <div class="menu-button">
        <button mat-icon-button (click)="toggleSideNav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="toolBar-spacer"></span>
      <div style="display: flex ; align-items: center"
           [style.margin-right]="_translate.currentLang !== 'ar' ? '20px' : '0'"
           [style.margin-left]="_translate.currentLang === 'ar' ? '20px' : '0'">
        <button mat-icon-button>
          <img (click)="openCustomerProgressDialog()" style="cursor: pointer;height: 26px;" src="assets/images/icons/progress.png" alt="">
        </button>
        <notifications></notifications>
        <app-user-menu></app-user-menu>
        <app-languages></app-languages>
        <wifi-connection></wifi-connection>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

