.toolBar {
  .mat-toolbar-row {
    //background-color: white !important;
    //color: #e44891;
    padding: 0;
    .menu-button {
      padding: 0 8px;
     // padding-right: 20px;
      height: 56px;
      .mat-icon-button {
        margin-top: 8px;
      }
    }
  }

  .toolBar-spacer {
    flex: 1 1 auto;
  }
  position: fixed;
  top: 0;
  z-index: 999999;
  //width: 100%;
  @media (min-width: 550px) and (max-width: 638px) {
    width:100% !important;
    display: block !important;
    position: fixed !important;
  }
  @media (min-width: 639px) and (max-width: 768px) {
    width:100% !important;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    width:100% !important;
    display: block !important;
    position: fixed !important;
  }
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
    width:100% !important;
    display: block !important;
    position: fixed !important;
  }
  @media only screen and (min-device-width: 780px) and (max-device-width: 1024px) and (orientation: portrait) {
    width:100% !important;
  }
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    width:100% !important;
  }
  @media (width: 280px){
    width:100% !important;
    display: block !important;
    position: fixed !important;
  }
}

