
.divider {
  overflow: hidden;
  height: 20px;
  margin: 13px 5px 5px 5px;

  &:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
  }
}

.itemAttachImg {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 4px 8px 2px rgba(73, 73, 73, 0.4);
}

.itemAttachImg img {
  height: 100% !important;
  width: 100% !important;
  border-radius: 5px;
}

.itemAttachImg span {
  position: absolute;
  bottom: -10px;
  z-index: 9999;
  right: -10px;
  background: #6a1b9a;
  border-radius: 5px;
  padding: 3px;
  color: #FFF;
  cursor: pointer;
}

.itemAttachImg:hover span {
  transform: rotate(360deg) scale(1.2);
  transition: .5s ease-in-out;
}

.fileContainer {
  display: inline-block;
  height: 60px;
  width: 150px;
  text-align: center;
}

.uploadIcon {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.fileText {
  width: 100%;
  //margin: 7px;
  font-weight: bold;
  color: #666;
}


.material-button {
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 50%;
}

.avatar-img {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.display-camera-icon {
  margin-top: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.cameraSpan {
  margin-right: auto;
  font-size: 33px;
  margin-top: -4px;
  margin-bottom: auto;
}

.cameraIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .screen-lg {
    margin-top: 50px;
  }
  .cameraSpan {
    margin-right: auto;
    font-size: 44px;
    margin-top: -4px;
    margin-bottom: auto;
  }
  .uploadIcon {
    cursor: pointer;
    text-align: center;
    font-size: 44px;
    width: 100%;
  }
  //.avatar-img{
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  img{
  //    width: 170px;
  //    height: 170px;
  //    border-radius: 50%;
  //  }
  //}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  #uploadBtn {
    margin-top: 15px !important;
  }
  .smallText{
  margin-top: 18px !important;
  }
  #small-row{
    margin-bottom: 7px;
    margin-left: -21px;
  }
}
