.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  padding: 16px 0 0 0;
  margin-bottom: 16px;

  .fw {
    width: 100%;
  }

  .title {
    position: relative;

    .title-icon {
      cursor: pointer;
      position: absolute;
      top: 3px;
    }

    .rtl-title-text {
      padding-right: 32px;
    }

    .ltr-title-text {
      padding-left: 32px;
    }
  }
}

.mat-error {
  display: flex; 
  flex-direction: row-reverse;
}
