$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;


$font: 'Lato',
sans-serif;




.verifyEmailContainer {

  width: 100vw;
  height: 100vh;

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 30%) !important;
  }

  .alert-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
  }

  .icon-alert {
    color: #4fc07d;
    font-size: 60px;
    margin-bottom: 41px;
    margin-right: 35px;
  }
  .icon-alert-error {
    color: red;
    font-size: 60px;
    margin-bottom: 41px;
    margin-right: 35px;
  }

  .alert-text {
    font-size: 15px;
  }
  .btn-succ{
    cursor: pointer;
    width: 50%;
    height: 30px;
    background-color: #4ec07d;
    border: 1px solid #4ec07d;
    color: #fff;
    font-size: 14px;
  }
}
