<div class="page-header">
  <mat-toolbar color="primary" class="row">
    <div class="header-item">
      <h2 class="page_title">
        <mat-icon class="back_icon" (click)="back()" >{{ _translate.currentLang !== 'ar' ? 'arrow_back' :'arrow_forward'}}</mat-icon>
        <span [class.rtl-title-text]="_translate.currentLang === 'ar'"
              [class.ltr-title-text]="_translate.currentLang !== 'ar'">{{ "SETUP_HOME.BANK_ACCOUNTS" | translate }}</span>
      </h2>
      <advanced-search-component
        (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
        [searchConfig]="searchConfiguration"
        placeholder="BANK.SEARCH_BY_ACCOUNT_NUMBER">
        placeholder="FINANCE.CHART_OF_ACCOUNTS.SEARCH_NAME_PLACEHOLDER">
      </advanced-search-component>
    </div>
  </mat-toolbar>
<div  class="static_cards">
    <mat-card *ngFor="let bankAccount of bankAccounts">
      <div  class="static_card_header row" style="justify-content: space-between">
        <p class="title ">{{bankAccount.name ? (bankAccount.name | truncate :[20 ,"..."]) : ''}}</p>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="editBankAccountDialog(bankAccount)" mat-menu-item
            >{{'BANK.VIEW_ACCOUNT'| translate }}
            </button>
            <button disabled (click)="removeAccount(bankAccount.id)" mat-menu-item>
              <span>{{'FINANCE.CHART_OF_ACCOUNTS.DELETE' | translate}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div (click)="editBankAccountDialog(bankAccount)">
        <div class="row" style="margin-top: 10px ;align-items: center">
          <p class="col-sm-5 key">{{ "BANK.BANK_ACCOUNT_TYPE" | translate }}</p>
          <p class="col-sm-7 value">{{bankAccount.bankAccountType.name}}</p>
        </div>
        <div class="horizontal-line"  ></div>
        <div class="row" style="align-items: center" >
          <p class="col-sm-5 key">{{ "BANK.BANK_BRANCH_NAME" | translate }}</p>
          <p class="col-sm-7 value" *ngIf="bankAccount.bankBranch?.length > 0; else  Nothing">{{bankAccount.bankBranch | truncate :[30 ,"..."]}}</p>
          <ng-template #Nothing>
            <p  class="col-sm-7 grayed">{{"COMMON.NOTHING" | translate}}</p>
          </ng-template>
        </div>
        <div class="horizontal-line" ></div>
        <div class="row" style="align-items: center">
          <p class="col-sm-5 key">{{ "BANK.BANK_ACCOUNT_NUMBER" | translate }}</p>
          <p class="col-sm-7 value" *ngIf="bankAccount.accountNumber?.length > 0 ; else Nothing">{{bankAccount.accountNumber}}</p>
          <ng-template #Nothing>
            <p  class="col-sm-7 grayed ">{{"COMMON.NOTHING" | translate}}</p>
          </ng-template>
        </div>
      </div>
    </mat-card>


</div>
</div>
    <button mat-fab class="accent" id="add-new-button" (click)="addBankAccountDialog()">
      <mat-icon>add</mat-icon>
    </button>

