<mat-form-field appearance="outline">
  <mat-select (selectionChange)="onChange($event)" [formControl]="itemMultiCtrl" [placeholder]="outlineLabel" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="branchAccountFilterCtrl" [placeholderLabel]="'COMMON.SEARCH' | translate" [noEntriesFoundLabel]="'COMMON.NO_DATA_FOUND' | translate"></ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let branchAccount of filteredBranchAccounts | async"  [value]="branchAccount">
      {{branchAccount.account?.code + ' - ' + branchAccount.account.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
