<img onError="this.src='assets/images/user.png'"
  class="avatar" style="display: flex;"
  [matMenuTriggerFor]="userMenu"
  [src]="personImage"

/>

<mat-menu #userMenu="matMenu">
  <button
    *ngFor="let item of userMenuItems"
    mat-menu-item
    [class.rtl]="_translate.currentLang === 'ar'"
    [class.ltr]="_translate.currentLang !== 'ar'"
    (click)="applyAction(item.type, item.target)"
  >
    <mat-icon>{{ item?.icon }}</mat-icon>
    <span>{{ item?.translate | translate }}</span>
  </button>
</mat-menu>
