.avatar {
 /* margin-top: 11px;*/
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.rtl {
  direction: rtl;
  text-align: right;

  .mat-icon {
    margin: 0 0 0 16px;
  }
}

.ltr {
  direction: ltr;
  text-align: left;

  .mat-icon {
    margin: 0 16px 0 0;
  }
}
