<div class="page-header">
  <mat-toolbar color="primary">
    <div class="header-item">
      <h2 class="title">
        <mat-icon *ngIf="_translate.currentLang !== 'ar'" class="title-icon" (click)="navigateBack()">
          arrow_back
        </mat-icon>
        <mat-icon *ngIf="_translate.currentLang === 'ar'" class="title-icon" (click)="navigateBack()">
          arrow_forward
        </mat-icon>
        <span [class.rtl-title-text]="_translate.currentLang === 'ar'"
          [class.ltr-title-text]="_translate.currentLang !== 'ar'">{{ "TAX.DETAILS" | translate }}</span>
      </h2>
    </div>
  </mat-toolbar>
</div>
<div class="header-btns">
  <span (click)="loadPurchase()" class="purchase-span"  [ngClass]="{'selected':isPurchase}">{{ "TAX.PURCAHSE" | translate }}</span>
  <span (click)="loadSales()" class="sales-span" [ngClass]="{'selected':isSales}" >{{ "TAX.SALES" | translate }}</span>
</div>
<mat-card class="card tableContentCard">
  <div class="row" style="overflow-x: auto;">
    <mat-table #table [dataSource]="dataSource" matSort>


      <!-- Name Column -->
      <ng-container matColumnDef="invoiceNumber">
        <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
          "TAX.INV_NUMBER" | translate
          }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <p class="text-truncate">{{ item?.invoiceNumber }}</p>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="invoiceDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
          "TAX.INV_DATE" | translate
          }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <p class="text-truncate">{{ item?.invoiceDate}}</p>
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="invoiceAmountWithTax">
        <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
          "TAX.INV_AMOUNT_WITH_TAX" | translate
          }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <p class="text-truncate">{{ item?.invoiceAmountWithTax}}</p>
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="invoiceAmountWithoutTax">
        <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
          "TAX.INV_AMOUNT_WITH_OUT_TAX" | translate
          }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <p class="text-truncate">{{ item?.invoiceAmountWithoutTax}}</p>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="taxAmount">
        <mat-header-cell mat-sort-header *matHeaderCellDef class="kufi">{{
          "TAX.TAX_AMOUNT" | translate
          }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <p class="text-truncate">{{ item?.taxAmount }}</p>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let item; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>

  <mat-paginator #paginator [length]="page.totalElements" [pageIndex]="page.pageNumber" [pageSize]="page.pageSize"
    [hidePageSize]="true" [pageSizeOptions]="constant.pageSizeOptions" (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</mat-card>
