.header-item{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: 100%;
}
.header-btns{
  position: relative;
  top: -75px;
  margin: 0 20px;
}
.purchase-span{
  color: #FFFFFF;
  cursor: pointer;
}
.sales-span{
  color: #FFFFFF;
  cursor: pointer;
  padding-right: 32px;
}
.selected{
  border-bottom: 2px solid #E44891;;
}
