<form [formGroup]="item">
  <mat-dialog-content class="mat-typography">
    <div *ngIf="invoiceTotal" class="row" style="margin-bottom: 8px;">
      <div *ngIf="invoiceTotal.invoiceTotalAmount" class="col-md-3 col-sm-12">
        <span class="span-invoice-text">{{ "PAYABLE_INVOICE.TOTAL_PRICE" | translate }}</span>
        <span class="span-invoice-value"> : {{  invoiceTotal.invoiceTotalAmount | number:'1.2-2'}}</span>
      </div>
      <div *ngIf="invoiceTotal.totalPaidAmount" class="col-md-3 col-sm-12">
        <span class="span-invoice-text">{{ "PAYABLE_INVOICE.VIEW.PAID_AMOUNT" | translate }}</span>
        <span class="span-invoice-value"> : {{ invoiceTotal.totalPaidAmount | number:'1.2-2'}}</span>
      </div>
      <div *ngIf="invoiceTotal.invoiceTotalAmount" class="col-md-3 col-sm-12">
        <span class="span-invoice-text">{{ "ORDER_VIEW.REMAINING" | translate }}</span>
        <span class="span-invoice-value"> : {{ (invoiceTotal.invoiceTotalAmount - invoiceTotal.totalPaidAmount) | number:'1.2-2'}}</span>
      </div>
      <div *ngIf="invoiceTotal.installValue" class="col-md-3 col-sm-12">
        <span class="span-invoice-text">{{ "PAYABLE_INVOICE.INSTALL_VALUE" | translate }}</span>
        <span class="span-invoice-value"> : {{ invoiceTotal.installValue | number:'1.2-2'}}</span>
      </div>
    </div>

    <div class="row" style="margin-top: 4px">
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PAYABLE_INVOICE.VIEW.PAYMENT_DATE"  | translate }}</mat-label>
          <input matInput formControlName="date" required [matDatepicker]="picker1" [max]="maxDate"/>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field  appearance="outline">
          <mat-label>{{'BANK.BANK_NAME' | translate }}</mat-label>
          <mat-select formControlName="account" required [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let account of AccountsData" [value]="account">
              {{ account.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PAYABLE_INVOICE.VIEW.AMOUNT" | translate }}</mat-label>
          <input matInput formControlName="paidAmount"  type="number" min="1" [max]="invoiceTotal.installValue | number:'1.2-2'"/>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex;justify-content: center;">
    <button mat-raised-button [disabled]="!item.valid" (click)="onSubmit()" color="primary">{{"COMMON.SAVE" |
      translate}}</button>
    <button mat-button (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>
</form>



