<div class="analysis_container" [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'">
  <div mat-dialog-title class="analysis_dialog_header">
    <p class="code">{{transactions ? transactions[0]?.code : ''}}</p>
    <div class="row">
      <p class="col-sm-6">{{"FINANCE.BALANCE" | translate}}</p>
      <span class="balance_value col-sm-6">{{transactions ? transactions[0]?.balance : ''}}</span>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row analysis_dialog_titles">
      <p class="col-sm-1">{{"COMMON.NO" | translate}}</p>
      <p class="col-sm-4">{{'FINANCE.TRANSACTION_TYPE' | translate}}</p>
      <p class="col-sm-2">{{"FILTER.DATE" | translate}}</p>
      <p class="col-sm-2">{{"FINANCE.CREDIT" | translate}}</p>
      <p class="col-sm-2">{{"FINANCE.DEBIT" | translate}}</p>
      <p class="col-sm-1">{{"COMMON.OPEN" | translate}}</p>
    </div>
    <div class="table_container">
      <div class="row analysis_dialog_table" *ngFor="let transaction of transactions ;let index = index
">
        <p class="col-sm-1">{{index +1}}</p>
        <p class="col-sm-3">{{transaction.sourceName}}</p>
        <p class="col-sm-3">{{transaction.postingDate}}</p>
        <p class="col-sm-2">{{transaction.creditAmount}}</p>
        <p class="col-sm-2">{{transaction.debitAmount}}</p>
        <a class="col-sm-1" style="text-decoration: none"  target="_blank" [routerLink]="transaction.transactionPath"><mat-icon>launch</mat-icon></a>
      </div>
    </div>
  </div>
  <mat-dialog-actions style="justify-content: center">
    <button mat-dialog-close  mat-raised-button color="primary">
    <span>{{ "COMMON.CANCEL" | translate }}</span>
  </button>
  </mat-dialog-actions>

</div>
