.analysis_dialog_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}
.balance_value {
  color: #cf4486;
  font-weight: bold;
  text-align: center;
}
.analysis_dialog_titles {
  text-align: center;
  p{
    color: var(--gray3);
  }
}
.table_container {
  margin: 30px 0;
  .analysis_dialog_table {
    margin: 15px 0 !important;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray1);

  }
}
@media screen and (max-width:500px) {
  .analysis_container {
    p {
      font-size: 12px !important;
    }
  }
}
