.release_div {
  .release_header {
    font-weight: 500;
    font-size: 19px;
    color: red;
  }
  .release {
    font-size: 10px;
  }
  .scope {
    font-weight: 600;
    font-size: 15px;
    margin: 15px 0 !important;
  }

  .mat-expansion-panel-header {
    background-color: #F5F5F5
  }

  .mat-expansion-panel-header.mat-expanded {
    background-color: #6777EF !important;
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description{
      color: white !important;
    }
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
    margin: 12px 0;
    border-radius: 10px !important;
  }
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 1;
    font-weight: 500;
    mat-icon {
      margin: 0 7px;
    }
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

}

