<form [formGroup]="item">
  <mat-dialog-content class="mat-typography">
    <span class="span-invoice-text">{{ "PAYABLE_INVOICE.TOTAL_PRICE" | translate }} </span> <span class="span-invoice-value"> : {{ invoiceTotalAmount}}</span>
    <div class="row" style="margin-top: 6px">
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PAYABLE_INVOICE.PAYMENT_PERIODS" | translate }}
          </mat-label>
          <mat-select formControlName="paymentPeriodId">
            <mat-option *ngFor="let paymentPeriod of paymentPeriods"
                        [value]="paymentPeriod?.id">
              {{ paymentPeriod?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PAYABLE_INVOICE.INSTALL_VALUE" | translate }}</mat-label>
          <input matInput formControlName="installValue" type="number" min="0" [max]="installValueMax"  (change)="changeInstallValue()"/>
        </mat-form-field>
      </div>
      <div class="col-md-4 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>{{ "PAYABLE_INVOICE.INSTALL_COUNT" | translate }}</mat-label>
          <input matInput formControlName="installCount" type="number" min="0" [max]="installCountMax" (change)="changeInstallCount()"/>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions style="display: flex;justify-content: center;">
    <button mat-raised-button [disabled]="!item.valid" (click)="onSubmit()" color="primary">{{"COMMON.SAVE" |
      translate}}</button>
    <button mat-button (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>
</form>



