.register-container {
  padding: 20px;
  min-height: 90vh;
  transition: all 0.5s ease-in-out;
  .register {
    padding: 20px;
    background: transparent;
    //width: 45%;
    margin: 0px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1330px) {
      background-image: none !important;
    }
    h2 {
      margin: 30px 0;
      font-weight: bold;
      font-size: 24px;
      color: #262261;
      align-self: center;
    }
    img {
      width: 70px;
      object-fit: contain;
      align-self: center;
    }
    ::ng-deep .mat-step-header  {
      flex-direction: column;
      justify-content: space-evenly;
    }
    .register-form {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
      //border: 1px solid #ddd;
      max-width: 550px;
      padding: 30px;
      background-color: #fff;
      border-radius: 20px;
      margin: 20px 0;
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
        height: 50px;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        background-color: #F4F5F7;
        border-radius: 5px;
        outline: none;
      }
      .login-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        p {
          color: #6C757D;
          font-size: 14px;
        }
        button {
          background: none;
          color: #cf4486;
          display: block;
          width: auto;
          padding: 0;
        }
      }
    }

    @media (min-width: 300px) and (max-width: 670px) {
      width: 100%;
      margin: 0 auto;
      border-radius: 0;
    }

    &.register-right {
      text-align: right;

    }

  }
  //::ng-deep mat-error {
  //  margin: 0 0 15px 0 !important;
  //}
  p {
    margin: 0 0 10px 0 !important;
  }
}

::ng-deep .mat-stepper-horizontal {
  max-width: 850px;
}

//#map {
//  width: 100%;
//  height: 100%;
//  display: block;
//  border-radius: 15px;
//}
//
//.innerMap {
//  width: 100%;
//  display: block;
//  height: 300px;
//  padding: 10px;
//  border-radius: 10px;
//  overflow: hidden;
//}




.UploadCategoryContainer {
  margin: 15px auto;
  width: 150px;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .CategoryImgContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
  }
}


form button {
  background: linear-gradient(90deg, rgba(135,49,212,1) 0%, rgba(122,33,202,1) 100%);
  color: #fff;
  display: block;
  width: 115px;
  padding: 6px 10px;
}

::ng-deep {
  .mat-horizontal-content-container {
    padding: 0 !important;
  }
}

.field {
  //padding-bottom: 7px;
  margin: 0 0 10px 0;
}

.funds-success-message-container {
  font-family: Roboto, "Segoe UI", "Helvetica Neue", sans-serif !important;
  color: #333;
  margin-top: 100px;
  margin: 0 auto;
}

.funds-checkmark-text-container {
  display: block;
  width: auto !important;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.funds-checkmark-container {
  height: 40px;
  padding: 0 4px 0 0px;
  display: inline-block;
  width: 70px;
  margin: 0 auto;
}

.funds-checkmark-container:after {
  clear: both;
}

.funds-success-done-text {
  vertical-align: middle;
  margin: 0;
  padding: 15px 0 0 0;
  display: inline;
}

.funds-success-message {
  text-align: center;
  margin-top: 2em;
}

.funds-success-message h2 {
  margin-top: 0px;
}

//h1,
//h2 {
//  font-weight: 700;
//  margin-top: 0px;
//}
//
//
.flash {
  font-size: 24pt;
  margin-top: 25px;
}


/* CHECKMARK */
.funds-checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke: #33bb11;
  fill: #33bb11;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.funds-checkmark {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  // display: block;
  stroke-width: 5;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  -webkit-box-shadow: inset 0px 0px 0px #33bb11;
  box-shadow: inset 0px 0px 0px #33bb11;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards,
  scale 0.3s ease-in-out 0.9s both;
  animation: fill 0.4s ease-in-out 0.4s forwards,
  scale 0.3s ease-in-out 0.9s both;
}

.funds-checkmark-check {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.funds-display-on-ie {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .funds-display-on-ie {
    display: block;
  }

  .funds-checkmark {
    display: none;
  }

  .funds-ie-checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #33bb11;
    fill: none;
    -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .funds-ie-checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    -webkit-box-shadow: inset 0px 0px 0px #33bb11;
    box-shadow: inset 0px 0px 0px #33bb11;
    -webkit-animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
    animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  }

  .funds-ie-checkmark-check {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #33bb11;
    box-shadow: inset 0px 0px 0px 30px #33bb11;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #33bb11;
    box-shadow: inset 0px 0px 0px 30px #33bb11;
  }
}

@media only screen and (max-width: 768px) {
  .funds-checkmark-text-container {
    display: block;
  }
  .funds-checkmark-container {
    height: auto;
    padding: 0;
    display: block;
    width: 100%;
  }
}

.msg {
  padding: 50px;
  border: 1px solid #ddd;
  width: 910px;
  margin: 0px auto;
  text-align: left;
  margin-top: 251px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%);

  &.msg-right {
    text-align: right;

  }
}

.grid {
  position: relative;
  width: 910px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 619px;
  }

  .flash {
    font-size: 20pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 746px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    left: 38%;

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 819px;
  }

  .flash {
    font-size: 20pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 746px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    left: 38%;

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 215px;
  }

  .flash {
    font-size: 12pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 299px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 239px;
  }

  .flash {
    font-size: 12pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 324px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 250px;
  }

  .flash {
    font-size: 12pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 337px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 272px;
  }

  .flash {
    font-size: 12pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 363px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    &.msg-right {
      text-align: right;

    }
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {

  .grid {
    position: sticky;
    width: 272px;
  }

  .flash {
    font-size: 12pt;
    margin-top: 25px;

    margin-right: -47px;
    margin-left: -46px;
  }

  .msg {
    padding: 50px;
    border: 1px solid #ddd;
    width: 363px;
    margin: 0 auto;
    text-align: left;
    margin-top: 251px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    &.msg-right {
      text-align: right;

    }
  }
}

