
<mat-drawer-container [style.max-height]=" drawerOpened ? 'calc(100vh - 65px)' : '100%' ">
  <mat-drawer disableClose #drawer class="custom-drawer" mode="over" position="end" [opened]="drawerOpened">
    <app-branch-accounts-dialog [data]="data" [isEdit]="isEdit" (onCloseDrawer)="closeDrawer()"></app-branch-accounts-dialog>
  </mat-drawer>
  <mat-drawer-content>
    <app-branch-accounts (onAddAccount)="addAccount($event)" (onEditAccount)="editAccount($event)"></app-branch-accounts>
  </mat-drawer-content>
</mat-drawer-container>

