.search-inner {
  position: relative;
  z-index: 999998;
  overflow: hidden;
  border-radius: 26px;

  &.active {
    box-shadow: 0px 0px 10px 2px rgb(119 119 119 / 45%);

    &.filterActive {
      border-radius: 16px;
    }
  }

  mat-icon {
    position: absolute;
  }

  .search-item {
    position: relative;
    height: 40px;
    width: 40px;
    transition: 0.4s all ease-in-out;
    overflow: hidden;
    background-color: #fff;

    mat-icon {
      position: absolute;
      top: 50%;
      left: 9px;
      transform: translateY(-50%);
      color: rgb(139, 139, 139);
    }

    &.active {
      width: 350px;

      &.filterActive {
        border-bottom: 1px solid #868686;
      }
    }

    input {
      width: 100%;
      height: 100%;
      visibility: hidden;
      text-align: center;
      padding: 0 57px;
      border: 0;

      &.active {
        visibility: visible;
      }
    }

    .buttons {
      position: absolute;
      left: auto;
      right: 10px;
      top: 50%;
      display: flex;
      flex-direction: row-reverse;

      mat-icon {
        position: static;
      }
    }
  }

  .filter {
    background-color: #fff;
    padding: 20px;

    // border-radius: 0px 0px 15px 15px;
  }
}

::ng-deep {
  .search-inner {
    .mat-form-field {
      .mat-form-field-wrapper {
        color: #868686;
      }
    }
  }

}

.mat-error {
  display: flex;
  flex-direction: row-reverse;
}

.tags-search {
  display: flex;
  align-items: center;
  position: absolute;
  left: 12px;
  margin-top: 10px;

  .item {
    font-size: 12px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1) 0s;
    background-color: white;
    color: #212529;
    //padding: 0 10px;
    padding: 0.5em 0.5em;
    //border-radius: 3px;
    height: 19px;

    .remove-button {
      // background: transparent;
      // border: 0;
      // margin-right: 10px;
    }

    #rmvIcon {
      color: red;
      font-size: 11px;
      margin-left: -7px;
      margin-top: 3px;
      width: 12px;
      cursor: pointer;
    }
  }
}
