@media (min-width: 300px) and (max-width: 720px) {
    .search-inner{
        border-radius: 16px;
  
        .search-item {
            &.active {
                width: calc(100vw - 20px) ;
            }
        }
    }
  
}
