.wifi-button {

    width: 30px;
    text-align: center;
    .img{
        svg{
            width: 27px;
            height: 27px;
        }
      .icon {
        line-height: 1.5;
        font-size: 28px;
      }

    }
}
