<div *ngIf="lang === 'ar'" dir="rtl" style="padding: 25px; background-color: #ffffff">
  <div class="header">
    <div class="service-logo">
      <img
        src="./assets/images/service-logo.png"
        width="100px"
        height="70px"
      />
    </div>

    <div class="heading">
      <h1>سياية الخصوصية خدمة في اي بي.</h1>
      <span>Version number: 0.1</span> <br/>
      <span>Date: 01-02-2022 </span>
    </div>
    <div class="company-logo">
      <img
        src="./assets/images/company-logo.jpg"
        width="150px"
        height="90px"
      />
    </div>
  </div>
<!--  <div-->
<!--    class="menu-item-details"-->
<!--    style="color: gray; font-weight: bold; margin-top: 100px"-->
<!--  >-->
<!--    <ul>-->
<!--      <li>-->
<!--        شركة ديجيتال يونيفرس لتكنولوجيا المعلومات ذ. م. م. ميت غمر – الدقهلية - -->
<!--        مصر-->
<!--      </li>-->
<!--      <li>جمهورية مصر العربية</li>-->
<!--      <li>مسجلة في جمهورية مصر العربية – رقم 9226</li>-->
<!--      <li>البريد الإلكتروني : Info@du-apps.com</li>-->
<!--      <li>الموقع الإلكتروني : www.du-apps.com</li>-->
<!--      <li>-->
<!--        نوصي بطباعة نسخة من هذه الشروط لتكون مرجعا في المستقبل. إذا كان لديك أي-->
<!--        أسئلة بخصوص هذا الموقع 5dma.vipاو التطبيق أرجع إلى قسم الإتصال بنا لمزيد-->
<!--        من المعلومات وتفاصيل الاتصال الكاملة.-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
  <div class="company-footer-logo">
    <img src="./assets/images/company-footer-logo.png"/>
  </div>
</div>
<div *ngIf="lang === 'en'" dir="ltr" style="padding: 25px; background-color: #ffffff">
  <div class="header">
    <div class="service-logo">
      <img
        src="./assets/images/service-logo.png"
        width="100px"
        height="70px"
      />
    </div>

    <div class="heading">
      <h1>Privacy Policy in 5dma.vip</h1>
      <span>Version number: 0.1</span> <br/>
      <span>Date: 01-02-2022 </span>
    </div>
    <div class="company-logo">
      <img
        src="./assets/images/company-logo.jpg"
        width="150px"
        height="90px"
      />
    </div>
  </div>
  <div class="content-menu">
    <ul>
      <li>Privacy Policy</li>
      <li>Information Collection and Use</li>
      <li>Log Data</li>
      <li>Service Providers</li>
      <li>Security</li>
      <li>Links to Other Sites</li>
      <li>Changes to This Privacy Policy</li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>1- Privacy Policy :</h3>
      <li>
        1-1
        DU-Apps built the khdma app as a Free app.
      </li>
      <li>
        2-1
        This SERVICE is provided by DU-Apps at no cost and is intended for use as is.
      </li>
      <li>
        3-1
        This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal
        Information if anyone decided to use our Service.
      </li>
      <li>
        4-1
        If you choose to use our Service, then you agree to the collection and use of information in relation to this
        policy.
      </li>
      <li>
        5-1
        The Personal Information that we collect is used for providing and improving the Service.
      </li>
      <li>
        6-1
        We will not use or share your information with anyone except as described in this Privacy Policy.
      </li>
      <li>
        7-1
        The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which are
        accessible
        at khdma unless otherwise defined in this Privacy Policy.
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>2- Information Collection and Use :</h3>
      <li>
        1-2
        For a better experience, while using our Service, we may require you to provide us with certain personally
        identifiable information.
      </li>
      <li>
        2-2
        The app does use third-party services that may collect information used to identify you.
      </li>
      <li>
        3-2
        Link to the privacy policy of third-party service providers used by the app
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>3- Log Data :</h3>
      <li>
        1-3
        We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and
        information (through third-party products) on your phone called Log Data.
      </li>
      <li>
        2-3
        This Log Data may include information
        such as your device Internet Protocol (“IP”) address,
        device name, operating system version, the configuration of
        the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>4- Service Providers :</h3>
      <li>
        1-4
        We may employ third-party companies and individuals due to the following reasons:
        <ol>
          <li>To facilitate our Service.</li>
          <li>To facilitate our Service.</li>
          <li>To perform Service-related services.</li>
          <li>To assist us in analyzing how our Service is used.</li>
        </ol>
      </li>
      <li>
        2-4
        We want to inform users of this Service that these third parties have access to their Personal Information.
      </li>
      <li>
        3-4
        The reason is to perform the tasks assigned to them on our behalf.
      </li>
      <li>
        4-4
        However, they are obligated not to disclose or use the information for any other purpose.
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>5- Security :</h3>
      <li>
        1-5
        We value your trust in providing us your Personal Information, thus we are striving to use commercially
        acceptable means of protecting it.
      </li>
      <li>
        2-5
        But remember that no method of transmission over the internet, or method of electronic storage is 100% secure
        and reliable, and we cannot guarantee its absolute security.
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>6- Links to Other Sites :</h3>
      <li>
        1-6
        This Service may contain links to other sites.
      </li>
      <li>
        2-6
        If you click on a third-party link, you will be directed to that site.
      </li>
      <li>
        3-6
        Note that these external sites are not operated by us.
      </li>
      <li>
        4-6
        Therefore, we strongly advise you to review the Privacy Policy of these websites.
      </li>
      <li>
        5-6
        We have no control over and assume no responsibility for the content, privacy policies, or practices of any
        third-party sites or services.
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>7- Changes to This Privacy Policy :</h3>
      <li>
        1-7
        We may update our Privacy Policy from time to time.
      </li>
      <li>
        2-7
        Thus, you are advised to review this page periodically for any changes.
      </li>
      <li>
        3-7
        We will notify you of any changes by posting the new Privacy Policy on this page.
      </li>
      <li>
        4-7
        This policy is effective as of 2022-02-01
      </li>
    </ul>
  </div>
  <div class="menu-item-details">
    <ul>
      <h3>Contact Us :</h3>
      <li>
        If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
        info@du-apps.com.
      </li>
    </ul>
  </div>
  <div class="company-footer-logo">
    <img src="./assets/images/company-footer-logo.png"/>
  </div>
</div>

