.title {
  text-align: center;
  padding: 30px 0 0 0;
  font-weight: bold;
}
.header {
  .heading {
    text-align: center;
    margin: 40px 0px;
  }
  .company-logo {
    position: absolute;
    left: 200px;
    top: 50px;
  }
  .service-logo {
    position: absolute;
    right: 200px;
    top: 50px;
  }
  @media screen and (max-width: 1200px) and (min-width: 950px) {
    .company-logo {
      position: absolute;
      left: 80px;
      top: 50px;
    }
    .service-logo {
      position: absolute;
      right: 80px;
      top: 50px;
    }
  }
  @media screen and (max-width: 950px) and (min-width: 820px) {
    .company-logo {
      position: absolute;
      left: 20px;
      top: 50px;
    }
    .service-logo {
      position: absolute;
      right: 20px;
      top: 50px;
    }
  }
  @media screen and (max-width: 820px) and (min-width: 700px) {
    .heading {
      margin: 40px 0px;
      h1 {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .company-logo {
      position: absolute;
      left: 5px;
      top: 50px;
    }
    .service-logo {
      position: absolute;
      right: 5px;
      top: 50px;
    }
  }
  @media screen and (max-width: 700px) {
    .heading {
      margin: 40px 0px;
      margin-top: 110px;
      h1 {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .company-logo {
      position: absolute;
      left: 5px;
      top: 50px;
    }
    .service-logo {
      position: absolute;
      right: 5px;
      top: 50px;
    }
  }
}
.content-menu ul {
  list-style: decimal;
  li {
    font-size: 16px;
    font-weight: bold;
    padding: 3px;
  }
}
.menu-item-details ul {
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
  list-style: none;
  li {
    font-size: 14px;
    font-weight: 400;
    padding: 3px;
  }
}
.company-footer-logo {
  text-align: center;
  padding: 40px 0px;
}
