<div class="page-layout">
  <div style="margin: 0 20px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'FINANCE.PRINTED_FINANCE_REPORT'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="sales-report-filter-btn">
          <button mat-raised-button color="pink" [matMenuTriggerFor]="actionsMenu"
                  style="margin: 0 0 16px 35px;">{{"FILTER.ADD_FILTER"|translate}}<span
            class="material-icons actionMenuIcon">list</span></button>
          <mat-menu #actionsMenu="matMenu" class="actionsMenu">
            <button mat-menu-item *ngIf="toggleFilterBranch == false"
                    (click)="showFilterBranch()">{{"FILTER.BRANCH" | translate}}</button>
            <mat-divider *ngIf="toggleFilterBranch == false"></mat-divider>
            <ng-template [ngIf]="reportType !== constant.FINANCE_REPORT.TRIAL_BALANCE && reportType !== constant.FINANCE_REPORT.INCOME_STATEMNT && reportType !== constant.FINANCE_REPORT.BALANCE_SHEET">
              <button mat-menu-item *ngIf="toggleFilterPeriodMonth == false"
                      (click)="showFilterPeriodMonth()">{{"FILTER.PERIOD_MONTH" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPeriodMonth == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterPeriodYear == false"
                      (click)="showFilterPeriodYear()">{{"FILTER.PERIOD_YEAR" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPeriodYear == false"></mat-divider>

              <button mat-menu-item *ngIf="toggleFilterBrand == false"
                      (click)="showFilterBrand()">{{"FILTER.BRAND" | translate}}</button>
              <mat-divider *ngIf="toggleFilterBrand == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterCategory == false"
                      (click)="showFilterCategory()">{{"FILTER.CATEGORY" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterSubCategory == false"
                      (click)="showFilterSubCategory()">{{"FILTER.SUB_CATEGORY" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterItem == false"
                      (click)="showFilterItem()">{{"FILTER.ITEM" | translate}}</button>
              <mat-divider *ngIf="toggleFilterItem == false"></mat-divider>
            </ng-template>
            <ng-template [ngIf]="reportType === constant.FINANCE_REPORT.REVENUE">
              <button mat-menu-item *ngIf="toggleFilterPaymentMethod == false"
                      (click)="showFilterPaymentMethod()">{{"FILTER.PAYMENT_METHOD" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPaymentMethod == false"></mat-divider>

              <button mat-menu-item *ngIf="toggleFilterOrderType == false"
                      (click)="showFilterOrderType()">{{"FILTER.ORDER_TYPE" | translate}}</button>
              <mat-divider *ngIf="toggleFilterOrderType == false"></mat-divider>

              <button mat-menu-item *ngIf=" toggleFilterSalesPerson == false"
                      (click)="showFilterSalesPerson()">{{"FILTER.SALES_PERSON" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSalesPerson == false"></mat-divider>

              <button mat-menu-item *ngIf="toggleFilterConsumer == false"
                      (click)="showFilterConsumer()">{{"FILTER.CONSUMER" | translate}}</button>
            </ng-template>
            <ng-template [ngIf]="reportType === constant.FINANCE_REPORT.TRIAL_BALANCE">
              <button mat-menu-item *ngIf="toggleFilterAccountTypes == false"
                      (click)="showFilterAccountTypes()">{{"FILTER.ACCOUNT_TYPE" | translate}}</button>
            </ng-template>
          </mat-menu>
          <div class="">
            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
              <ng-template ngFor let-report [ngForOf]="reportTypes">
                <mat-button-toggle [ngClass]="{'selectedReport':selectedReportType(report.value)}"
                                   (click)="getReportType(report.value)"
                                   [value]="report.value">{{report.code | translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="container">
          <form [formGroup]="filterForm">

            <div class="row" *ngIf="toggleFilterBranch">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBranch()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_BRANCH" | translate }}</mat-label>
                <mat-select formControlName="branch" multiple (selectionChange)="branchChanged($event.value)">
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPeriodMonth">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodMonth()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_MONTH" | translate }}</mat-label>
                <mat-select formControlName="month" multiple>
                  <mat-option *ngFor="let month of months" [value]="month.code">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPeriodYear">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodYear()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_YEAR" | translate }}</mat-label>
                <mat-select formControlName="year" multiple>
                  <mat-option *ngFor="let year of years" [value]="year.code">
                    {{ year.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPaymentMethod">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPaymentMethod()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_PAYMENT_METHOD" | translate }}</mat-label>
                <mat-select formControlName="paymentMethod" multiple>
                  <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id">
                    {{ paymentMethod.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterOrderType">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterOrderType()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_ORDER_TYPE" | translate }}</mat-label>
                <mat-select formControlName="orderType" multiple>
                  <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.value">
                    {{ orderType.bundleCode | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterBrand">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBrand()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-brand
                  [itemMultiCtrl]="filterForm.controls['brand']"
                  [data]="brands"
                  [outlineLabel]="'FILTER.SELECT_BRAND' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="brandChanged($event)">
                </multiselect-autocomplete-brand>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['category']"
                  [data]="categories"
                  [outlineLabel]="'FILTER.SELECT_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="categoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSubCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSubCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['subCategory']"
                  [data]="subCategories"
                  [outlineLabel]="'FILTER.SELECT_SUB_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="subCategoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterItem">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterItem()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['item']"
                  [data]="items"
                  [outlineLabel]="'FILTER.SELECT_ITEM' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="itemChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSalesPerson">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSalesPerson()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-sales-person
                  [itemMultiCtrl]="filterForm.controls['salesPerson']"
                  [data]="salesPersons"
                  [outlineLabel]="'FILTER.SELECT_SALES_PERSON' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [branchId]="currentUser.branchId"
                  (result)="salesPersonChanged($event)">
                </multiselect-autocomplete-sales-person>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterConsumer">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterConsumer()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-consumer
                  [itemMultiCtrl]="filterForm.controls['consumer']"
                  [data]="consumers"
                  [outlineLabel]="'FILTER.SELECT_CONSUMER' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [branchId]="currentUser.branchId"
                  (result)="consumerChanged($event)">
                </multiselect-autocomplete-consumer>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterAccountTypes">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterAccountTypes()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_ACCOUNT_TYPE" | translate }}</mat-label>
                <mat-select formControlName="accountTypeIds" multiple>
                  <mat-option *ngFor="let account of accountTypes" [value]="account.id">
                    {{ account.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="sales-report-details">
          <button class="action-btn-preview"
                  (click)="preview(filterForm.value)">{{'FILTER.PREVIEW_THE_REPORT'|translate}}</button>
          <!--          <button class="action-btn-export">{{'FILTER.EXPORT_THE_REPORT'|translate}}</button>-->
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'FINANCE.FINANCE_DETAILS'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <ng-template [ngIf]="constant.userIsAdmin() || constant.userIsCustomer() || constant.userIsSupervisor()">
            <div class="row firstRight" style="width: 100%">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.REVENUE"|translate}}</span>
                    <div>
                      <select name="period" (change)="approvedRevenueCountTypeChange($event.target.value)">
                        <option [value]="actualExpected.value"
                                *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                          |translate}}</option>
                      </select>
                      <select (change)="approvedRevenueCountPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{approvedRevenueSum}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="BigCardFooter">
                    <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.COST"|translate}}</span>
                    <div>
                      <select (change)="approvedCostOfGoodsPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{approvedCostSum}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="BigCardFooter">
                    <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.PROFIT"|translate}}</span>
                    <div>
                      <select name="period" (change)="approvedProfitCountTypeChange($event.target.value)">
                        <option [value]="actualExpected.value"
                                *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                          |translate}}</option>
                      </select>
                      <select (change)="approvedProfitCountPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{ approvedProfitSum}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="BigCardFooter">
                    <button mat-button><span style="color: #039BE5">{{"DASHBOARD.MORE_DETAILS"|translate}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- Branch Charts-->
          <ng-template [ngIf]="constant.userIsCustomer() || constant.userIsSupervisor()">
            <div class="row firstRight" style="width: 100%">
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_REVENUE"|translate}}</span>
                    <div>
                      <select name="period" (change)="revenueBranchChartTypeChange($event.target.value)">
                        <option [value]="actualExpected.value"
                                *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                          |translate}}</option>
                      </select>
                      <select (change)="branchRevenueChartPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="canvasContainer">
                    <canvas baseChart
                            [datasets]="branchRevenueChart.data.datasets"
                            [labels]="branchRevenueChart.data.labels"
                            [colors]="branchRevenueChart.colors"
                            [options]="[branchRevenueChart.options]"
                            [chartType]="branchRevenueChart.type">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_PROFIT"|translate}}</span>
                    <div>
                      <select name="period" (change)="profitBranchChartTypeChange($event.target.value)">
                        <option [value]="actualExpected.value"
                                *ngFor="let actualExpected of actualExpectedKeys">{{actualExpected.bundleCode
                          |translate}}</option>
                      </select>
                      <select (change)="branchProfitChartPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="canvasContainer">
                    <canvas baseChart
                            [datasets]="branchProfitChart.data.datasets"
                            [labels]="branchProfitChart.data.labels"
                            [colors]="branchProfitChart.colors"
                            [options]="[branchProfitChart.options]"
                            [chartType]="branchProfitChart.type">
                    </canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"DASHBOARD.BRANCH_COST"|translate}}</span>
                    <div>
                      <select (change)="branchCostPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="canvasContainer">
                    <canvas baseChart
                            [datasets]="branchCostChart.data.datasets"
                            [labels]="branchCostChart.data.labels"
                            [colors]="branchCostChart.colors"
                            [options]="[branchCostChart.options]"
                            [chartType]="branchCostChart.type">
                    </canvas>
                  </div>
                </div>
              </div>

            </div>
          </ng-template>
          <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;"
               *ngIf="constant.userIsAdmin() || constant.userIsCustomer()">
            <div class="canvasHeader">
              <h3>{{'DASHBOARD.ORDERS'|translate}}</h3>
              <div class="ToolbarSpacer"></div>
              <ng-template [ngIf]="constant.userIsAdmin()">
                <select (change)="orderPaymentMethodChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.PAYMENT_METHOD"|translate}}</option>
                  <option [value]="paymentMethod.id" *ngFor="let paymentMethod of paymentMethods">
                    {{paymentMethod.name}}</option>
                </select>
                <select (change)="orderDeliveryMethodChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.DELIVERY_METHOD"|translate}}</option>
                  <option [value]="deliveryMethod.id" *ngFor="let deliveryMethod of deliveryMethods">
                    {{deliveryMethod.name}}</option>
                </select>
              </ng-template>
              <select (change)="orderTypeChange($event.target.value)">
                <option [value]="null">{{"DASHBOARD.ORDER_TYPE_TITLE"|translate}}</option>
                <option [value]="orderType.value" *ngFor="let orderType of orderTypes">
                  {{orderType.bundleCode|translate}}</option>
              </select>
              <mat-button-toggle-group (change)="ordersPeriodChange($event.value)" [value]="periods[0].value">
                <ng-template ngFor let-period [ngForOf]="periods">
                  <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                </ng-template>
              </mat-button-toggle-group>
            </div>
            <mat-divider></mat-divider>
            <div class="canvasContainer">
              <canvas baseChart [datasets]="ordersChart.data.datasets" [labels]="ordersChart.data.labels"
                      [colors]="ordersChart.colors" [options]="ordersChart.options" [chartType]="ordersChart.type">
              </canvas>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
