.page-container {
  max-width: 1700px;
  margin: 0 auto;
  position: relative;
}


.heroSection {
  background-color: #300458;

  //.carousel-row {
  //  width: 100%;
  //  position: relative;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //  //margin-top: 50px;
  //
  //  @media screen and (max-width: 800px) {
  //    flex-direction: row;
  //    width: 100%;
  //  }
  //  @media screen and (max-width: 500px) {
  //    flex-direction: column;
  //    justify-content: center;
  //    align-items: center;
  //  }
  //}

  .heroText {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;;
@media screen and (max-width: 800px){
  height: 400px;
}
    @media screen and (max-width: 600px){
      height: 350px;
    }
    h1 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      color: white;
      //width: 400px;
      line-height: 1.3;
      letter-spacing: 0px;
      text-transform: uppercase;
    }
    p {
      max-width: 500px;
      line-height: 1.3;
      color: white;
    }

    @media screen and (min-width: 800px) and (max-width: 999px) {
      h1 {
        font-size: 27px;
        width: 300px;
      }
      p {
        width: 300px;
      }
    }
    @media screen and (max-width: 800px) {
      h1 {
        font-size: 25px;
        width: 300px;
      }
      p {
        width: 300px;
      }
    }
    @media screen and (max-width: 767px) {
      h1 {
        font-size: 18px;
        width: 300px;
      }
      p {
        font-size: 13px;
        width: 300px;
      }
    }
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 16px;
        width: 300px;
        //margin: 0;
      }
      p {
        font-size: 11px;
        width: 300px;
        //margin: 0;
      }
    }
    @media screen and (max-width: 500px) {
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    @media screen and (max-width: 374px) {
      padding: 5px;
      h1 {
        font-size: 20px;
      }
      p {
        line-height: 1.1;
      }
    }
    @media screen and (max-width: 400px) {
      padding: 0;
    }
  }

  .hero-buttons-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    @media screen and (max-width: 900px) {
      padding: 5px;
      margin-top:8px;
    }
  }

  .secondary-button {
    background-color: #e44891;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    border: none;
    width: 150px;
    padding: 0.5em 1em;
    margin: 0px 10px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      font-size: 12px;

      padding: 0.3em 0.7em;
    }
    @media screen and (max-width: 400px) {
      font-size: 12px;

      padding: 0.3em 0.7em;
    }

  }

  .outline-button {
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #e44891;
    font-size: 14px;
    color: white;
    width: 150px;
    padding: 0.5em 1em;
    margin: 0px 10px;
    cursor: pointer;
    @media screen and (max-width: 767px) {
      font-size: 12px;

      padding: 0.3em 0.7em;
    }
    @media screen and (max-width: 400px) {
      font-size: 12px;

      padding: 0.3em 0.7em;
    }
  }
  .img-container {
    height: 700px;
    min-height: 700px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.about-container {
  .container {
    width: 100% !important;
  }
  .about-image-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 70%;
    }
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    @media screen and (max-width: 500px) {
      align-items: center;
      text-align: center;
    }
    h1 {
      font-size: 37px;
      font-weight: bold;
      margin-bottom: 20px;
      max-width: 600px;
      line-height: 1.3;
      letter-spacing: 0px;
      color: #300458;
      text-transform: uppercase;
      text-align: start;
      @media screen and (max-width: 500px) {
        font-size: 30px;
text-align: center;
      }
    }
    h3 {
      font-weight: bold;
      letter-spacing: 0px;
      color: #300458;
      text-transform: uppercase;
      margin: 0px 10px 0px 10px;
      font-size: 20px;
    }
    p {
      max-width: 450px;
      line-height: 1.3;
      letter-spacing: 0px;
      text-align: start;
      color: #300458;
    }
    .watch-video {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      cursor: pointer;
      .play-icon {
        max-width: 75px;
      }
    }
  }
}
.text-right {
  text-align: right;
}

::ng-deep .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0 !important;
  position: absolute;
  bottom: 5px;
  margin: 0 auto;
  width: 97%;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
  // background: #FFFFFF !important; /* dots color*/
  // background: #ffffff 0% 0% no-repeat padding-box !important;
  opacity: 0.5 !important;
  width: 6px !important;
  height: 6px !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e44891 !important; /*active and on hover color*/
  opacity: 1 !important;
  width: 6px !important;
  height: 6px !important;

}

.buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 30px;
}


@media screen and (max-width: 600px) {


  ::ng-deep .owl-carousel .owl-item img {
    height: 260px;
  }
}
