<div class="page-container" style="background-color: #fff;">
<app-index-header></app-index-header>

  <div class="heroSection">
      <owl-carousel-o [style.direction]="('dir' | translate) === 'rtl' ? 'ltr' : 'ltr'"
                      [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slide of sliderInfo"  >
            <div class="heroText" [style.background-image]="'url('+slide.image+')'"
            >
              <h1>{{slide.title | translate}}</h1>
              <p>{{slide.desc | translate}}</p>
              <div class="hero-buttons-container">
                <button class="secondary-button"
                        (click)="scrollToServices()">{{"LOGIN.LOGIN_SLIDER_BTN1" | translate}}</button>
<!--                <button class="outline-button"-->
<!--                        (click)="openVideosDialog()">{{"LOGIN.LOGIN_SLIDER_BTN2" | translate}}</button>-->
              </div>
            </div>
        </ng-template>
      </owl-carousel-o>
  </div>
  <div class="about-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 about-image-container">
          <img src="./assets/images/login/about.png" alt="about image">
        </div>
        <div class="col-xs-12 col-md-6 about-text-container">
          <h1>{{"LOGIN.LOGIN_ABOUT_TITLE" | translate}}</h1>
          <p>{{"LOGIN.LOGIN_ABOUT_DESC" | translate}}</p>
          <div class="watch-video" (click)="openVideosDialog()">
            <img class="play-icon" src="./assets/images/login/play.png" alt="">
            <h3>{{"LOGIN.LOGIN_ABOUT_VIDEO" | translate}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-index-services id="servicesSection"></app-index-services>
  <app-index-footer [lang]="currLang"></app-index-footer>
</div>
