.dialog-container {
  min-width: 100%;
  width: auto;
}

.dialog-confirm {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.dialog-cancel {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.flex-print {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.span-print {
  cursor: pointer;
  color: #e44891;
}
.span-count{
  color:#3f51b5;
}
