.page-header .mat-toolbar-row, .page-header .mat-toolbar-single-row {
  height: 85px !important;
}
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 20px;
  .mat-tree-node {
    word-wrap: normal !important;
  }
  .heads {
    @media screen and (max-width: 500px) {
      p {
        font-size: 11px;
        font-weight: 800;
      }
    }
  }
  ::ng-deep .mat-slide-toggle-bar {
    height: 10px;
    width: 28px;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    height: 15px;
    width: 15px;
  }

  //::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  //  transform: translate3d(18px,0,0) !important;
  //}

  //::ng-deep .mat-slide-toggle-thumb-container {
  //  width: 12px;
  //  height: 12px;
  //  top: -2px;
  //}
  .header-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    height: 100%;
  }

  .manage-container {
    padding: 17px;
    display: flex;
    background-color: #6a1b9a;
    justify-content: space-between;

    margin: 20px 0 40px 0;
    color: white;
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:7px;
    .manage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .manage-types {
        padding: 10px;
        margin: 10px;
        .manage-type {
          margin: 0px 20px;
        }
      }
    }

  }
  .tree-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 7px;
    width: 90%;
    padding: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin: 30px;
    .chart_header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 10px;
    }
    .heads{
      margin: 10px 0 15px 0;
      font-weight: 500;
      font-size: 16px;
      padding: 0 10px;
    }
  }
  .balance {
    font-weight: bold;

  }
  .isChild {
    cursor: pointer;
    color: blue;
  }
}




.example-tree-invisible {
  display: none;
}


.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  //padding:0 10px;
}

.example-tree li {
  max-width: 100%;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding:0 10px
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  //padding:0 10px;
}

@media screen and (max-width: 500px) {
  .example-tree p {
    font-size: 11px;
  }
  body[dir="ltr"] {
    .example-tree ul {
      padding: 0 0 0 7px !important;
    }
    .example-tree li {
      padding: 0 0 0 5px !important;
    }
  }
  body[dir="rtl"] {
    .example-tree ul {
      padding: 0 7px 0 0 !important;
    }
    .example-tree li {
      padding: 0 5px 0 0 !important;
    }

  }


}
