<div class="page-header">
  <div [dir]="_translate.currentLang == 'ar' ? 'rtl' : 'ltr'" class="chart-container">

    <mat-toolbar color="primary" class="row">
      <div class="header-item">

        <h2 class="title">
          <mat-icon style="direction: inherit; margin: 0px 10px;cursor: pointer;"
                    (click)="back()">{{ _translate.currentLang !== 'ar' ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
          <mat-icon class="title-icon ">account_tree</mat-icon>
          <span [class.rtl-title-text]="_translate.currentLang === 'ar'"
                [class.ltr-title-text]="_translate.currentLang !== 'ar'">{{ "SETUP_HOME.INV_TRANS.BRANCH_ACCOUNTS" | translate }}</span>
        </h2>
        <advanced-search-component
          (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
          [searchConfig]="searchConfiguration"
          placeholder="FINANCE.CHART_OF_ACCOUNTS.SEARCH_NAME_PLACEHOLDER">
        </advanced-search-component>
      </div>
    </mat-toolbar>
    <div class="tree-container">
      <div class="row heads">
        <p class="col-sm-3">{{'FINANCE.CHART_OF_ACCOUNTS.ACCOUNT_CODE' | translate}}</p>
        <p class="col-sm-3">{{"FINANCE.CHART_OF_ACCOUNTS.ACCOUNT_NAME" | translate}}</p>
        <p class="col-sm-2">{{"FINANCE.BALANCE" | translate}}</p>
        <p class="col-sm-2" style="text-align: center">{{"COMMON.ADD" | translate}}</p>
        <div class="col-sm-2" style="text-align: center">
          <button mat-raised-button color="primary"
                  (click)="openEnableConfirmation()">
            {{"COMMON.ENABLE/DISABLE" | translate}}
          </button>
        </div>
      </div>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <mat-tree-node

          (click)="activeNode = node"
          [ngClass]="{ 'background-highlight': activeNode === node.item }"
          *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="15">
          <button style="width: 10px" mat-icon-button disabled></button>
          <div class="container" style="width: 100%">
            <div class="row" style="align-items: center">
              <div class="col-sm-3"><p>{{node.item.code}}</p></div>
              <div class="col-sm-3"><p>{{node.item.name}}</p></div>
              <div class="col-sm-2 balance isChild"
                   (click)="openAccountAnalysisDialog(node.item.id)">
                <p>{{node.item.branchBalance || 0}}</p>
              </div>
              <button style="text-align: center" class="col-sm-2" (click)="addAccount(node.item.id)" mat-menu-item>
                <mat-icon>add_box</mat-icon>
              </button>
              <div style="text-align: center" class='col-sm-2'>
                <mat-slide-toggle (click)="changeStatus(node.item)" color="primary"
                                  [checked]="node.item.branchAccountUsed"
                [disabled]="node.item.branchAccountUsed &&  node.item.branchBalance > 0"
                >
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </mat-tree-node>
        <mat-tree-node
                       *matTreeNodeDef="let node; when: hasChild"
                       (click)="activeNode = node"
                       [ngClass]="{ 'background-highlight': activeNode === node.item }"
                       matTreeNodePadding [matTreeNodePaddingIndent]="15"
        >
          <button mat-icon-button
                  style="width: 25px"
                  [attr.aria-label]="'Toggle ' + node" matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div class="container" style="width: 100%">
            <div class="row" style="align-items: center">
              <div class="col-sm-3"><p>{{node.item.code}}</p></div>
              <div class="col-sm-3"><p>{{node.item.name}}</p></div>
              <div class="col-sm-2 balance">
                <p>{{node.item.branchBalance || 0}}</p>
              </div>
              <button class="col-sm-2" style="text-align: center" (click)="addAccount(node.item.id)" mat-menu-item>
                <mat-icon>add_box</mat-icon>
              </button>
              <div style="text-align: center" class='col-sm-2'>
                <mat-slide-toggle (click)="changeStatus(node.item)" color="primary"
                                  [checked]="node.item.branchAccountUsed"
                                  [disabled]="node.item.branchAccountUsed && node.item.branchBalance > 0">
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>

    </div>
  </div>
</div>

