.example-spacer {
  flex: 1 1 auto;
}

.dialog-actions {
  font-size: 13px;
}
.cam{
  width:257px;
  margin-left: 0
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  .btn {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 2px !important;
  }
  .no-space {
    margin-right: -9px;
  }
  .cam{
    margin-left: -8px
  }
}
