<div class="journal-details-form">
  <div class="fixed-class" style="display: flex;align-items: center;justify-content: space-between;margin-top: -11px">
    <h2 mat-dialog-title>{{journalDetailsData ? ('JOURNAL.DEATILS.EDIT_JOURNAL' | translate) : ('JOURNAL.DEATILS.ADD_JOURNAL' | translate)}}</h2>
    <button (click)="onCancel()" mat-icon-button color="warn">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="mat-typography" style="max-width: 700px;min-height: 92%">
    <form [formGroup]="journalDetailsForm">
      <div class="row" style="margin-top: 3px;">
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline" formGroupName="customer">
            <mat-label>{{ 'JOURNAL.DEATILS.COMPANY' | translate}}</mat-label>
            <input matInput formControlName="branchName"/>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.COUNTRY' | translate}}</mat-label>
            <mat-select formControlName="country" [compareWith]="objectComparisonFunction">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.BRANCH' | translate}}</mat-label>
            <mat-select formControlName="branch" (selectionChange)="branchChanged($event.value,$event)"
                        [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let branch of branches" [value]="branch">
                {{ branch.branchName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.SERVICE' | translate}}</mat-label>
            <mat-select formControlName="service" [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let service of services" [value]="service">
                {{ service.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.SERVICE_CATEGORY' | translate}}</mat-label>
            <mat-select formControlName="serviceCategory"  [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let serviceCategory of servicesCategories" [value]="serviceCategory">
                {{ serviceCategory.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'JOURNAL.DEATILS.ACCOUNT_TYPE' | translate}}</mat-label>
            <mat-select formControlName="accountType"  (selectionChange)="accountTypeChanged($event.value,$event)"
                        [compareWith]="objectComparisonFunction" required>
              <mat-option *ngFor="let account of accountTypes" [value]="account">
                {{ account.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12">
          <search-autocomplete-branch-account
            [itemMultiCtrl]="journalDetailsForm.controls['branchAccountId']"
            [outlineLabel]="'JOURNAL.DEATILS.BRANCH_ACCOUNT' | translate"
            [data]="branchAccounts"
            (result)="getAccount($event)">
          </search-autocomplete-branch-account>
<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>{{ 'JOURNAL.DEATILS.BRANCH_ACCOUNT' | translate}}</mat-label>-->
<!--            <mat-select formControlName="branchAccount" [compareWith]="objectComparisonFunction" required>-->
<!--              <mat-option *ngFor="let branchAccount of branchAccounts" [value]="branchAccount">-->
<!--                {{ branchAccount.account?.code + ' - ' + branchAccount.account?.nameAr }}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
        </div>
        <div class="col-md-12 col-sm-12" style="margin-bottom: 8px;margin-top: 8px;">
          <mat-radio-group  formControlName="amountType" (change)="changeJournalAmountType($event.value)">
            <mat-radio-button style="margin: 0 3px" value="credit">{{ "JOURNAL.CREDIT" | translate }}</mat-radio-button>
            <mat-radio-button style="margin: 0 3px" value="debit">{{ "JOURNAL.DEBIT" | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-12 col-sm-12" *ngIf="journalDetailsForm.get('amountType').value != null">
          <mat-form-field appearance="outline">
            <mat-label>{{ "JOURNAL.AMOUNT" | translate }}</mat-label>
            <input *ngIf="selectedValue === 'debit'" matInput formControlName="debitAmount" type="number" min="1"/>
            <input *ngIf="selectedValue === 'credit'" matInput formControlName="creditAmount" type="number" min="1"/>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="row" style="display: flex;justify-content: center;">
    <button class="col-md-5 drawer-save" mat-flat-button [disabled]="!journalDetailsForm.valid" (click)="onSubmit()"
            color="primary">{{"COMMON.SAVE" |
      translate}}</button>
    <button  class="col-md-5 drawer-close" mat-raised-button (click)="onCancel()">{{"COMMON.CANCEL" | translate}}</button>
  </mat-dialog-actions>



</div>
