.page-layout .blank {
  // width: 100%;
  // min-height: 100%;
}

.page-layout {
  padding-top: 10px;
}

canvas {
  width: 100%;
}

.smallCard {
  width: 100%;
  height: 155px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .cardHeader {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 10px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 40px;
      display: block;
      padding: 20px;
      color: #468df2;
    }
  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}

.BigCard {
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .dashboardCardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 2px;
    display: block;
    margin-right: 16px;
  }

  .BigCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;

    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }

  }

  canvas {
    width: auto !important;
    display: block;
  }

  .BigCardFooter {
    width: 100%;
    display: flex;
    // justify-content: flex-end;
    // margin-top: 19px;
    //margin-left: 11px;
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 10px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 40px;
      display: block;
      padding: 20px;
      color: #468df2;
    }
  }

  .cardCartBody {

  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}

.chartHeight {
  //height: 430px;
  justify-content: flex-start;

  canvas {
    width: 250px !important;
    height: 349px !important;
  }
}

.BigChartCard {
  width: 100%;
  height: 455px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 12%);
  text-align: center;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .dashboardCardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 2px;
    display: block;
    margin-right: 16px;
  }

  .BigCardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;

    select {
      border: 0;
      background: transparent;
      text-align-last: end;
    }
  }

  canvas {
    width: 449px !important;
    height: 400px !important;
    // display: block;
  }

  .BigCardFooter {
    width: 100%;
    display: flex;
    // justify-content: flex-end;
    // margin-top: 19px;
    //margin-left: 11px;
  }

  .cardTitle {
    color: #8d8c8c;
    font-weight: bold;
    padding-top: 10px;
    display: block;
  }

  .cardBody {
    padding: 0 5px;

    span:nth-child(1) {
      font-size: 40px;
      display: block;
      padding: 20px;
      color: #468df2;
    }
  }

  .cardCartBody {

  }

  .cardFooter {
    margin-top: 5px;

    select {
      flex: 1 1 auto;
      margin: 5px;
      padding: 5px;
      background: transparent;
    }
  }
}

.topElementChart {
  width: 95%;
  margin: 25px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 20%);

  .canvasHeader {
    display: flex;
    align-items: center;
    padding: 4px 10px;
    flex-wrap: wrap;
    justify-content: flex-end;

    h3 {
      margin: 0 !important;
      font-weight: bold;
      padding: 5px 0px;
      text-align: end;
    }
  }

}

.canvasHeader select {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(255 255 255 / 30%);
  margin: 0 5px;
  // background: transparent;
}
.filter_btn {
  margin: 0 0 16px 35px;
  @media screen and (max-width: 450px){
    margin: 0 0 16px 0;
  }
}

.toggle-overview {
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 8%);
  @media screen and (max-width: 450px){
    width: 300px;
    overflow-x: scroll;
    margin-bottom: 10px;
    height: 40px;
  }
}

.toggle-period {
  height: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 8%);
}

//mat-button-toggle-group .mat-button-toggle-checked {
//  background-color: #e44891;
//  color: #FFF !important;
//  font-weight: bold !important;
//}

.sales-report-filter-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.sales-report-details {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.action-btn-preview {
  width: 30%;
  height: 35px;
  background-color: #e44891;
  color: #fff;
  border: 1px solid #e44891;
  font-weight: bold;
  cursor: pointer;
}

.action-btn-export {
  width: 30%;
  height: 35px;
  color: #000;
  border: 1px solid #e44891;
  font-weight: bold;
  cursor: pointer;
  margin-right: 5px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 5px;
}

.mat-close-icon {
  margin-top: 25px;
  color: red;
  cursor: pointer;
}

.flex-pagin {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.pagin-btn {
  width: 50%;
  height: 35px;
  background-color: #e44891;
  color: #fff;
  border: 1px solid #e44891;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 3px;
  margin-right: 3px;
}

.selectedReport {
  background-color: #e44891;
  color: #FFF !important;
  font-weight: bold !important;
}

.horizontal-border {
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

@media (min-width: 1281px) {
  .sales-report-details {
    width: 100%;
  }
  .MrgRight {
    margin-right: -10px;
  }
  .ipad {
    margin-right: -16px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 120px;
    height: 136px;
  }
  .BigCard {
    // width: 377px;
    width: 290px;
  }
  .firstRight {
    margin-right: -13px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 290px;
  }
  .firstRight {
    margin-right: -17px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 134px;
    height: 136px;
  }
  .BigCard {
    // width: 377px;
    width: 328px;
  }
  .firstRight {
    margin-right: -13px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 325px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 147px;
    height: 138px;
  }
  .BigCard {
    width: 343px;
  }
  .firstRight {
    margin-right: -17px;
  }
  .topElementChart {
    margin: 0 0 5px;
    width: 99%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 341px;
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 731px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 159px;
    height: 136px;
  }
  .BigCard {
    width: 377px;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 373px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .BigCard {
    width: 384px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 93%;
  }
  .BigCard {
    width: 100%;
    margin-right: 25px;
  }
  .firstRight {
    margin-right: -9px;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .sales-report-details {
    width: 100%;
  }
  .ipad {
    margin-right: -19px;
  }
  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 93%;
  }
  .BigCard {
    width: 110%;
    margin-right: 0;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  .sales-report-details {
    width: 100%;
  }
  .smallCard {
    width: 100%;
  }
  .DashboardSmallScreen {
    width: 96%;
  }
  .BigCard {
    width: 100%;
  }
  .horizontal-border {
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
  }
}

mat-button-toggle-group .mat-button-toggle-checked {
  background-color: #e44891;
  color: #FFF !important;
  font-weight: bold !important;
}
