<div class="page-layout">
  <div style="margin: 0 20px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'PURCHASING.PRINTED_PURCHASING_REPORT'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="sales-report-filter-btn">
          <button class="filter_btn" mat-raised-button color="pink" [matMenuTriggerFor]="actionsMenu"
          >{{"FILTER.ADD_FILTER"|translate}}<span
            class="material-icons actionMenuIcon">list</span></button>
          <mat-menu #actionsMenu="matMenu" class="actionsMenu">
            <ng-template [ngIf]="reportType !== constant.PURCHASING_REPORT.SUPPLIER_STATEMENT">
              <button mat-menu-item *ngIf="toggleFilterBranch == false"
                      (click)="showFilterBranch()">{{"FILTER.BRANCH" | translate}}</button>
              <mat-divider *ngIf="toggleFilterBranch == false"></mat-divider>
            </ng-template>
            <ng-template [ngIf]="reportType === constant.PURCHASING_REPORT.PURCHASE">
              <button mat-menu-item *ngIf="toggleFilterPeriodMonth == false"
                      (click)="showFilterPeriodMonth()">{{"FILTER.PERIOD_MONTH" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPeriodMonth == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterPeriodYear == false"
                      (click)="showFilterPeriodYear()">{{"FILTER.PERIOD_YEAR" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPeriodYear == false"></mat-divider>
            </ng-template>
            <ng-template
              [ngIf]="reportType === constant.PURCHASING_REPORT.PURCHASE || reportType === constant.PURCHASING_REPORT.INVENTORY">
              <button mat-menu-item *ngIf="toggleFilterOrderType == false"
                      (click)="showFilterOrderType()">{{"FILTER.ORDER_TYPE" | translate}}</button>
              <mat-divider *ngIf="toggleFilterOrderType == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterBrand == false"
                      (click)="showFilterBrand()">{{"FILTER.BRAND" | translate}}</button>
              <mat-divider *ngIf="toggleFilterBrand == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterCategory == false"
                      (click)="showFilterCategory()">{{"FILTER.CATEGORY" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterSubCategory == false"
                      (click)="showFilterSubCategory()">{{"FILTER.SUB_CATEGORY" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterItem == false"
                      (click)="showFilterItem()">{{"FILTER.ITEM" | translate}}</button>
              <mat-divider *ngIf="toggleFilterItem == false"></mat-divider>
            </ng-template>
            <ng-template
              [ngIf]="reportType === constant.PURCHASING_REPORT.PURCHASE || reportType === constant.PURCHASING_REPORT.SUPPLIER_STATEMENT || reportType === constant.PURCHASING_REPORT.SUPPLIER_AGING || reportType === constant.PURCHASING_REPORT.SUPPLIER_DUE_PAYMENTS ">
              <button mat-menu-item *ngIf="toggleFilterSupplier == false"
                      (click)="showFilterSupplier()">{{"FILTER.SUPPLIER" | translate}}</button>
            </ng-template>
          </mat-menu>
          <div class="">
            <mat-button-toggle-group class="toggle-overview" name="favoriteColor" aria-label="Favorite Color">
              <ng-template ngFor let-report [ngForOf]="reportTypes">
                <mat-button-toggle [ngClass]="{'selectedReport':selectedReportType(report.value)}"
                                   (click)="getReportType(report.value)"
                                   [value]="report.value">{{report.code | translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="container">
          <form [formGroup]="filterForm">
            <div class="row" *ngIf="toggleFilterBranch">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBranch()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_BRANCH" | translate }}</mat-label>
                <mat-select formControlName="branch" multiple (selectionChange)="branchChanged($event.value)">
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPeriodMonth">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodMonth()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_MONTH" | translate }}</mat-label>
                <mat-select formControlName="month" multiple>
                  <mat-option *ngFor="let month of months" [value]="month.code">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPeriodYear">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodYear()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_YEAR" | translate }}</mat-label>
                <mat-select formControlName="year" multiple>
                  <mat-option *ngFor="let year of years" [value]="year.code">
                    {{ year.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterOrderType">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterOrderType()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_ORDER_TYPE" | translate }}</mat-label>
                <mat-select formControlName="orderType" multiple>
                  <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.value">
                    {{ orderType.bundleCode | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterBrand">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBrand()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-brand
                  [itemMultiCtrl]="filterForm.controls['brand']"
                  [data]="brands"
                  [outlineLabel]="'FILTER.SELECT_BRAND' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="brandChanged($event)">
                </multiselect-autocomplete-brand>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['category']"
                  [data]="categories"
                  [outlineLabel]="'FILTER.SELECT_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="categoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSubCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSubCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['subCategory']"
                  [data]="subCategories"
                  [outlineLabel]="'FILTER.SELECT_SUB_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="subCategoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterItem">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterItem()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['item']"
                  [data]="items"
                  [outlineLabel]="'FILTER.SELECT_ITEM' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="itemChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSupplier">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSupplier()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-supplier
                  [itemMultiCtrl]="filterForm.controls['supplier']"
                  [data]="suppliers"
                  [outlineLabel]="'FILTER.SELECT_SUPPLIER' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [branchId]="currentUser.branchId"
                  (result)="supplierChanged($event)">
                </multiselect-autocomplete-supplier>
              </div>
            </div>
            <ng-template [ngIf]="reportType === constant.PURCHASING_REPORT.SUPPLIER_DUE_PAYMENTS || reportType === constant.PURCHASING_REPORT.SUPPLIER_AGING">
              <div class="sales-report-filter-btn">
                <div style="margin-bottom: 5px">
                  <mat-button-toggle-group class="toggle-period" name="favoriteColor" aria-label="Favorite Color">
                    <ng-template ngFor let-period [ngForOf]="reportPeriodTypes">
                      <mat-button-toggle [ngClass]="{'selectedReport':selectedReportPeriodType(period.value)}"
                                         (click)="getReportPeriodType(period.value)"
                                         [value]="period.value">{{period.code | translate}}</mat-button-toggle>
                    </ng-template>
                  </mat-button-toggle-group>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
        <div class="sales-report-details">
          <button class="action-btn-preview"
                  (click)="preview(filterForm.value)">{{'FILTER.PREVIEW_THE_REPORT'|translate}}</button>
          <!--          <button class="action-btn-export">{{'FILTER.EXPORT_THE_REPORT'|translate}}</button>-->
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'PURCHASING.PURCHASING_DETAILS'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <ng-template [ngIf]="constant.userIsAdmin()">
            <div class="row firstRight" style="width: 100%">
              <div *ngIf="draftItemsCount" class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">

                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{draftItemsCount}}</span>
                    <span style="cursor: pointer;color: #039BE5;" (click)="navigateToDraftItems()"
                          class="cardTitle">{{"DASHBOARD.DRAFT_ITEMS"|translate}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="draftCategoriesCount" class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">

                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{draftCategoriesCount}}</span>
                    <span style="cursor: pointer;color: #039BE5" (click)="navigateToDraftCategories()"
                          class="cardTitle">{{"DASHBOARD.DRAFT_CATEGORIES"|translate}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="draftSubcategoriesCount" class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">

                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{draftSubcategoriesCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.DRAFT_SUB_CATEGORIES"|translate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CONSUMERS' |translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="onTopConsumerPeriodChanged($event)" [value]="periods[0].value">
                  <ng-template ngFor let-period [ngForOf]="periods">
                    <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                  </ng-template>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topConsumersChart.data.datasets"
                        [labels]="topConsumersChart.data.labels"
                        [colors]="topConsumersChart.colors" [options]="topConsumersChart.options"
                        [chartType]="topConsumersChart.type">
                </canvas>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="constant.userIsCustomer() || constant.userIsSupervisor() ">
            <div class="row firstRight" style="width: 100%">
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardBody">
                    <span>{{suppliersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.SUPPLIERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                  <div class="cardFooter">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardBody">
                    <span>{{categoriesCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.CATEGORIES"|translate}}</span>
                  </div>
                  <div class="cardFooter">

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardBody">
                    <span>{{subCategoriesCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.SUB_CATEGORIES"|translate}}</span>
                  </div>
                  <div class="cardFooter">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardBody">
                    <span>{{itemsCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.ITEMS"|translate}}</span>
                  </div>
                  <div class="cardFooter">

                  </div>
                </div>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CONSUMERS' |translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="onTopConsumerPeriodChanged($event)" [value]="periods[0].value">
                  <ng-template ngFor let-period [ngForOf]="periods">
                    <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                  </ng-template>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topConsumersChart.data.datasets"
                        [labels]="topConsumersChart.data.labels"
                        [colors]="topConsumersChart.colors" [options]="topConsumersChart.options"
                        [chartType]="topConsumersChart.type">
                </canvas>
              </div>
            </div>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
