.serviceCard {
  height: 100%;
  border: 1px solid #cbcbcb;
  padding: 15px;
  border-radius: 23px;
  img {
    max-width: 60px;
    max-height: 60px;
    margin: 10px 10px 10px 10px;
  }
  .serviceTitle {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: #300458;
    text-transform: capitalize;
    line-height: 1.5em;
    height: 3em; /* height is 2x line-height, so two lines will display */
    overflow: hidden;
    width: 195px;
  }

  .serviceDescription {
    font-size: 13px;
    letter-spacing: 0px;
    color: #300458;
    margin-top: 5px !important;
  }
}
