<div class="page-layout">
  <div style="margin: 0 20px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
          <form [formGroup]="filterForm">
            <div class="row">
              <mat-form-field class="col-lg-3 col-sm-12" appearance="outline">
                <mat-label>{{ "TAX.BRANCH" | translate }}</mat-label>
                <mat-select formControlName="branchIds" multiple>
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-2 col-sm-12" appearance="outline">
                <mat-label>{{ "TAX.YEAR" | translate }}</mat-label>
                <mat-select formControlName="yearIds" multiple>
                  <mat-option *ngFor="let year of years" [value]="year.code">
                    {{ year.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-2 col-sm-12" appearance="outline">
                <mat-label>{{ "TAX.MONTH" | translate }}</mat-label>
                <mat-select formControlName="monthIds" multiple>
                  <mat-option *ngFor="let month of months" [value]="month.code">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-lg-2 col-sm-12" appearance="outline">
                <mat-label>{{ "TAX.QUARTERS" | translate }}</mat-label>
                <mat-select formControlName="quarterIds" multiple>
                  <mat-option *ngFor="let quarter of quarters" [value]="quarter.code">
                    {{quarter.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="col-lg-3  col-sm-12 taxs-actions">
                <div class="taxs-actions-btns">
                  <button  class="action-btn-apply"
                           (click)="apply(filterForm.value,$event)">
                    {{'COMMON.APPLY'|translate}}</button>
                  <button class="action-btn-cancel" (click)="cancel()">{{'COMMON.CANCEL'|translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="row firstRight dis-flex" style="width: 99%">
              <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"TAX.PURCAHSE"|translate}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{totalPurchasesTaxValue}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="BigCardFooter">
                    <button mat-button [routerLink]="'./details/purchase'"><span style="color: #039BE5">{{"TAX.DETAILED_REPORT"|translate}}</span></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"TAX.SALES"|translate}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{totalSalesTaxValue}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="BigCardFooter">
                    <button mat-button [routerLink]="'./details/sales'"><span style="color: #039BE5">{{"TAX.DETAILED_REPORT"|translate}}</span></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="BigCard">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"TAX.DIFFERENCE"|translate}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="cardBody">
                    <span>{{differenceInTaxValue}}</span>
                  </div>
                  <span style="width: 100%"></span>
                  <div class="BigCardFooter">
                    <span style="height: 39px"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="BigCard BigCardIpad">
                  <div class="BigCardHeader">
                    <span class="dashboardCardTitle">{{"TAX.PURCAHSE"|translate}} / {{"TAX.SALES"|translate}}</span>
                  </div>
                  <span class="horizontal-border"></span>
                  <div class="canvasContainer">
                    <canvas baseChart
                            [datasets]="purchasesSalesDifferenceChart.data.datasets"
                            [labels]="purchasesSalesDifferenceChart?.data.labels"
                            [colors]="purchasesSalesDifferenceChart?.colors"
                            [options]="[purchasesSalesDifferenceChart.options]"
                            [chartType]="purchasesSalesDifferenceChart.type">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{ "TAX.PURCAHSE" |translate}}</h3>
                <div class="ToolbarSpacer"></div>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="purchasesTaxsChart.data.datasets"
                        [labels]="purchasesTaxsChart.data.labels"
                        [colors]="purchasesTaxsChart.colors" [options]="purchasesTaxsChart.options"
                        [chartType]="purchasesTaxsChart.type">
                </canvas>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{"TAX.SALES"|translate}}</h3>
                <div class="ToolbarSpacer"></div>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="salesTaxsChart.data.datasets"
                        [labels]="salesTaxsChart.data.labels" [colors]="salesTaxsChart.colors"
                        [options]="salesTaxsChart.options" [chartType]="salesTaxsChart.type">
                </canvas>
              </div>
            </div>
          <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;"
               *ngIf="constant.userIsAdmin() || constant.userIsCustomer()">
            <div class="canvasHeader">
              <h3>{{'TAX.PURCAHSE_SALES'|translate}}</h3>
              <div class="ToolbarSpacer"></div>
            </div>
            <mat-divider></mat-divider>
            <div class="canvasContainer">
              <canvas baseChart [datasets]="purchasingAndSalesTaxsChart.data.datasets" [labels]="purchasingAndSalesTaxsChart.data.labels"
                      [colors]="purchasingAndSalesTaxsChart.colors" [options]="purchasingAndSalesTaxsChart.options" [chartType]="purchasingAndSalesTaxsChart.type">
              </canvas>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
