
.page-header .mat-toolbar-row, .page-header .mat-toolbar-single-row {
  height: 85px !important;
}

.header-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: 100%;
}

.bank-accounts-container {
  width: 100%;
  padding: 15px;
  background: transparent;

  .bank-account-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 220px;
    //display: inline-block;
    .account-info {
      //font-weight: 500;
      display: flex;
      width: 100%;
      margin: 18px 0;
      font-size: 16px;

      .account-value {
        margin: 0 10px !important;
      }
    }
  }
}

.add-en {
  right: 24px !important;
  left: auto !important;
}

.date {
  font-size: 12px;
  color: var(--gray3);
}
