<div class="page-header">
  <mat-toolbar color="primary" class="row">
    <div class="header-item">
      <h2 class="page_title">
        <mat-icon class="back_icon"  routerLink="/finance/finance-transaction" >
          {{ _translate.currentLang !== 'ar' ? 'arrow_back' :'arrow_forward'}}
        </mat-icon>
        <span [class.rtl-title-text]="_translate.currentLang === 'ar'"
              [class.ltr-title-text]="_translate.currentLang !== 'ar'">{{ "CASH_TRANSFER.TITLE" | translate }}</span>
      </h2>
      <advanced-search-component
        (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
        [searchConfig]="searchConfiguration"
        placeholder="PAYABLE_INVOICE.VIEW.DESCRIPTION">
      </advanced-search-component>
    </div>
  </mat-toolbar>
<div  class="static_cards">
    <mat-card *ngFor="let bankTransfer of listOfBankTransfer" [routerLink]="'./' + bankTransfer.id">
      <div  class="static_card_header row" style="justify-content: space-between">
        <p class="date">{{bankTransfer?.createdDate ? (bankTransfer?.createdDate + ' UTC' | date:'medium') : ''}}</p>
        <div>
          <button *ngIf="bankTransfer.transferStatus.code === 'ENTERED'" (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button  (click)="deleteBankTransfer(bankTransfer.id)"  mat-menu-item>
              <span>{{'FINANCE.CHART_OF_ACCOUNTS.DELETE' | translate}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div>
        <div class="row" style="margin-top: 10px ;align-items: center">
          <p class="col-sm-6 key">{{ "CASH_TRANSFER.FROM_ACCOUNT" | translate }}</p>
          <p class="col-sm-6 value">{{bankTransfer.fromAccount.name}}</p>
        </div>
        <div class="horizontal-line"  ></div>
        <div class="row" style="align-items: center" >
          <p class="col-sm-6 key">{{ "CASH_TRANSFER.TO_ACCOUNT" | translate }}</p>
          <p class="col-sm-6 value">{{bankTransfer.toAccount.name}}</p>
        </div>
        <div class="horizontal-line" ></div>
        <div class="row" style="align-items: center">
          <p class="col-sm-6 key">{{ "CASH_TRANSFER.AMOUNT" | translate }}</p>
          <p class="col-sm-6 value">{{bankTransfer.amount}}</p>
        </div>
      </div>
    </mat-card>


</div>
</div>
    <button mat-fab class="accent" id="add-new-button" (click)="addNew()">
      <mat-icon>add</mat-icon>
    </button>

