.contactUsContainer {
  padding-top: 40px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  max-width: 85%;
  line-height: 1.9;
}

.contancttTitle {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem !important;
  color: #000;
  line-height: 1.3;
}

.sendBtn {
  background: #000;
  color: #fff;
  height: 39px;
  padding: 10px;
  margin: 8px;
  font-weight: bold;
  border-radius: 5px;
}

.successMessage {
  display: none;
  width: 310px;
  background: rgba(69, 255, 44, 0.3);
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 2px 2px rgb(146 172 143 / 30%);
}

.showSuccessMessage {
  display: block;
  transition: 0.5s ease-in-out;
}
