.actionBtn {
  font-size: 37px;
  margin-top: -9px;
  margin-right: -55px;
  cursor: pointer;
  margin-bottom: 10px;
}


//webcam{
//  display: none;
//}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
