.count_badge {
  position: absolute;
  top: -7px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.75rem;

  .count_badge_count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #00897B;
    border-radius: 50%;
    padding: 0 0.25rem;
    height: 1.2rem;
    margin-left: 1rem;
    //margin-top: 0.625rem;
    font-size: 9px;
  }
}
.counter {
  text-align: center;
  color: #fff;
  background: #ff4d8a;
  border-radius: 50%;
  width: 35px;
  display: block;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  font-size: 15px;
  margin: 10px auto;
}
.itemIcon {
  margin-inline-start: 10px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  padding: 16px 0 0 0;
  margin-bottom: 16px;

  .fw {
    width: 100%;
  }

  .title {
    position: relative;

    .title-icon {
      cursor: pointer;
      position: absolute;
      top: 3px;
    }

    .rtl-title-text {
      padding-right: 32px;
    }

    .ltr-title-text {
      padding-left: 32px;
    }
  }
}

.mat-error {
  display: flex;
  flex-direction: row-reverse;
}

.searchContainer {
  display: flex;
  align-items: center;
}
.header-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: 100%;
}

.mat-card-header-text {
  display: none;
}



.status-value {
  padding: 3px 10px;
}

.link-style > span,
.link-style {
  font-size: 12px;
}
.link-style > span {
  color: gray;
}

mat-card{


  >mat-card{
    padding-top: 36px;
  }
}

.span-invoice-text {

  font-weight: bold;
  color: #A12568;
}



.span-invoice-value {

  font-weight: bold;
  color: #3B185F;
}
.cards-container {
  .row {
    width: 100%;
  }
  .custom-card {
    //font-weight: 600;
    color: #300458;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    .text-margin {
      margin: 5px 0px;
      align-items: center;
    }

    .horizontal-line {
      height: 1px;
      width: 100%;
      background-color: var(--gray0);
      margin: 9px 0px;
    }

    .returns {
      font-size: 12px;
      color: var(--gray3);
    }
  }
}
