<div class="page-header">
  <mat-toolbar color="primary" class="row mat-toolbar-height">
    <div class="header-item">
       <span class="material-icons" style="direction: inherit; margin: 6px 10px;cursor: pointer;"
             routerLink="/finance/finance-transaction">
        {{ _translate.currentLang !== 'ar' ? 'arrow_back' : 'arrow_forward'}}
 </span>
      <span>{{ "PAYABLE_INVOICE.LIST.TITLE" | translate }}</span>
      <span class="ToolbarSpacer"></span>
      <div class="row">
        <div class="view_icons_container">
          <div style="position: relative;display: flex">
            <ng-container *ngIf="payableDraftCount > 0">
              <span class="count_badge">
                <span class="count_badge_count">
                {{payableDraftCount}}
                </span>
              </span>
            </ng-container>
            <mat-icon style="cursor: pointer" (click)="openDraftPayableInvoices()">description</mat-icon>
          </div>
          <mat-icon style="cursor: pointer" [ngClass]="{'selectedView': _view.grid_view}" (click)="_view.gridView()">
            apps
          </mat-icon>
          <mat-icon style="cursor: pointer" [ngClass]="{'selectedView': _view.list_view}" (click)="_view.listView()">
            view_headline
          </mat-icon>
        </div>
        <advanced-search-component
          (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
          [searchConfig]="searchConfiguration"
          placeholder="PAYABLE_INVOICE.SEARCH.BY_INVOICE_NUMBER">
        </advanced-search-component>
      </div>
    </div>
  </mat-toolbar>
  <div>

    <ng-template [ngIf]="_view.grid_view">
      <div class="grid_view row" style="justify-content: center">
        <mat-card class="grid_view_card" style="cursor: pointer;" *ngFor="let invoice of listOfInvoices; let i = index"
                  [routerLink]="'./' + invoice.id">
          <div class="head">
            <div class="num">
              <p class="number">{{'PAYABLE_INVOICE.INVOICE_NUMBER'|translate}} : {{invoice.invNumber}}</p>

              <p class="date">{{invoice?.createdDate ? (invoice?.createdDate + ' UTC' | date:'medium') : ''}}</p>
            </div>
            <div style="display: flex;align-items: center"
                 [ngClass]="{'row':invoice.invoiceStatus.code === constant.invoiceStatus.ENTERED}">
              <div class="status"
                   [ngClass]="{'col-sm-9':invoice.invoiceStatus.code === constant.invoiceStatus.ENTERED}">
                <p class="status-text"
                   [ngStyle]="{'background-color': invoice.invoiceStatus['color']}">{{invoice.invoiceStatus.name}}</p>
              </div>
              <button *ngIf="invoice.invoiceStatus.code === constant.invoiceStatus.ENTERED"
                      (click)="$event.stopPropagation()"
                      [ngClass]="{'col-sm-3':invoice.invoiceStatus.code === constant.invoiceStatus.ENTERED}"
                      mat-icon-button [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <div>
                  <button (click)="deleteInvoice(invoice.id)" mat-menu-item><span>{{'COMMON.REMOVE' | translate}}</span>
                  </button>
                </div>
              </mat-menu>
            </div>

          </div>
          <div class="horizontal-line"></div>
          <div class="col-md-12 row" style="padding:0 5px">
            <span>{{'COMMON.BRANCH_NAME'| translate  }}</span>
            <span
              [matTooltip]="invoice.branch?.branchName"> : {{invoice.branch?.branchName | truncate: [40, "..."]}}</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="col-md-12 row">
            <span>{{'PAGES.SHARED.SUPPLIER_NAME'| translate}}</span>
            <span [matTooltip]="invoice.supplierFullName"> : {{invoice.supplierFullName}}</span>
          </div>
          <div class="horizontal-line"></div>
          <div class="col-md-12 row">
            <span>{{'PAYABLE_INVOICE.INVOICE_PAID_AMOUNT'| translate}}</span>
            <span [matTooltip]="invoice.paidAmount"> : {{invoice.paidAmount}}</span>
          </div>
        </mat-card>


        <mat-card *ngIf="listOfInvoices.length == 0">
          <div class="row">
            <div class="col-sm-12" style="text-align: center;">
              {{ 'COMMON.NO_DATA_FOUND' |translate }}
            </div>
          </div>
        </mat-card>
      </div>
    </ng-template>
    <ng-template [ngIf]="_view.list_view">
      <mat-card style="cursor: pointer;" *ngFor="let invoice of listOfInvoices; let i = index"
                [routerLink]="'./' + invoice.id">
        <div class="row" style="padding: 10px;">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
            <span class="span-invoice-text">{{'PAYABLE_INVOICE.INVOICE_NUMBER'|translate}}</span>
            <span class="span-invoice-value"> : {{invoice.invNumber}}</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12  mt-2">
            <span class="span-invoice-text">{{'PAYABLE_INVOICE.INVOICE_DATE'|translate}} </span>
            <span
              class="span-invoice-value"> : {{invoice?.createdDate ? (invoice?.createdDate + ' UTC' | date:'medium') : ''}}</span>
          </div>
          <div
            [class.status-container-ar]="_translate.currentLang === 'ar'"
            [class.status-container-en]="_translate.currentLang !== 'ar'"
            class="mt-2" [ngStyle]="{'background-color':  invoice?.invoiceStatus?.color}">
          <span class="bold badge status-value"
                *ngIf="_translate.currentLang === 'ar'">  {{invoice?.invoiceStatus?.name}}</span>
          </div>
          <div *ngIf="invoice.invoiceStatus.code === constant.invoiceStatus.ENTERED"
               [class.del-icon-ar]="_translate.currentLang === 'ar'"
               [class.del-icon-en]="_translate.currentLang !== 'ar'">
            <button (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div>
                <button (click)="deleteInvoice(invoice.id)" mat-menu-item><span>{{'COMMON.REMOVE' | translate}}</span>
                </button>
              </div>
            </mat-menu>
          </div>
        </div>
        <div class="row" style="padding: 10px;">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
            <span class="span-invoice-text">{{'PAGES.SHARED.SUPPLIER_NAME'| translate}}</span>
            <span class="span-invoice-value"
                  [matTooltip]="invoice.supplierFullName"> : {{invoice.supplierFullName}}</span>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
            <span class="span-invoice-text">{{'PAGES.SHARED.SUPPLIER_PHONE'| translate}}</span>
            <span class="span-invoice-value"
                  [matTooltip]="invoice.supplierPhoneNumber"> : {{invoice.supplierPhoneNumber}}</span>
          </div>
        </div>
      </mat-card>

    </ng-template>
  </div>

  <!-- Paginator   -->
  <mat-paginator style="background: transparent" #paginator [length]="page.totalElements" [pageIndex]="page.pageNumber"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="constant.pageSizeOptions" (page)="onPageChange(searchData,$event)"
                 showFirstLastButtons
                 [hidePageSize]="true">
  </mat-paginator>


</div>
<button style="cursor: pointer;" mat-fab class="accent" id="add-new-button" (click)="addNew()"
        [style.right]="_translate?.currentLang === 'ar' ? 'auto' : '24px'"
        [style.right]="_translate?.currentLang !== 'ar' ? '24px' : 'auto'"
        [style.left]="_translate?.currentLang === 'ar' ? '24px' : 'auto'"
        [style.left]="_translate?.currentLang !== 'ar' ? 'auto' : '24px'">
  <mat-icon>add</mat-icon>
</button>

