<mat-form-field appearance="outline">
  <mat-select (selectionChange)="onChange($event)" [formControl]="itemMultiCtrl" [placeholder]="outlineLabel" #singleSelect>
    <mat-option>
      <ngx-mat-select-search [formControl]="receivingFilterCtrl" [placeholderLabel]="'COMMON.SEARCH' | translate" [noEntriesFoundLabel]="'COMMON.NO_DATA_FOUND' | translate"></ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let receivingOrder of filteredReceivingOrders | async" [value]="receivingOrder">
      {{receivingOrder.supplierFullName}} - {{receivingOrder?.receiptDate}}
    </mat-option>
  </mat-select>
</mat-form-field>
