.header-container {
  background: #300458;
  transition: all 1s ease-in-out;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height:62px;
  position: sticky;
  //width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0;
  .login-right {
    position: absolute;
    //top: 10px;
    right: 10px;
  }

  .register-right {
    position: absolute;
    //top: 10px;
    right: 130px;

    @media screen and (max-width: 500px) {
      right: 85px;
    }
    @media screen and (max-width: 414px) {
      right: 67px;
    }
  }

  .lang-btn {
    // top: 14px;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 0.1em 0.2em;
    border-radius: 15px;

    &:hover {
      cursor: pointer;
    }
    mat-icon {
      height: 100%;
      font-size: 14px;
      margin: 0px 3px;
    }
    @media screen and (max-width: 500px) {
      // padding: 0.1em 0.2em;
      mat-icon {
        height: 100%;
        font-size: 10px;
        margin: 0px 3px;
      }
    }
    @media screen and (max-width: 414px) {
      font-size: 12px;
      // padding: 0.1em 0.2em;
      mat-icon {
        height: 100%;
        font-size: 10px;
        margin: 0px 3px;
      }
    }
  }
  .sub-lang-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lang-icon {
    max-width: 18px;
    @media screen and (max-width: 500px) {
      max-width: 16px;
    }
  }

  mat-menu {
    img {
      max-width: 20px;
    }
    @media screen and (max-width: 414px) {
      mat-item {
        max-width: 50px;
      }
      max-width: 60px;
      img {
        max-width: 15px;
      }
    }
  }

  .curr-lang-right {
    margin-right: 5px;
  }
  .curr-lang-left {
    margin-left: 5px;
  }
  .lang-btn-right {
    position: absolute;

    right: 270px;

    @media screen and (max-width: 500px) and (min-width: 400px) {
      right: 205px;

      button {
        .lang-span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    @media screen and (max-width: 414px) {
      right: 175px;

      button {
        .lang-span {
          display: none;
        }

        .lang-span-sm {
          display: block;
          color: white;
          font-size: 10px;
        }
      }
    }
  }

  .lang-btn-left {
    position: absolute;

    left: 270px;

    button {
      .lang-span {
        font-size: 14px;
        font-weight: 500;
        color: white;
      }

      .lang-span-sm {
        display: none;
      }
    }

    @media screen and (max-width: 500px) and (min-width: 400px) {
      left: 205px;
      button {
        .lang-span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    // @media screen and (max-width: 414px) {
    //   left: 180px;

    //   button {
    //     font-size: 12px;
    //     font-weight: 400;
    //   }
    // }

    @media screen and (max-width: 414px) {
      left: 175px;

      button {
        .lang-span {
          display: none;
        }

        .lang-span-sm {
          display: block;
          color: white;
          font-size: 10px;
        }
      }
    }
  }

  .login-left {
    position: absolute;
    // top: 10px;
    left: 10px;
  }

  .register-left {
    position: absolute;
    // top: 10px;
    left: 130px;

    @media screen and (max-width: 500px) {
      left: 85px;
    }
    @media screen and (max-width: 414px) {
      left: 67px;
    }
  }

  .logo-image {
    width: 55px;
    height: 55px;
    margin-top: 3px;
    cursor: pointer;
    @media screen and (max-width: 500px) {
      width: 45px;
      height: 45px;
    }
  }

  .logo-container-right {
    position: absolute;
    // top: 10px;
    right: 15px;
  }

  .logo-container-left {
    position: absolute;
    // top: 10px;
    left: 15px;
  }

  .login-page-header {
    text-align: center;
    padding: 0px 5px;

    .login-btn {
      color: var(--navbar-scroll-text);
      background-color:  var(--navbar-scroll-btn-back);
      border: var(--navbar-scroll-btn-border);
      overflow: hidden;
      border-radius: 25px;
      display: inline-block;
      width: 115px;

      button {
        font-size: 14px;
        width: 100%;
        color: white;
      }

      @media screen and (max-width: 500px) {
        width: 75px;
        button {
          font-size: 12px;
          width: 100%;
        }
      }
      @media screen and (max-width: 414px) {
        width: 60px;
        margin: 0px;
        button {
          font-size: 11px;
          width: 100%;
        }
      }
    }

    .register-btn {
      background-color: #e44891;
      border-radius: 25px;
      display: inline-block;
      align-items: center;
      justify-content: center;
      margin: 0px 10px 0px 10px;
      button {
        font-size: 14px;
        width: 100%;
        color: white;
      }

      @media screen and (max-width: 500px) {
        width: 100px;
        button {
          font-size: 12px;
          width: 100%;
        }
      }
      @media screen and (max-width: 414px) {
        width: 90px;
        border-radius: 20px;
        padding: 0 !important;
        button {
          font-size: 10px;
          padding: 0 !important;
          width: 100%;
        }
      }
    }
  }
}
.buttons-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 30px;
}
