.reset-container {
  background-color: #000;
  width: 100%;
    height: 100vh;
  background-image: url("../../../../../../libs/shared/src/assets/images/bg-resetPassword.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.canLoadForm{
  padding: 10px;
}