<div class="page-layout">
  <div style="margin: 0 20px">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'SALES.PRINTED_SALES_REPORT'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="sales-report-filter-btn">
          <button mat-raised-button color="pink" [matMenuTriggerFor]="actionsMenu"
                 class="filter_btn">{{"FILTER.ADD_FILTER"|translate}}<span
            class="material-icons actionMenuIcon">list</span></button>
          <mat-menu #actionsMenu="matMenu" class="actionsMenu">
            <button mat-menu-item *ngIf="toggleFilterBranch == false"
                    (click)="showFilterBranch()">{{"FILTER.BRANCH" | translate}}</button>
            <mat-divider *ngIf="toggleFilterBranch == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterDate == false"
                    (click)="showFilterDate()">{{"FILTER.DATE" | translate}}</button>
            <mat-divider *ngIf="toggleFilterDate == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterPeriodMonth == false"
                    (click)="showFilterPeriodMonth()">{{"FILTER.PERIOD_MONTH" | translate}}</button>
            <mat-divider *ngIf="toggleFilterPeriodMonth == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterPeriodYear == false"
                    (click)="showFilterPeriodYear()">{{"FILTER.PERIOD_YEAR" | translate}}</button>
            <mat-divider *ngIf="toggleFilterPeriodYear == false"></mat-divider>
            <ng-template [ngIf]="reportType !== constant.SALES_REPORT.DETAILS_BRAND">
              <button mat-menu-item *ngIf="toggleFilterPaymentMethod == false"
                      (click)="showFilterPaymentMethod()">{{"FILTER.PAYMENT_METHOD" | translate}}</button>
              <mat-divider *ngIf="toggleFilterPaymentMethod == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterOrderType == false"
                      (click)="showFilterOrderType()">{{"FILTER.ORDER_TYPE" | translate}}</button>
              <mat-divider *ngIf="toggleFilterOrderType == false"></mat-divider>
            </ng-template>
            <button mat-menu-item *ngIf="toggleFilterBrand == false"
                    (click)="showFilterBrand()">{{"FILTER.BRAND" | translate}}</button>
            <mat-divider *ngIf="toggleFilterBrand == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterCategory == false"
                    (click)="showFilterCategory()">{{"FILTER.CATEGORY" | translate}}</button>
            <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterSubCategory == false"
                    (click)="showFilterSubCategory()">{{"FILTER.SUB_CATEGORY" | translate}}</button>
            <mat-divider *ngIf="toggleFilterSubCategory == false"></mat-divider>
            <button mat-menu-item *ngIf="toggleFilterItem == false"
                    (click)="showFilterItem()">{{"FILTER.ITEM" | translate}}</button>
            <mat-divider *ngIf="toggleFilterItem == false"></mat-divider>
            <ng-template [ngIf]="reportType !== constant.SALES_REPORT.DETAILS_BRAND">
              <button mat-menu-item *ngIf=" toggleFilterSalesPerson == false"
                      (click)="showFilterSalesPerson()">{{"FILTER.SALES_PERSON" | translate}}</button>
              <mat-divider *ngIf="toggleFilterSalesPerson == false"></mat-divider>
              <button mat-menu-item *ngIf="toggleFilterConsumer == false"
                      (click)="showFilterConsumer()">{{"FILTER.CONSUMER" | translate}}</button>
            </ng-template>
          </mat-menu>
          <div class="">
            <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
              <ng-template ngFor let-report [ngForOf]="reportTypes">
                <mat-button-toggle [ngClass]="{'selectedReport':selectedReportType(report.value)}"
                                   (click)="getReportType(report.value)"
                                   [value]="report.value">{{report.code | translate}}</mat-button-toggle>
              </ng-template>
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="container">
          <form [formGroup]="filterForm">

            <div class="row"  *ngIf="toggleFilterBranch" >
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBranch()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_BRANCH" | translate }}</mat-label>
                <mat-select formControlName="branch" multiple (selectionChange)="branchChanged($event.value)">
                  <mat-option *ngFor="let branch of branches" [value]="branch.id">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row"  *ngIf="toggleFilterDate">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterDate()">close</mat-icon>
              </div>
<div class="col-sm-11 col-md-11 row">
  <mat-form-field class="col-sm-12 col-md-6" appearance="outline">
    <mat-label>{{ "FILTER.FROM_DATE" | translate }}</mat-label>
    <input matInput formControlName="from" [matDatepicker]="picker" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="col-sm-12 col-md-6" appearance="outline">
    <mat-label>{{ "FILTER.TO_DATE" | translate }}</mat-label>
    <input matInput formControlName="to" [matDatepicker]="picker1" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>
            </div>
            <ng-template [ngIf]="reportType === constant.SALES_REPORT.POS_SESSION">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <mat-form-field  appearance="outline">
                    <mat-label>{{ "FILTER.SELECT_USER" | translate }}</mat-label>
                    <mat-select formControlName="user" (selectionChange)="userChanged($event.value)">
                      <mat-option *ngFor="let user of users" [value]="user.id">
                        {{ user.fullName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-6">
                  <mat-form-field  appearance="outline">
                    <mat-label>{{ "FILTER.SELECT_SESSION" | translate }}</mat-label>
                    <mat-select formControlName="posSessionId" (selectionChange)="sessionChanged($event.value)" required>
                      <mat-option *ngFor="let session of pos_sessions" [value]="session.id">
                        {{ session?.startTime  + (session?.endTime ? ' - ' + session?.endTime  : '' ) + '' + (session?.workHours ? ' - ' + session?.workHours : '' ) }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </ng-template>

            <div class="row" *ngIf="toggleFilterPeriodMonth">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodMonth()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_MONTH" | translate }}</mat-label>
                <mat-select formControlName="month" multiple>
                  <mat-option *ngFor="let month of months" [value]="month.code">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPeriodYear">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPeriodYear()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_YEAR" | translate }}</mat-label>
                <mat-select formControlName="year" multiple>
                  <mat-option *ngFor="let year of years" [value]="year.code">
                    {{ year.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterPaymentMethod">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterPaymentMethod()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_PAYMENT_METHOD" | translate }}</mat-label>
                <mat-select formControlName="paymentMethod" multiple>
                  <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id">
                    {{ paymentMethod.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterOrderType">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterOrderType()">close</mat-icon>
              </div>
              <mat-form-field class="col-sm-11 col-md-11" appearance="outline">
                <mat-label>{{ "FILTER.SELECT_ORDER_TYPE" | translate }}</mat-label>
                <mat-select formControlName="orderType" multiple>
                  <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.value">
                    {{ orderType.bundleCode | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row" *ngIf="toggleFilterBrand">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterBrand()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-brand
                  [itemMultiCtrl]="filterForm.controls['brand']"
                  [data]="brands"
                  [outlineLabel]="'FILTER.SELECT_BRAND' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="brandChanged($event)">
                </multiselect-autocomplete-brand>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['category']"
                  [data]="categories"
                  [outlineLabel]="'FILTER.SELECT_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="categoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSubCategory">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSubCategory()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['subCategory']"
                  [data]="subCategories"
                  [outlineLabel]="'FILTER.SELECT_SUB_CATEGORY' | translate"
                  [pageIsPageable]="false"
                  (result)="subCategoryChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterItem">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterItem()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete
                  [itemMultiCtrl]="filterForm.controls['item']"
                  [data]="items"
                  [outlineLabel]="'FILTER.SELECT_ITEM' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [categoriesIds]="categoriesIds"
                  [subCategoriesIds]="subCategoriesIds"
                  [branchId]="currentUser.branchId"
                  (result)="itemChanged($event)">
                </multiselect-autocomplete>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterSalesPerson">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterSalesPerson()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-sales-person
                  [itemMultiCtrl]="filterForm.controls['salesPerson']"
                  [data]="salesPersons"
                  [outlineLabel]="'FILTER.SELECT_SALES_PERSON' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [branchId]="currentUser.branchId"
                  (result)="salesPersonChanged($event)">
                </multiselect-autocomplete-sales-person>
              </div>
            </div>
            <div class="row" *ngIf="toggleFilterConsumer">
              <div class="col-sm-1 col-md-1">
                <mat-icon class="mat-close-icon" (click)="removeFilterConsumer()">close</mat-icon>
              </div>
              <div class="col-sm-11 col-md-11">
                <multiselect-autocomplete-consumer
                  [itemMultiCtrl]="filterForm.controls['consumer']"
                  [data]="consumers"
                  [outlineLabel]="'FILTER.SELECT_CONSUMER' | translate"
                  [pageIsPageable]="isPagePageable"
                  [inputTotalPages]="itemTotalPages"
                  [inputPageNumber]="itemPageNumber"
                  [inputLastPage]="itemLastPage"
                  [branchIds]="branchIds"
                  [branchId]="currentUser.branchId"
                  (result)="consumerChanged($event)">
                </multiselect-autocomplete-consumer>
              </div>
            </div>
          </form>
        </div>
        <div class="sales-report-details">
          <button  class="action-btn-preview"
                   [disabled]="filterForm.invalid"
                  (click)="preview(filterForm.value)">{{'FILTER.PREVIEW_THE_REPORT'|translate}}</button>
<!--          <button class="action-btn-export">{{'FILTER.EXPORT_THE_REPORT'|translate}}</button>-->
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'SALES.SALES_DETAILS'|translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <ng-template [ngIf]="constant.userIsAdmin()">
            <div class="row firstRight" style="width: 100%">
              <div class="col-lg-3 col-md-12  col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">
                    <div>
                      <select (change)="customerCountServiceChange($event.target.value)">
                        <option [value]="null">{{"DASHBOARD.SERVICE"|translate}}</option>
                        <option [value]="service.id" *ngFor="let service of services">{{service.name}}</option>
                      </select>
                      <select (change)="customerCountPeriodChange($event.target.value)">
                        <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="cardBody">
                    <span>{{customersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.CUSTOMERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">
                    <select name="period" (change)="approvedOrdersCountTypeChange($event.target.value)">
                      <option [value]="orderType.value" *ngFor="let orderType of orderTypes">{{orderType.bundleCode
                        |translate}}</option>
                    </select>
                    <select (change)="approvedOrdersCountPeriodChange($event.target.value)">
                      <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                      </option>
                    </select>
                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{approvedOrdersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CUSTOMERS'|translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="onTopCustomerPeriodChanged($event)" [value]="periods[0].value">
                  <mat-button-toggle [value]="periods[0].value">{{periods[0].bundleCode |translate}}
                  </mat-button-toggle>
                  <mat-button-toggle [value]="periods[1].value">{{periods[1].bundleCode |translate}}
                  </mat-button-toggle>
                  <mat-button-toggle [value]="periods[2].value">{{periods[2].bundleCode |translate}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topCustomersChart.data.datasets"
                        [labels]="topCustomersChart.data.labels"
                        [colors]="topCustomersChart.colors" [options]="topCustomersChart.options"
                        [chartType]="topCustomersChart.type">
                </canvas>
              </div>
            </div>
            <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;">
              <div class="canvasHeader">
                <h3 class="truncate" matTooltip="Info about the action">
                  {{'DASHBOARD.TOP_CUSTOMER_SALES'|translate}}
                </h3>
                <div class="ToolbarSpacer"></div>
                <select (change)="topCustomerSalesCountryChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.COUNTRY"|translate}}</option>
                  <option [value]="country.id" *ngFor="let country of countries">{{country.name}}</option>
                </select>
                <mat-button-toggle-group (change)="onTopCustomerSalesChanged($event)" [value]="periods[0].value">
                  <ng-template ngFor let-period [ngForOf]="periods">
                    <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                  </ng-template>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topCustomerSalesChart.data.datasets"
                        [labels]="topCustomerSalesChart.data.labels" [colors]="topCustomerSalesChart.colors"
                        [options]="topCustomerSalesChart.options" [chartType]="topCustomerSalesChart.type">
                </canvas>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="constant.userIsCustomer() || constant.userIsSupervisor() ">
            <div class="row firstRight" style="width: 100%">
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">
                    <select class="col-sm-6 col-md-6" (change)="approvedOrdersCountPeriodChange($event.target.value)"
                            style="flex: 0 0 50px;">
                      <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                      </option>
                    </select>
                    <select (change)="approvedOrdersCountTypeChange($event.target.value)">
                      <option [value]="orderType.value" *ngFor="let orderType of orderTypes">
                        {{orderType.bundleCode|translate}}</option>
                    </select>
                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{approvedOrdersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardBody">
                    <span>{{consumersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.CONSUMERS"|translate}}</span>
                  </div>
                  <!-- <div class="cardFooter">
                      <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_CONSUMERS' |translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="onTopConsumerPeriodChanged($event)" [value]="periods[0].value">
                  <ng-template ngFor let-period [ngForOf]="periods">
                    <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                  </ng-template>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topConsumersChart.data.datasets"
                        [labels]="topConsumersChart.data.labels"
                        [colors]="topConsumersChart.colors" [options]="topConsumersChart.options"
                        [chartType]="topConsumersChart.type">
                </canvas>
              </div>
            </div>
            <div class="topElementChart">
              <div class="canvasHeader">
                <h3 class="truncate smallElementWidth">{{'DASHBOARD.TOP_SALES_ITEMS'|translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="onTopSalesItemChanged($event)" [value]="periods[0].value">
                  <ng-template ngFor let-period [ngForOf]="periods">
                    <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                  </ng-template>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="topSalesItemsChart.data.datasets"
                        [labels]="topSalesItemsChart.data.labels" [colors]="topSalesItemsChart.colors"
                        [options]="topSalesItemsChart.options" [chartType]="topSalesItemsChart.type">
                </canvas>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="constant.userIsAccManager()">
            <div class="row firstRight">
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">
                    <select (change)="customerCountServiceChangeAM($event.target.value)">
                      <option [value]="null">{{"DASHBOARD.SERVICE"|translate}}</option>
                      <option [value]="service.id" *ngFor="let service of services">{{service.name}}</option>
                    </select>
                    <select (change)="customerCountPeriodChangeAM($event.target.value)">
                      <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                      </option>
                    </select>
                  </div>
                  <div class="cardBody">
                    <span>{{customersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.CUSTOMERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-6">
                <div class="smallCard">
                  <div class="cardHeader">
                    <select name="period" (change)="approvedOrdersCountTypeChangeAM($event.target.value)">
                      <option [value]="orderType.value" *ngFor="let orderType of orderTypes">{{orderType.bundleCode
                        |translate}}</option>
                    </select>
                    <select (change)="approvedOrdersCountPeriodChangeAM($event.target.value)">
                      <option [value]="period.value" *ngFor="let period of periods">{{period.bundleCode|translate}}
                      </option>
                    </select>
                  </div>
                  <div class="cardBody" style="padding: 0 5px 20px;">
                    <span>{{approvedOrdersCount}}</span>
                    <span class="cardTitle">{{"DASHBOARD.ORDERS"|translate}}</span>
                    <!-- <span>{{'13% '+("DASHBOARD.TARGET_PERCENTAGE"|translate)}}</span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;">
              <div class="canvasHeader">
                <h3>{{'DASHBOARD.ORDERS'|translate}}</h3>
                <div class="ToolbarSpacer"></div>
                <mat-button-toggle-group (change)="ordersPeriodChangeAM($event.value)" [value]="periods[0].value">
                  <mat-button-toggle [value]="periods[0].value">{{periods[0].bundleCode |translate}}
                  </mat-button-toggle>
                  <mat-button-toggle [value]="periods[1].value">{{periods[1].bundleCode |translate}}
                  </mat-button-toggle>
                  <mat-button-toggle [value]="periods[2].value">{{periods[2].bundleCode |translate}}
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-divider></mat-divider>
              <div class="canvasContainer">
                <canvas baseChart [datasets]="ordersChart.data.datasets" [labels]="ordersChart.data.labels"
                        [colors]="ordersChart.colors" [options]="ordersChart.options"
                        [chartType]="ordersChart.type">
                </canvas>
              </div>
            </div>
          </ng-template>
          <div class="topElementChart" style="background: #6d1eb5 !important;color: #FFF  !important;"
               *ngIf="constant.userIsAdmin() || constant.userIsCustomer()">
            <div class="canvasHeader">
              <h3>{{'DASHBOARD.ORDERS'|translate}}</h3>
              <div class="ToolbarSpacer"></div>
              <ng-template [ngIf]="constant.userIsAdmin()">
                <select (change)="orderPaymentMethodChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.PAYMENT_METHOD"|translate}}</option>
                  <option [value]="paymentMethod.id" *ngFor="let paymentMethod of paymentMethods">
                    {{paymentMethod.name}}</option>
                </select>
                <select (change)="orderDeliveryMethodChange($event.target.value)">
                  <option [value]="null">{{"DASHBOARD.DELIVERY_METHOD"|translate}}</option>
                  <option [value]="deliveryMethod.id" *ngFor="let deliveryMethod of deliveryMethods">
                    {{deliveryMethod.name}}</option>
                </select>
              </ng-template>
              <select (change)="orderTypeChange($event.target.value)">
                <option [value]="null">{{"DASHBOARD.ORDER_TYPE_TITLE"|translate}}</option>
                <option [value]="orderType.value" *ngFor="let orderType of orderTypes">
                  {{orderType.bundleCode|translate}}</option>
              </select>
              <mat-button-toggle-group (change)="ordersPeriodChange($event.value)" [value]="periods[0].value">
                <ng-template ngFor let-period [ngForOf]="periods">
                  <mat-button-toggle [value]="period.value">{{period.bundleCode |translate}}</mat-button-toggle>
                </ng-template>
              </mat-button-toggle-group>
            </div>
            <mat-divider></mat-divider>
            <div class="canvasContainer">
              <canvas baseChart [datasets]="ordersChart.data.datasets" [labels]="ordersChart.data.labels"
                      [colors]="ordersChart.colors" [options]="ordersChart.options" [chartType]="ordersChart.type">
              </canvas>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
