<mat-toolbar color="primary" style="padding: 0; margin: 0">
  <mat-icon *ngIf="_translate.currentLang !== 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/journal">
    arrow_back
  </mat-icon>
  <mat-icon *ngIf="_translate.currentLang === 'ar'" class="title-icon" style="margin: 0 5px;cursor: pointer;"
            routerLink="/finance/journal">
    arrow_forward
  </mat-icon>
  <div style="font-weight: bold; padding: 8px;font-size: 16px;">
    {{ "JOURNAL.VIEW.TITLE" | translate }}
  </div>
  <div class="ToolbarSpacer"></div>
  <button mat-raised-button color="pink" style="width: 120px; margin: 0 10px" [matMenuTriggerFor]="actionsMenu">
    {{ "COMMON.ACTIONS" | translate
    }}<span class="material-icons actionMenuIcon">list</span>
  </button>
  <mat-menu #actionsMenu="matMenu" class="actionsMenu">
    <button mat-menu-item
            [disabled]="!journalForm.valid"
            *ngIf="( !journal?.journalStatus['code'] || journal?.journalStatus?.code === constant.JOURNAL_STATUS.ENTERED)"
            (click)="save(journalForm)">
      {{ "COMMON.SAVE" | translate }}
    </button>
    <mat-divider
      *ngIf="( !journal?.journalStatus['code'] || journal?.journalStatus?.code === constant.JOURNAL_STATUS.ENTERED)"></mat-divider>
    <button mat-menu-item [disabled]="!journalForm.touched && !journalForm.valid"
            (click)="saveAndClose(journalForm)"
    >{{ "COMMON.SAVE_AND_CLOSE" | translate }}</button>
    <button mat-menu-item [disabled]="!journalForm.touched && !journalForm.valid"
            (click)="saveAndNew(journalForm)"
    >{{ "COMMON.SAVE_AND_NEW" | translate }}</button>
    <button mat-menu-item [disabled]="!journalForm.valid"
            *ngIf="( !journal?.journalStatus['code'] || journal?.journalStatus?.code === constant.JOURNAL_STATUS.ENTERED)"
            (click)="save(journalForm,'confirm')">
      {{ "COMMON.SAVE_AND_CONFIRM" | translate }}
    </button>
    <mat-divider
      *ngIf="( !journal?.journalStatus['code'] || journal?.journalStatus?.code === constant.JOURNAL_STATUS.ENTERED)"></mat-divider>
    <mat-divider *ngIf="journal?.journalStatus?.code === constant.JOURNAL_STATUS.CONFIRMED"></mat-divider>
    <button mat-menu-item *ngIf="journal?.journalStatus?.code === constant.JOURNAL_STATUS.CONFIRMED"
            (click)="reverseJournal()">
      {{ "JOURNAL.REVERSE" | translate }}
    </button>
    <button mat-menu-item [routerLink]="'/finance/journal'">
      {{ "COMMON.CANCEL" | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
<div style="margin: 20px 20px">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <span class="span-cord" style="margin-top: 6px">{{'JOURNAL.VIEW.HEADER'|translate}}</span>
      </mat-expansion-panel-header>
      <div style="margin-top: 7px;">
        <div class="row row-desk" style="justify-content: flex-end;margin-bottom: 8px;">
          <status-tracker
            [ngClass]="{'status-ar tracker-desk-ar':_translate.currentLang === 'ar','status-en tracker-desk-en':_translate.currentLang === 'en'}"
            *ngIf="journal" [status]="journalStatus"
            [currentStatus]="journal.journalStatus"></status-tracker>
        </div>
      </div>
      <div style="margin-top: 7px;">
        <form [formGroup]="journalForm">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "JOURNAL.VIEW.NAME" | translate }}</mat-label>
                <input matInput formControlName="journalName" required/>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "JOURNAL.POSTING_DATE"  | translate }}</mat-label>
                <input matInput (dateChange)="dateOnChange($event.value)" formControlName="postingDate" required [matDatepicker]="picker1" [max]="maxDate"/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "FILTER.SELECT_YEAR" | translate }}</mat-label>
                <mat-select formControlName="fisicalYear" [compareWith]="objectComparisonFunction" required>
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{ year.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "FILTER.SELECT_MONTH" | translate }}</mat-label>
                <mat-select formControlName="month" [compareWith]="objectComparisonFunction" required>
                  <mat-option *ngFor="let month of months" [value]="month">
                    {{ month.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "START_RECEIVING_INVENROTY.SELECT_BRANCH" | translate }}</mat-label>
                <mat-select formControlName="branch" (selectionChange)="branchChanged($event.value)" [compareWith]="objectComparisonFunction" required>
                  <mat-option *ngFor="let branch of branches" [value]="branch">
                    {{ branch.branchName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "BANK.CURRENCY" | translate }}</mat-label>
                <mat-select formControlName="currency" [compareWith]="objectComparisonFunction" required>
                  <mat-option *ngFor="let currency of currencies" [value]="currency">
                    {{ currency.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-sm-12">
              <mat-form-field appearance="outline">
                <mat-label>{{ "JOURNAL.JOURNAL_SOURCE" | translate }}</mat-label>
                <mat-select formControlName="journalSource" [compareWith]="objectComparisonFunction">
                  <mat-option *ngFor="let source of journalSource" [value]="source">
                    {{ source.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12" style="padding: 0">
              <mat-form-field appearance="outline">
                <mat-label>{{ "PAYABLE_INVOICE.VIEW.DESCRIPTION" | translate }}
                </mat-label>
                <textarea matInput formControlName="description" required></textarea>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ "JOURNAL.LINES" | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div style="display: flex;justify-content: flex-end;align-items: center">
          <button class="add-btn"
                  [disabled]="journal && journal?.journalStatus?.code !== constant.JOURNAL_STATUS.ENTERED"
                  (click)="addLine()">{{'COMMON.ADD' | translate}}</button>
        </div>
        <div class="row" style="overflow-x: auto;">
          <!-- *ngIf="itemsDataSource.filteredData" -->
          <mat-table #table [dataSource]="journalDetailsDataSource" matSort>
            <!-- line Column -->
            <ng-container matColumnDef="line">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">{{ "JOURNAL.LINE" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let line">
                <p class="text-truncate">{{journalDetailsDataSource.filteredData.indexOf(line) + 1}}</p>
              </mat-cell>
            </ng-container>
            <!-- account Column -->
            <ng-container matColumnDef="account">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">
                {{ "JOURNAL.ACCOUNT" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let line">
                <p
                  class="text-truncate">{{ line?.branchAccount.account?.code + ' - ' + line?.branchAccount.account?.name }}</p>
              </mat-cell>
            </ng-container>
            <!-- price Column -->
            <ng-container matColumnDef="debit">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">{{ "JOURNAL.DEBIT" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let line">
                <p class="text-truncate">{{ line?.debitAmount }}</p>
              </mat-cell>
            </ng-container>
            <!-- account Column -->
            <ng-container matColumnDef="credit">
              <mat-header-cell mat-sort-header *matHeaderCellDef
                               class="kufi">{{ "JOURNAL.CREDIT" | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let line">
                <p class="text-truncate">{{ line?.creditAmount }}</p>
              </mat-cell>
            </ng-container>
            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let line">
                <div fxFlex="row" fxLayoutAlign="end center">
                  <button mat-icon-button
                          [disabled]="journal && journal?.journalStatus?.code !== constant.JOURNAL_STATUS.ENTERED"
                          [matMenuTriggerFor]="moreMenu" (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                  </button>
                  <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item
                            (click)="editLine(line)"
                            [style.text-align]=" _translate?.currentLang === 'ar' ? 'right' : 'left'"
                            [class.naskh]="_translate?.currentLang === 'ar'">
                      {{ "COMMON.EDIT" | translate }}
                    </button>
                    <button mat-menu-item  [style.text-align]="
                                      _translate?.currentLang === 'ar' ? 'right' : 'left'
                                    " [class.naskh]="_translate?.currentLang === 'ar'" (click)="deleteLine(line)">
                      {{ "COMMON.REMOVE" | translate }}
                    </button>
                  </mat-menu>
                </div>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let line; columns: displayedColumns"
                     (click)="journal?.journalStatus?.code !== constant.JOURNAL_STATUS.ENTERED ? $event.stopPropagation() : editLine(line)"></mat-row>
          </mat-table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

