/** Start Of Stepper */

.container-steper {
  width: 25%;
  margin: auto;
}

.step {

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background-color: cream;
}

.v-stepper {
  position: relative;
}


/* regular step */
.step .circle {
  background-color: gray;
  border: 3px solid gray;
  border-radius: 100%;
  width: 16px;
  /* +6 for border */
  height: 16px;
  display: inline-block;
}

.step .line {
  top: 22px;
  left: 10px;
  height: 100%;

  position: absolute;
  border-left: 3px solid gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: #6a1b9a;
  border-color: #6a1b9a;
}


.step.active .circle {
  visibility: visible;
  border-color: #6a1b9a;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  /*     visibility: hidden; */
  /*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:last-child .line {
  border-left: none;
  z-index: -1;
  /* behind the circle to completely hide */
}

.content {
  margin: 0 2px;
  display: inline-block;
  width: 100%
}

.active-content {
  color: #6a1b9a;
}


/** end Of Stepper */

.cart-bottom-space {
  margin-bottom: 10px;
}


/* Start Of Statistics Block */

.card {
  border-radius: 14px;
  color: #333;
  padding: 0.5em 1.6em;
  display: flex;
  box-shadow: 2px 2px 1px 2px #efefef;
  height: auto;
  overflow: hidden;

  margin: 20px 0;
  text-align: center;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3em;
}

.purple-card {
  background: linear-gradient(to right, #8467D7, #893BFF);
}

.orange-card {
  background: linear-gradient(to right, #C24641, #DC381F);
}

.green-card {
  background: linear-gradient(to right, #4CC552, #4CC417);
}

.blue-card {
  background: linear-gradient(to right, #48CCCD, #43C6DB);
}

.content h3 {
  text-align: center;
}

.card-icon-div {
  margin: auto;
}

.card-icon {
  text-align: right;
  background: #fff;
  font-size: 2em;
  border-radius: 38px;
  padding: 16px 16px;
}

.mt-2 {
  margin-top: 18px;
}

.card-heading {
  margin-top: 0.3em !important;
}

.purple-icon {
  color: #893BFF;
  box-shadow: 2px 2px 1px 2px #893BFF;
}

.orange-icon {
  color: #DC381F;
  box-shadow: 2px 2px 1px 2px #DC381F;
}

.green-icon {
  color: #4CC417;
  box-shadow: 2px 2px 1px 2px #4CC417;
}

.blue-icon {
  color: #43C6DB;
  box-shadow: 2px 2px 1px 2px #43C6DB;
}


/* Start Of Statistics Block */
.icon-container {
  height: 30px;
  width: 100%
}

.increment-icon {
  background-color: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}


.itemValue {
  font-weight: bold !important;
  text-align: center;
}


.cart-bottom-space {
  margin-bottom: 10px;
}


/* Start Of Statistics Block */

.card {
  border-radius: 14px;
  color: #333;
  padding: 0.5em 1.6em;
  display: flex;
  box-shadow: 2px 2px 1px 2px #efefef;
  height: auto;
  overflow: hidden;

  margin: 5px 0;
  text-align: center;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 3em;
}

.purple-card,
.orange-card,
.green-card,
.blue-card {
  text-align: center;
  color: #FFF;
  justify-content: center;
}

.purple-card h3,
.orange-card h3,
.green-card h3,
.blue-card h3 {
  font-size: 30px !important;
  margin: 10px auto !important;
}

.purple-card {
  background: linear-gradient(to right, #8467D7, #893BFF);
}

.orange-card {
  background: linear-gradient(to right, #C24641, #DC381F);
}

.green-card {
  background: linear-gradient(to right, #4CC552, #4CC417);
}

.blue-card {
  background: linear-gradient(to right, #48CCCD, #43C6DB);
}

.content h3 {
  text-align: center;
}

.card-icon-div {
  margin: auto;
}

.card-icon {
  text-align: right;
  background: #fff;
  font-size: 2em;
  border-radius: 38px;
  padding: 16px 16px;
}

.mt-2 {
  margin-top: 18px;
}

.card-heading {
  margin-top: 0.3em !important;
}

.purple-icon {
  color: #893BFF;
  box-shadow: 2px 2px 1px 2px #893BFF;
}

.orange-icon {
  color: #DC381F;
  box-shadow: 2px 2px 1px 2px #DC381F;
}

.green-icon {
  color: #4CC417;
  box-shadow: 2px 2px 1px 2px #4CC417;
}

.blue-icon {
  color: #43C6DB;
  box-shadow: 2px 2px 1px 2px #43C6DB;
}


/* Start Of Statistics Block */
.icon-container {
  height: 30px;
  width: 100%
}

.increment-icon {
  background-color: #ddd;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}


.fw {
  width: 100%;
}


////////@at-root


.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .50);
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #3f51b5;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 16px;
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, .87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, .54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}


.grid-item {
  text-align: center;
  padding: 15px;
  margin: 0;
  box-shadow: 2px 0px 0px 1px rgb(199, 199, 199);
  transition: all .25s ease;
  max-width: 300px;
  position: relative;
}

.grid-item {
  box-shadow: 0px 0px 20px -1px rgb(99, 99, 99);
  padding: 5px 10px;
}


.grid-item h1 {
  font-size: 24px;
  margin-bottom: 10px
}

.grid-item h3 {
  margin-top: 10px;
}

.grid-item .quantity-input {
  margin: 5px auto;
}


.grid-item .quantity-input input {
  max-width: 50px;
}

.add-to-cart-button {
  background: green;
}

.mini-cart-totals {
  text-align: center;
}

#total-price {
  float: left;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-left: 20px;
}

#total-items {
  float: right;
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
  min-width: 100px;
  margin-right: 20px;
}

#total-items p,
#total-price p {
  font-weight: 700;
  color: grey;
  margin-bottom: 0;
}

#total-items span,
#total-price span {
  font-size: 16px;
  font-weight: 700;
  color: grey;
}

.itemImage {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  border: 1px solid;
  box-shadow: 1px 0px 5px 2px rgb(189 113 235);
}

.discountLabel {
  position: absolute;
  right: 0;
  background: rgb(106 27 154);
  top: 0;
  color: #FFF;
  bottom: 0;
  height: 100%;
  display: block;
}

.discountLabel span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 15px 10px;
}

.itemValue {
  font-weight: bold !important;
}

.deleteIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  color: #E44891 !important
}

.deleteIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.incAndDecIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incAndDecIcon {
  font-size: 35px;
  color: #E44891 !important;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.incAndDecIcon:hover {
  transform: scale(1.2);
}

.customerFrontFace {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
}

.customerBackFace {
  color: #E44891;
  font-size: 30px;
  position: absolute;
  cursor: pointer;
  bottom: 0px;
}

mat-expansion-panel {
  .flip-card {
    background-color: transparent;
    height: 410px;
    perspective: 1000px;
    padding-top: 5px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
  }

  .ToggleFlip {
    transform: rotateX(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
  }


  .flip-card-front {
    z-index: 9;
  }

  .flip-card-back {
    transform: rotateX(180deg);
    background: #FFF;

    .catLink {
      cursor: pointer;
      font-weight: bold;
      color: #E44891;
      font-size: 18px;
      width: 50px;
      margin: 10px auto;
    }
  }
}


.recievingItem {
  box-shadow: 0px 1px 2px 3px #e1cad7 !important;
  width: 240px;
  margin: 5px;
  padding: 5px;
  height: 352px;

  .itemRecievingInfo {
    min-height: calc(386px - 170px);
  }

  .itemRecievingInfo div {
    padding: 0 !important;
  }

  img {
    height: 70px;
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .recievingItem {
    width: 100% !important;
  }
}


.itemHeader {
  padding: 0 !important;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.span-invoice-text {
  font-size: 17px;
  font-weight: bold;
  color: #A12568;
}

.span-cord {
  font-size: 20px;
  color: #3B185F;
}

.span-invoice-value {
  font-size: 18px;
  font-weight: bold;
  color: #3B185F;
}

.span-invoice-centerd {
  font-size: 15px;
  font-weight: bold;
  color: #3B185F;
  text-align: center;
}

.add-btn {
  margin: 5px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  background-color: #E44891;
  color: #fff;
  padding: 8px 20px;
}
.add-btn:disabled,
.add-btn[disabled]{
  background: rgb(161 159 159 / 22%) !important;
  color: rgba(0, 0, 0, 0.66) !important;
  cursor: default;
}
.status-ar {
  margin-left: 23px;
}

.status-en {
  margin-right: 20px;
}

.flex-btn {
  display: flex;
  text-align: center;
  overflow: auto;
  overflow-y: hidden;
  padding-right: 12px;
  justify-content: flex-end;
}

.summar-div {
  text-align: center;
  width: 70%;
  margin: auto;
}

@media (min-width: 280px) and (max-width: 640px) {
  .summar-div {
    text-align: center;
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .row-desk {
    position: relative;
  }
  .tracker-desk-ar {
    position: absolute;
    top: -56px;
    left: 41px;
  }
}

@media (min-width: 900px) {
  .row-desk {
    position: relative;
  }
  .tracker-desk-ar {
    position: absolute;
    top: -56px;
    left: 41px;
  }
  .tracker-desk-en{
    position: absolute;
    top: -56px;
    right: 41px;
  }
}


