<div class="page-header">
  <mat-toolbar color="primary" class="row mat-toolbar-height">
    <div class="header-item">

   <span class="material-icons" style="direction: inherit; margin: 6px 10px;cursor: pointer;"
                     routerLink="/finance/finance-transaction">
        {{ _translate.currentLang !== 'ar' ? 'arrow_back' : 'arrow_forward'}}
 </span>
        <span>{{ "JOURNAL.LIST_TITLE" | translate }}</span>
      <span class="ToolbarSpacer"></span>
      <div class="row">
        <div class="view_icons_container" >
          <mat-icon style="cursor: pointer" [ngClass]="{'selectedView': _view.grid_view}" (click)="_view.gridView()">
            apps
          </mat-icon>
          <mat-icon style="cursor: pointer" [ngClass]="{'selectedView': _view.list_view}" (click)="_view.listView()">
            view_headline
          </mat-icon>
        </div>
      <advanced-search-component
        (filterValue)="getDatabySearch($event.searchCriteria)" [(searchValue)]="searchData"
        [searchConfig]="searchConfiguration"
        placeholder="JOURNAL.JOURNAL_NAME">
      </advanced-search-component>
    </div>
    </div>
  </mat-toolbar>
  <div>

    <ng-template [ngIf]="_view.grid_view">
    <div style="display: flex;flex-wrap: wrap;justify-content: center">
      <mat-card class="custom-card" *ngFor="let journal of listOfJournals; let i = index"
                [routerLink]="'./' +journal.id">
        <div class="journal-head">
          <div class="journal-num">
            <p class="number">{{'JOURNAL.JOURNAL_NUMBER'|translate}} : {{journal.journalNumber}}</p>
            <p
              class="journal-date"> {{ journal?.createdDate ? (journal?.createdDate + ' UTC' | date:'medium') : ''}}</p>
          </div>
          <div style="display: flex;align-items: center"  [ngClass]="{'row':journal.journalStatus.code === constant.JOURNAL_STATUS.ENTERED}">
            <div class="status" [ngClass]="{'col-sm-9':journal.journalStatus.code === constant.JOURNAL_STATUS.ENTERED}">
              <p class="status-text"
                 [ngStyle]="{'background-color':journal.journalStatus['color']}">{{journal.journalStatus.name }}</p>
            </div>
            <button *ngIf="journal.journalStatus.code === constant.JOURNAL_STATUS.ENTERED" (click)="$event.stopPropagation()" [ngClass]="{'col-sm-3':journal.journalStatus.code === constant.JOURNAL_STATUS.ENTERED}" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div>
                <button (click)="deleteJournal(journal.id)" mat-menu-item><span>{{'COMMON.REMOVE' | translate}}</span></button>
              </div>
            </mat-menu>
          </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="journal-info">
          <div class="branch row text-margin">
            <p class="col-md-4">{{'JOURNAL.JOURNAL_NAME'|translate}}</p>
            <p class="col-md-8">{{journal.journalName}}</p>
          </div>
          <div class="branch row text-margin">
            <p class="col-md-4">{{'ORDER.BRANCH_NAME'|translate}}</p>
            <p class="col-md-8">{{journal.branch?.branchName}}</p>
          </div>
          <!--          <div class="client row text-margin">-->
          <!--            <p class="col-md-4">{{'JOURNAL.JOURNAL_CATEGORY'|translate}}</p>-->
          <!--            <p class="col-md-8">-</p>-->
          <!--          </div>-->
          <div class="payment row text-margin">
            <p class="col-md-4">{{'JOURNAL.JOURNAL_SOURCE'|translate}}</p>
            <p class="col-md-8">{{journal?.journalSource?.name}}</p>
          </div>

          <div class="discount row text-margin">
            <p class="col-md-4">{{'BANK.CURRENCY'|translate}}</p>
            <p class="col-md-8">{{journal?.currency?.nameAr}}</p>
          </div>

          <div class="horizontal-line"></div>
          <div class="total row text-margin">
            <p class="col-md-4">{{'JOURNAL.TOTAL'|translate}}</p>
            <p class="col-md-8" style="font-weight: bold;font-size: 16px">{{journal.totalCreditAmount ? journal.totalCreditAmount : 0 | currency:' '}}</p>
          </div>
          <!--          <div class="horizontal-line"></div>-->
          <!--          <div class="row">-->
          <!--            <div  style=" padding: 0 !important;"><p class="returns">-</p></div>-->
          <!--          </div>-->
        </div>

      </mat-card>
    </div>
    </ng-template>
    <ng-template [ngIf]="_view.list_view">
      <mat-card style="box-shadow: 2px 2px 5px 1px rgba(0,0,0,.4);   cursor: pointer;"
                *ngFor="let journal of listOfJournals; let i = index" [routerLink]="'./' + journal.id">
        <div class="row catd-header">
          <div class="col-lg-4 col-md-6 col-sm-12" [title]="'JOURNAL.JOURNAL_NUMBER'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'JOURNAL.JOURNAL_NUMBER'|translate}}</span> :
                <span class="value">{{journal.journalNumber}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" [title]="'ORDER.BRANCH_NAME'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'ORDER.BRANCH_NAME'|translate}}</span> :
                <span class="value"> {{journal.branch.branchName}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12" [title]="'JOURNAL.POSTING_DATE'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'JOURNAL.POSTING_DATE'|translate}}</span> :
                <span class="value">{{ journal?.createdDate ? (journal?.createdDate + ' UTC' | date:'medium') : ''}}</span>
              </div>
            </div>
          </div>
          <div [class.status-container-ar]="_translate.currentLang === 'ar'"
               [class.status-container-en]="_translate.currentLang !== 'ar'"
               [ngStyle]="{'background-color': journal.journalStatus['color']}">
            <span class="bold badge status-value"> {{ journal.journalStatus.name }} </span>
          </div>
          <div *ngIf="journal.journalStatus.code === constant.JOURNAL_STATUS.ENTERED"
               [class.journal-del-icon-ar]="_translate.currentLang === 'ar'"
               [class.journal-del-icon-en]="_translate.currentLang !== 'ar'">
            <button  (click)="$event.stopPropagation()"   mat-icon-button [matMenuTriggerFor]="menu"
                     aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div>
                <button (click)="deleteJournal(journal.id)" mat-menu-item><span>{{'COMMON.REMOVE' | translate}}</span></button>
              </div>
            </mat-menu>
          </div>
        </div>
        <mat-divider class="cardDivider"></mat-divider>
        <br/>
        <div class="row" style="padding-bottom: 3px;">
          <div class="col-md-4 col-sm-12" [title]="'JOURNAL.JOURNAL_NAME'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'JOURNAL.JOURNAL_NAME'|translate}}</span> :
                <span class="value">{{journal.journalName}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12" [title]="'JOURNAL.JOURNAL_SOURCE'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'JOURNAL.JOURNAL_SOURCE'|translate}}</span> :
                <span class="value">{{journal?.journalSource?.name}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12" [title]="'BANK.CURRENCY'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10 ">
                <span class="key">{{'BANK.CURRENCY'|translate}}</span>
                :  <span class="value">{{journal?.currency?.nameAr}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12" [title]="'JOURNAL.TOTAL'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10 ">
                <span class="key">{{'JOURNAL.TOTAL'|translate}}</span> :
                <span class="value">{{journal.totalCreditAmount ? journal.totalCreditAmount : 0 | currency:' '}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12" [title]="'PAYABLE_INVOICE.VIEW.DESCRIPTION'|translate">
            <div class="row">
              <div class="col-md-11 col-sm-10">
                <span class="key">{{'PAYABLE_INVOICE.VIEW.DESCRIPTION'|translate}}</span>
                :
                <span class="value">{{journal.description}}</span> </div>
            </div>
          </div>
        </div>
      </mat-card>
    </ng-template>
  </div>

  <!-- Paginator   -->
  <mat-paginator style="background: transparent" #paginator [length]="page.totalElements" [pageIndex]="page.pageNumber"
                 [pageSize]="page.pageSize"
                 [pageSizeOptions]="constant.pageSizeOptions" (page)="onPageChange(searchData,$event)"
                 showFirstLastButtons
                 [hidePageSize]="true">
  </mat-paginator>


</div>
<button style="cursor: pointer;" mat-fab class="accent" id="add-new-button" (click)="addNew()"
        [style.right]="_translate?.currentLang === 'ar' ? 'auto' : '24px'"
        [style.right]="_translate?.currentLang !== 'ar' ? '24px' : 'auto'"
        [style.left]="_translate?.currentLang === 'ar' ? '24px' : 'auto'"
        [style.left]="_translate?.currentLang !== 'ar' ? 'auto' : '24px'">
  <mat-icon>add</mat-icon>
</button>

