.itemIcon {
  margin-inline-start: 10px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  padding: 16px 0 0 0;
  margin-bottom: 16px;

  .fw {
    width: 100%;
  }

  .title {
    position: relative;

    .title-icon {
      cursor: default;
      position: absolute;
      top: 3px;
    }

    .rtl-title-text {
      padding-right: 32px;
    }

    .ltr-title-text {
      padding-left: 32px;
    }
  }
}

.mat-error {
  display: flex;
  flex-direction: row-reverse;
}

.searchContainer {
  display: flex;
  align-items: center;
}
.header-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: 100%;
}

.mat-card-header-text {
  display: none;
}


mat-card{
  >mat-card{
    padding-top: 36px;
  }
}

.status-value {
  padding: 6px 16px;
}

.custom-card {
  font-weight: 600;
  color: #300458;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  width: 300px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  .journal-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .journal-date {
      font-size: 12px;
      color: var(--gray3);
    }

    .status-text {
      padding: 5px 8px;
      border-radius: 7px;
      color: white;
    }
  }

  .text-margin {
    margin: 5px 0px;
    align-items: center;
  }

  .horizontal-line {
    height: 1px;
    width: 100%;
    background-color: var(--gray1);
    margin: 9px 0px;
  }

  .returns {
    font-size: 12px;
    color: var(--gray3);
  }
}


.catd-header {
  padding: 4px;
  cursor: pointer;
  padding-bottom: 6px;
  position: relative;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 25px;
}

.link-style > span,
.link-style {
  font-size: 12px;
}

.link-style > span {
  color: gray;
}

//.selectedView {
//  color: #e44891;
//}
