.fileContainer{
  display: inline-block;
 // height: 60px;
 // width: 150px;
  text-align: center;
}

.uploadIcon {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.fileText {
  width: 100%;
  margin: 7px;
  font-weight: bold;
  color: #666;
}
