<div class="cardContainer">
  <mat-card [style.text-align]="_translate.currentLang === 'ar' ? 'right' : 'left'" *ngFor="let card of cards;" [routerLink]='card.urlNavigate'>

    <mat-card-content>
      <span [style.background-color]="card.color"    class="material-icons">
        {{card.icon}}
       </span>
      <p class="card-title">
        {{card.title |translate}}

      </p>
      <p class="card-desc" >
        {{card.details |translate}}
      </p>
    </mat-card-content>

  </mat-card>
</div>
