<ul  [ngClass]="{'progress-ar':_translate.currentLang === 'ar','progress-en':_translate.currentLang === 'en'}">
  <li *ngFor="let stObj of status" [ngClass]="{'active':stObj.code === currentStatus.code}">
    <ng-template [ngIf]="_translate.currentLang === 'ar'">{{stObj.nameAr}}</ng-template>
    <ng-template [ngIf]="_translate.currentLang === 'en'">{{stObj.nameEn}}</ng-template>
  </li>
</ul>
