// ar
.progress-ar {
  padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 12px;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center;
}

.progress-ar li {
  float: right;
  padding: 10px 21px 10px 21px;
  background: #9c54cc;
  color: #fff;
  position: relative;
  border-top: 1px solid #9c54cc;
  border-bottom: 1px solid #9c54cc;
  //width: 32%;
  margin: 0 1px;
}

.progress-ar li:before {
  content: '';
  border-right: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.progress-ar li:after {
  content: '';
  border-right: 16px solid #9c54cc;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 20;
}

.progress-ar li.active {
  background: #6a259a;
}

.progress-ar li.active:after {
  border-right-color: #6a259a;
}
// en
.progress-en {
  padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 12px;
  clear: both;
  line-height: 1em;
  margin: 0 -1px;
  text-align: center;
}

.progress-en li {
  float: left;
  padding: 10px 10px 10px 17px;
  background: #9c54cc;
  color: #fff;
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  //width: 32%;
  margin: 0 1px;
}

.progress-en li:before {
  content: '';
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-en li:after {
  content: '';
  border-left: 16px solid #9c54cc;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

.progress-en li.active {
  background: #6a259a;
}

.progress-en li.active:after {
  border-left-color: #6a259a;
}
