.chart-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  height: 100%;
  .code {
    text-align: center;
  }

  .mat-form-field {
    display: inline-block !important;
    margin: 15px 0;
  }
  //::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  //  height: 50px !important;
  //}
  ::ng-deep mat-label {
    color: #2A0944;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.7em 0.2em !important;
  }
  ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }
  ::ng-deep .mat-form-field-underline {
    display: none !important;
  }
  ::ng-deep .mat-option {
    background: transparent;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.4em 0.4em 0 0.4em !important;
    border-radius: 5px !important;
    border: 1px solid var(--gray1) !important;
    background: transparent ;
  }
  .save-btn {
    background-color: #8731d4;
    overflow: hidden;
    padding: 0.3rem 2rem;
    border-radius: 8px;
    display: inline-block;
    color: whitesmoke;
  }
}
